.list-pages {
  &__item {
    margin-left   : auto;
    margin-right  : auto;
    margin-bottom : rem-calc(20);
    list-style    : none;

    li {
      color          : #444444;
      font-size      : rem-calc(14);
      padding-bottom : rem-calc(10);

      a {
        color         : inherit;
        font-size     : inherit;
        line-height   : rem-calc(16);
        border-bottom : rem-calc(1) solid #d0d0d0;

        &:hover {
          opacity : 0.8;
        }
      }
    }
  }

}