.nav-area {
  display     : flex;
  align-items : center;
  list-style  : none;
  margin-left : 0;
  min-height  : rem-calc(38);
  li {
    white-space     : nowrap;
    margin-right    : rem-calc(7);
    line-height     : rem-calc(20);
    padding-left    : rem-calc(15);
    position        : relative;
    color           : #444444;
    font-size       : rem-calc(14);
    text-decoration : underline;

    &::before {
      content          : "";
      display          : inline-block;
      position         : absolute;
      left             : 0;
      top              : 50%;
      transform        : translateY(-50%);
      width            : rem-calc(4);
      height           : rem-calc(4);
      border-radius    : 50%;
      background-color : #a7a9ac;
    }

    &:first-child {
      padding-left : 0;
      &::before {
        display : none;
      }
    }

    @include breakpoint(medium up) {
      margin-right : rem-calc(9);
    }
  }

  button {
    text-decoration : underline;
  }
}