// plus on button
// border radius on inputs

// Account-Centric (Login/Register)
// =====

// page-level
.view-register, .view-login, .view-passwordreset {

  // layout
  .content-wrapper {
    padding-bottom: 0;
  }

  .container, .introduction {
    @include box-sizing(border-box);
    @include clearfix();
    margin: 0 auto;
    width: 960px;
    background: $container-bg;
  }

  .container {
    padding: $baseline $baseline ($baseline*2) $baseline;
  }

  .introduction {
    padding: 0;

    header {
      position: relative;

      // CASE: normal typographical headings
      h1 {
        margin-bottom: $baseline;
        padding-bottom: $baseline;
      }

      // CASE: marketing/imageery-based headings
      .title {
        position: absolute;
        top: ($baseline*2.5);

        .title-super, .title-sub {
          display: block;
          letter-spacing: 0;
        }

        .title-super {
          @include font-size(26);
          @include line-height(18);
          text-transform: uppercase;
          color: $header-graphic-super-color;
        }

        .title-sub {
          @include font-size(20);
          @include margin-left($baseline*2);
          text-transform: lowercase;
          color: $header-graphic-sub-color;
        }
      }
    }
  }
}

// shared
.login, .register, .passwordreset, #forgot-password-modal #password-reset {

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
  }

  label {
    font-style: normal;
  }
  strong {
    font-weight: 600;
  }

  // basic layout
  .content, aside {
    margin: $baseline 0 0 0;
  }

  .content {

  }

  aside {
    p, ol, ul {
      font-size: 14px !important;
    }
  }

  // content
  .content {
  }

  // aside
  aside {

    .btn {
      margin: 0 0 ($baseline*2) 0;

      &:last-child {
        margin-bottom: 0;
      }

    }

    .btn-login {

      h3.title,
      .instructions {
        display: inline-block;
        margin-bottom: 0;
      }

      .btn-login-action {
        padding: ($baseline/10) ($baseline*0.75);
        @include margin-left($baseline/4);
      }
    }
  }

  // forms
  form {

    .instructions {
      @extend %body-text-emphasized;
      margin-bottom: $baseline*2;
      font-size: 16px;
    }

    .group-form {
      margin: 0;
      padding-top: 0;
      padding-bottom: $baseline;
    }

    .list-input {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    // field groups
    .field-group {
      @include clearfix();
      margin: 0 0 $baseline 0;

      .field {
        @include float(left);
        @include margin(0, ($baseline*1.5), 0, 0);
        display: block;
        border-bottom: none;
        padding-bottom: 0;

        input, textarea {
          width: 100%;
          font-weight: 600;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .group-form-personalinformation {

      .field-education-level,
      .field-gender,
      .field-yob {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
      }
    }

    // individual fields
    .field {
      margin: 0 0 30px 0;

      // elements
      label {
        margin: 0 0 ($baseline/4) 0;
        color: #444;
        font-size: 14px;
        font-style: normal;
        line-height: 1.2
      }

      .tip {
        @include transition(color 0.15s ease-in-out 0s);
        display: block;
        margin-top: ($baseline/4);
        color: #444;
        font-size: em(12);
        line-height: 1.2;
        opacity: .6;
      }

      &.password {
        position: relative;

        .tip {
          position: absolute;
          top: -20px;
          text-decoration: underline;
          @include right(0);
        }
      }

      input, textarea {
        &.long {
          width: 100%;
        }

        &.short {
          width: 25%;
        }
      }

      textarea.long {
        height: ($baseline*5);
      }

      // types - password

      // types - select
      &.select {

        select {
          width: 100%;
        }
      }

      // types - checkboxes/radio buttons
      &.checkbox {

        input[type="checkbox"] {
          display: inline-block;
          width: auto;
          @include margin-right($baseline/4);
        }

        label {
          display: inline-block;
        }
      }

      // states - all
      &.disabled, &.submitted {
        color: rgba(0, 0, 0, .25);

        label {
          cursor: text;

          &:after {
            @include margin-left($baseline/4);
          }
        }

        textarea, input {
          background: $container-bg;
          color: rgba(0, 0, 0, .25);
        }
      }

      // states - focused
      &.is-focused {

        label {
          color: saturate($link-color-d1, 15%);
        }

        .tip {
          color: saturate($link-color-d1, 15%);
        }
      }

      // states - disabled
      &.disabled {
        label:after {
          color: rgba(0, 0, 0, .35);
          content: "(Disabled Currently)";
        }
      }

      &.error {

        label {
          color: $red;
        }

        input, textarea {
          border-color: tint($red, 50%);
        }
      }

      &.required {
        label {
          font-weight: 600;
        }
        label:after {
          @include margin-left($baseline/4);
          content: "*";
        }
      }

      @media (min-width: 640px) {
        .flex-container {
          align-items: center;
          height: 43px;
        }

        .flex-container > label {
          width: 100%;
          text-align: right;
          margin-bottom: 0;
        }
      }
    }
  }

  // forms - actions
  .form-actions {
    @include clearfix();

    button[type="submit"] {
      &:disabled, &.is-disabled {
        opacity: 0.3;
        cursor: default !important;
      }
    }

    &.error {

    }
  }

  // forms - third-party auth

  // UI: deco - divider
  .deco-divider {
    position: relative;
    display: block;
    margin: ($baseline*1.5) 0;
    border-top: ($baseline/5) solid $m-gray-l4;

    .copy {
      position: absolute;
      top: -($baseline);
      @include left(43%);
      padding: ($baseline/4) ($baseline*1.5);
      background: white;
      text-align: center;
      color: $m-gray-l2;
    }
  }

  // downplay required note
  .instructions .note {
    display: block;
    font-weight: normal;
    color: $gray;
  }

  .form-actions.form-third-party-auth {
    width: flex-grid(8, 8);
    margin-bottom: $baseline;

    button[type="submit"] {
      @include margin-right($baseline/2);

      .icon {
        @include margin-right($baseline/2);
        color: inherit;
      }

      &:last-child {
        margin-right: 0;
      }

      &.button-oa2-google-oauth2:hover, &.button-oa2-google-oauth2:focus {
        background-color: $google-red;
        border: 1px solid #A5382B;
      }

      &.button-oa2-google-oauth2:hover {
        box-shadow: 0 2px 1px 0 #8D3024;
      }

      &.button-oa2-facebook:hover, &.button-oa2-facebook:focus {
        background-color: $facebook-blue;
        border: 1px solid #263A62;
      }

      &.button-oa2-facebook:hover {
        box-shadow: 0 2px 1px 0 #30487C;
      }

      &.button-oa2-linkedin-oauth2:hover, &.button-oa2-linkedin-oauth2:focus {
        background-color: $linkedin-blue;
        border: 1px solid #06527D;
      }

      &.button-oa2-linkedin-oauth2:hover {
        box-shadow: 0 2px 1px 0 #005D8E;
      }

    }
  }

  // forms - messages/status
  .status {
    margin: 0 0 $baseline 0;
    border-bottom: 3px solid #c61143;
    padding: 15px;
    background: tint($yellow, 20%);

    .message-title {
      margin: 0 0 ($baseline/4) 0;
      font-size: 16px;
      font-weight: 500;
    }

    .message-copy {
      margin: 0 !important;
      padding: 0;
      list-style: none;

      li {
        margin: 0; /*0 0 ($baseline/4) 0;*/
      }
    }
  }

  .submission-error, .system-error {
    box-shadow: inset 0 -1px 2px 0 tint($red, 85%);
    border-bottom: 3px solid shade($red, 10%);
    background: tint($red, 95%);

    .message-title {
      color: #c61143 !important;
    }
  }

  // misc
  .orn-plus {
    color: $very-light-text;
    padding: 0 $baseline/4;
  }

  #register-form, #login-form, #passwordreset-form {

    .status.message {
      display: none;

      &.is-shown {
        display: block;
      }
    }

    .third-party-signin.message {
      display: none;

      &.is-shown {
        display: block;
      }
    }
  }
}

// =====

// login
.view-login {

  .header-global .nav-courseware .btn-login {
    display: none;
  }

  .introduction {
    header {
      height: 120px;
      background: transparent $login-banner-image 0 0 no-repeat;
    }
  }
}

// register
.view-register {

  .introduction {
    header {
      height: 120px;
      background: transparent $register-banner-image 0 0 no-repeat;
    }
  }
}

// password reset
.view-passwordreset {

  .header-global .nav-courseware .btn-login {
    display: none;
  }

  .introduction {
    header {
      height: 120px;
      border-bottom: 1px solid $m-gray;
      background: transparent $passwordreset-banner-image 0 0 no-repeat;
    }
  }

  .content {
    padding: 0;
  }
}

// modal password reset form
#forgot-password-modal {
  border-radius: 2px;

  .inner-wrapper {
    border-radius: 2px;
    background: $body-bg;
    padding-bottom: 0 !important;
  }

  #password-reset {
    padding: $baseline;

    header {
      margin: 0;
      padding: 0;

      &:before {
        background-image: none;
      }

      h2 {
        @extend %heading-2;
        @include text-align(left);
      }
    }

    .message {
      margin: $baseline 0 0 0;
    }

    fieldset {
      margin-bottom: ($baseline/2);
      padding: 0;
    }

    .instructions p {
      margin-bottom: ($baseline/4);
    }

    form {
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      border: none;
      padding: 0;

      .field {

        &.text, &.email, &.textarea {

          input {
            background: #fafafa;
            margin-bottom: 0;
          }
        }
      }

      .form-actions {
        padding: 0 !important;

        .action-primary {
          float: none;
          display: block !important;
          width: 100%;
        }
      }
    }
  }

  .modal-form-error {
    box-shadow: inset 0 -1px 2px 0 tint($red, 85%);
    margin: $baseline 0 ($baseline/2) 0 !important;
    padding: $baseline;
    border: none;
    border-bottom: 3px solid shade($red, 10%);
    background: tint($red, 95%);
  }
}
