.accordion-bordered {
  max-width : rem-calc(560);
  width     : 100%;

  .accordion {
    background : transparent;

    &-title {
      color           : #444444;
      font-size       : rem-calc(14);
      font-weight     : 700;
      text-transform  : uppercase;
      text-decoration : none;
      padding         : rem-calc(10 20);

      span {
        border-bottom : none;
      }

      .arrow {
        right : rem-calc(15);
        fill  : #adadad;
      }
    }

    &-item {
      border        : rem-calc(1) solid #dcdcdc;
      margin-bottom : 0;
      margin-top    : rem-calc(-1);

      &:first-child {
        margin-top : 0;
      }
    }

    &-content {
      background-color : transparent;
    }
  }
}