@import "__menu/cloud-nav__menu";

.cloud-nav {
  display          : none;
  position         : absolute;
  left             : 0;
  top              : 0;
  height           : 100%;
  background-color : #f7f7f7;
  max-width        : rem-calc(372);
  width            : 100%;

  @include breakpoint(1070px up) {
    display: block;
    max-width : rem-calc(372);
  }

}