.discount-banner {
  &__photo {
    display             : none;
    background-position : center;
    background-size     : cover;
    flex                : 0 1 45%;
    background-repeat   : no-repeat;
    max-width           : rem-calc(920);
    width               : 45%;

    @include breakpoint(440 up) {
      display : block;
    }

    @include breakpoint(810 up) {
      flex  : 0 1 50%;
      width : 50%;
    }
  }
}