.product-card {
  &__top {
    display   : flex;
    margin    : 0 auto;
    width     : 100%;
    max-width : calc(100% - #{rem-calc(20)});
    padding   : rem-calc(20 10 5 0);

    @include breakpoint(medium up) {
      max-width : 100%;
      padding   : rem-calc(35 30 5);
    }
  }
}