.exam-details {
  &__price {
    .price {
      width         : 100%;
      display       : block;
      color         : #444444;
      font-size     : rem-calc(30);
      font-weight   : 300;
      margin-bottom : rem-calc(15);
    }

    .button {
      padding-top    : rem-calc(10);
      padding-bottom : rem-calc(10);
    }
  }
}