.product-card {
  &__title {
    font-size   : rem-calc(15);
    font-weight : 700;

    @include breakpoint(medium up) {
      font-size : rem-calc(16);
    }
    a {
      &:hover {
        opacity : .6;
      }
    }
  }
}