.footer {
  &__social-icon {
    display : inline-block;

    a {
      display : block;

      &:hover {
        opacity : 1 !important;
        svg {
          fill : #c61143;
        }
      }

      &:active {
        opacity : 0.6 !important;
        svg {
          fill : #cccccc;
        }
      }
    }
    svg {
      fill    : #cccccc;
      display : block;
    }
  }
}
