.slider-mobile {
  position      : relative;
  margin-bottom : rem-calc(10);

  &__carousel.row {
    @include breakpoint(420 down) {
      margin : 0 !important;
      .column {
        padding : 0;
      }
    }
  }

  .owl-dots {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : rem-calc(50);
    text-align      : center;

    .owl-dot {
      display    : inline-block;
      position   : relative;
      text-align : center;
      width      : rem-calc(20);
      height     : rem-calc(9);
      cursor     : pointer;
      outline    : transparent;
      span {
        position         : absolute;
        left             : 50%;
        top              : 50%;
        transform        : translate(-50%, -50%);
        display          : inline-block;
        background-color : #bdbdbd;
        width            : rem-calc(4);
        height           : rem-calc(4);
        border-radius    : 50%;
      }

      &.active {
        span {
          background-color : #c61143;
        }
      }
    }
  }

  .owl-next, .owl-prev {
    z-index : 2;
    cursor  : pointer;
    .slider-mobile {
      &__arrow {
        width   : rem-calc(6);
        height  : rem-calc(10);
        opacity : .2;
        fill    : #000000;
      }
    }

    &:hover {
      .slider-mobile {
        &__arrow {
          opacity : 1;
        }
      }
    }
  }

  .owl-nav {
    position : absolute;
    width    : 100%;
    left     : 0;
    bottom   : 0;
    border   : rem-calc(1) solid #e5e5e5;
    height   : rem-calc(50);

    .owl-next {
      position  : absolute;
      right     : rem-calc(20);
      top       : 50%;
      transform : translateY(-50%);
    }

    .owl-prev {
      position  : absolute;
      left      : rem-calc(20);
      transform : translateY(-50%);
      top       : 50%;

      .slider-mobile {
        &__arrow {
          transform : rotate(180deg);
        }
      }
    }
  }
}