@import "certificate-version/certificate-version";
@import "certificate-amount/certificate-amount";
.certificate {
  border-bottom : 1px solid #e5e5e5;
  padding       : rem-calc(0 0 8);
  display       : flex;
  margin-bottom : rem-calc(30);
  &:last-child {
    border-bottom : 0;
  }
  &__photo {
    width         : rem-calc(100);
    padding-right : rem-calc(15);
    img { max-width : 100%;
      @include breakpoint(medium up) {
        margin-top : rem-calc(-10);
      }
    }
  }
  &__content {
    flex : 1;
  }
  &__title {
    padding-bottom : rem-calc(5);
    color          : #222222;
    font-size      : 18px;
    font-weight    : 700;
    text-transform : uppercase;
  }
  &__prices {
    padding-top     : rem-calc(18);
    font-size       : rem-calc(16);
    font-weight     : 400;
    line-height     : 1;
    list-style-type : none;
    margin          : 0;
    padding-bottom  : rem-calc(20);
  }
  &__price {
    display         : flex;
    justify-content : space-between;
    margin-bottom   : rem-calc(15);
    span {
      &:last-child {
        width : rem-calc(90);
        @include breakpoint(medium up) {
          width : rem-calc(160);
        }
      }
    }
  }
  &__description {
    @include breakpoint(medium up) {
      padding-right : rem-calc(70);
    }
  }
}

.certificate-list {
  margin-bottom : rem-calc(115);
}