@import "__top/b-news__top";

.b-news {
  padding       : rem-calc(20 0);
  border-bottom : rem-calc(1) solid #dcdcdc;
  border-top    : rem-calc(1) solid #dcdcdc;

  & + & {
    border-top-color: transparent;
  }

  > a {
    color       : #444444;
    font-size   : rem-calc(16);
    font-weight : 700;

    &:hover {
      opacity : .6;
    }
  }
}