@import "__log-in/authorization__log-in";

.authorization {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: rem-calc(38);
  @include breakpoint(small only) {
    font-size: 0;
  }
}

.header-global {
  .user {
    list-style-type: none;
    float: none !important;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      @include breakpoint(small only) {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .user-link {
      padding-top: 0;
      padding-bottom: 0;
      display: inline-block;
    }
    .user-dropdown {
      background-color: transparent;
      span {
        text-decoration: none;
        font-size: 18px;
      }
    }
    .user-image-frame {
      margin: 0 !important;
      padding: 0 !important;
      max-width: 22px !important;
    }
    .label-username {
      display: inline-block;
      float: none !important;
    }
    .user-dropdown-menu li > a {
      color: #444;
    }
  }
}