.slider-services {

  &__carousel {

    &.owl-carousel {
      display : block !important;

     &.owl-drag .owl-item {
       -ms-touch-action: pan-y;
       touch-action: pan-y;
     }

    }

    .owl {
      &-dots {
        display         : flex;
        justify-content : center;
      }

      &-dot {
        text-align : center;
        padding    : rem-calc(0 5);

        &.active {
          span {
            background-color : #444444;
          }
        }

        span {
          display          : inline-block;
          width            : rem-calc(8);
          height           : rem-calc(8);
          border-radius    : 50%;
          background-color : #999999;
        }
      }
    }
  }
}