@import "__title/areas__title";
@import "__icon/areas__icon";
@import "__card/areas__card";
@import "__img/areas__img";
@import "__wrap/areas__wrap";

.areas {
  padding-top    : rem-calc(25);
  padding-bottom : rem-calc(35);

  @include breakpoint(medium up) {
    padding-top    : rem-calc(50);
    padding-bottom : rem-calc(90);
  }

  .h1 {
    margin-bottom : rem-calc(25);

    @include breakpoint(medium up) {
      margin-bottom : rem-calc(70);
    }

  }

  .row.medium-collapse {

    .column:first-child {
      .areas {
        &__card {
          border-right : rem-calc(1) solid #e5e5e5;
        }
      }
    }

    .column + .column {
      .areas {
        &__card {
          margin-bottom : rem-calc(10);
          @include breakpoint(medium up) {
            border-left   : none;
            margin-bottom : 0;
          }
        }
      }
    }
  }
}