.expertise {
  &__card {
    display          : block;
    flex             : 0 1 100%;
    width            : 100%;
    padding          : rem-calc(20);
    background-color : #ffffff;
    border-top       : rem-calc(1) solid #dbdcdc;
    @extend .clearfix;

    &:hover {
      box-shadow : rem-calc(0 6px 9px) rgba(1, 1, 1, 0.1);
    }

    &:visited, &:active {
      opacity    : .6;
      box-shadow : rem-calc(0 6px 9px) rgba(1, 1, 1, 0.1);
    }

    @include breakpoint(medium up) {
      padding    : rem-calc(30);
      border     : rem-calc(1) solid #dbdcdc;
      max-width  : rem-calc(260);
      min-height : rem-calc(348);
      flex       : 0 1 33%;
    }

    .list & {
      margin-bottom : rem-calc(30);
    }
  }
}