.details {
  &__desc {
    padding-top : rem-calc(15);
    font-size   : rem-calc(16);
    line-height : rem-calc(22);
    min-height  : rem-calc(150);

    p {
      font-size   : inherit;
      line-height : inherit;
    }
  }
}