//отступ к "расписание и цены"
$table-gutter : rem-calc(40);

.course-table {
  & * {
    color       : #444444;
    font-size   : rem-calc(14);
    font-weight : 400;
  }

  th {
    text-align : left;
  }

  tr {
    &:last-child {
      td {
        border-color : transparent;
      }
    }
  }

  td {
    padding-top    : rem-calc(20);
    padding-bottom : rem-calc(20);
    vertical-align : unset;
    border-bottom  : rem-calc(1) solid #e5e5e5;

    p {
      span {
        font-size : rem-calc(13);
        opacity   : .5;
      }
    }

    .add-note {
      display : block;
      color   : #bababa;
    }

    .old-price {
      display         : block;
      color           : #bababa;
      text-decoration : line-through;
    }

    .add-discount {
      display     : block;
      padding-top : rem-calc(10);
      color       : #37b63f;
    }
  }

  &__img {
    position   : relative;
    overflow   : hidden;
    text-align : left;
    width      : rem-calc(100);

    img {
      position  : absolute;
      top       : rem-calc(10);
      left      : 50%;
      transform : translateX(-50%);
    }
  }

  &__name {
    width         : rem-calc(200);
    padding-right : rem-calc(60);

    a {
      color       : #222222;
      font-size   : rem-calc(14);
      font-weight : 700;

      &:hover {
        opacity : .6;
      }
    }
  }

  &__place {
    width         : rem-calc(300);
    padding-right : rem-calc(55);

    p {
      margin-bottom : rem-calc(20);
      span {
        text-decoration : line-through;
      }
    }
  }

  &__format {
    width : rem-calc(145);
  }

  &__date {
    width : rem-calc(150);
  }

  &__price {
    width : rem-calc(140);
  }

  &__basket {
    width : rem-calc(120);

    a {
      display          : inline-block;
      max-width        : rem-calc(118);
      width            : 100%;
      border-radius    : rem-calc(4);
      height           : rem-calc(29);
      border           : rem-calc(1) solid #dcdcdc;
      background-color : #ebe9e5;
      color            : #444444;
      text-align       : center;
      line-height      : rem-calc(29);
      font-size        : rem-calc(14);
      font-weight      : 700;
      text-transform   : uppercase;

      &:hover {
        background-color : scale-color(#ebe9e5, $lightness : -3%);;
      }
    }

    &--red {
      a {
        background-color : #cb0f41;
        color            : white;
        font-weight      : bold;

        &:hover {
          background-color : scale-color(#cb0f41, $lightness : -15%);;
        }
      }
    }
  }

  &.examination {
    margin-bottom : rem-calc(40);

    tr {
      &:last-child {
        td {
          border-color : #e5e5e5;
        }
      }
    }
    .course-table {
      &__name {
        padding-right : rem-calc(40);
        text-align    : left;
        width         : auto;
        a {
          position      : relative;
          padding-right : rem-calc(125);
          display       : block;

          .add-info {
            position    : absolute;
            right       : 0;
            top         : 0;
            font-size   : rem-calc(14);
            font-weight : 400;
            span {
              margin-left : rem-calc(20);
            }
          }
        }

        & > span {
          display     : block;
          font-size   : 13px;
          font-weight : 400;
          opacity     : .5;
        }
      }
    }
  }

  &.prices {
    .course-table {
      &__place {
        width         : rem-calc(200);
        padding-right : $table-gutter;
      }

      &__date {
        padding-right : $table-gutter;
      }

      &__format {
        padding-right : $table-gutter;
      }
    }
  }

}

.course-table-wrap {
  overflow-x : scroll;
  table {
    min-width : rem-calc(530);
  }

  @include breakpoint(medium up) {
    overflow-x : visible;

    table {
      min-width : auto;
    }

  }
}

