.table-details {
  max-width : 100%;
  width     : rem-calc(280);
  color     : #444444;
  font-size : rem-calc(14);

  td {
    padding-bottom: rem-calc(15);
  }

  a {
    position  : relative;
    display   : inline-block;
    color     : #cb0f41;
    font-size : rem-calc(14);

    &::after {
      left             : 0;
      bottom           : 0;
      position         : absolute;
      content          : '';
      display          : inline-block;
      width            : 100%;
      height           : rem-calc(1);
      background-color : #f2c3cf;
    }

    *:hover {
      opacity : .6;
    }
  }
  &__name {
    width : rem-calc(160);
  }

  &__value {
    width : rem-calc(120);
  }

}