.b-tabs {
  list-style     : none;
  display        : flex;
  border-bottom  : rem-calc(1) solid #dcdcdc;
  flex-direction : column;

  @include breakpoint(medium up) {
    flex-direction : row;
  }

  li {
    color          : #b3b3b3;
    font-size      : rem-calc(19);
    font-weight    : 300;
    text-transform : uppercase;


    @include breakpoint(medium up) {
      padding-bottom : rem-calc(22);
      font-size      : rem-calc(30);
      margin-right   : rem-calc(50);

      &:last-child {
        margin-right : 0;
      }

    }

    &.is-active {
      color    : #cb0f41;
      position : relative;

      @include breakpoint(medium up) {
        &::after {
          position         : absolute;
          content          : "";
          width            : 100%;
          left             : 0;
          height           : rem-calc(1);
          bottom           : rem-calc(-1);
          background-color : #cb0f41;
        }
      }
    }

  }

  &--padding-top {
    padding-top : rem-calc(90);
  }
}