.expertise {
  &__wrapper {
    display         : flex;
    justify-content : space-between;
    flex-wrap       : wrap;
    margin-right    : rem-calc(-20);
    margin-left     : rem-calc(-20);
    @include breakpoint(small only) {
      width : auto !important;
    }
    @include breakpoint(medium up) {
      margin-right : 0;
      margin-left  : 0;
    }
  }
}