.breadcrumbs-wrapper {
  @include breakpoint(medium up) {
    border : rem-calc(1) solid #e5e5e5;
  }
  background-color : #ffffff;
  padding-left     : rem-calc(20);

  @include breakpoint(medium up) {
    max-width        : $global-width;
    width            : 100%;
    background-color : transparent;
    border           : none;
    margin           : 0 auto;
  }

  .breadcrumbs {
    margin     : 0;
    opacity    : 1;
    min-height : rem-calc(22);

    li {
      a {
        color          : #a7a9ac !important;
        font-size      : rem-calc(9);
        text-transform : uppercase;
        opacity        : 1;
        line-height    : rem-calc(22);
      }
    }

    @include breakpoint(medium up) {
      padding-top : rem-calc(25);

      li {
        a {
          font-size      : rem-calc(14);
          text-transform : none;
          line-height    : 1;
          color          : rgba(255, 255, 255, 0.3) !important;
        }

        &:not(:last-child)::after {
          background : url("../images/breadcrumbs/arrow.png") no-repeat center;
        }
      }
    }

  }
}

