.callback-banner {
  &__form {
    padding-top     : rem-calc(40);
    margin          : 0 auto;
    justify-content : center;
    max-width       : rem-calc(1160);
    width           : 100%;
    display         : flex;
    flex-wrap       : wrap;
  }
}