.section-nav {
  list-style     : none;
  display        : none;
  flex-wrap      : wrap;
  overflow       : hidden;
  margin-left    : 0;
  text-transform : uppercase;

  @include breakpoint(medium up) {
    display : flex;
  }

  a, li {
    display    : block;
    font-size  : rem-calc(16);
    color      : #444444;
    transition : color 0.2s ease-in;

    @include breakpoint(medium up) {
      display     : inline-block;
      color       : #c7c7c7;
      font-size   : rem-calc(30);
      font-weight : 300;
    }

    &:hover {
      color : #c61143;
    }
  }

  a {
    border-bottom : rem-calc(1) solid #dcdcdc;
    padding       : rem-calc(10 0);

    @include breakpoint(medium up) {
      border-bottom  : none;
      padding-bottom : rem-calc(12);
      margin-right   : rem-calc(30);
    }
  }

  li {
    width           : 100%;
    list-style-type : none;

    @include breakpoint(medium up) {
      border-bottom : rem-calc(1) solid #dcdcdc;
      margin-bottom : rem-calc(12);
    }
  }
}