@import "../vars";

.banner {
  &__title {
    color : $banner-font-color;

    .h1 {
      font-weight : 700;
      @include breakpoint(small only) {
        max-width : 75%;
        display   : inline-block;
      }
      @include breakpoint(large up) {
        font-size : rem-calc(55);
        max-width : rem-calc(530);
      }
    }
  }
}