.course-card {
  &__details {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    padding-top     : rem-calc(20);

    @include breakpoint(medium up) {
      flex-direction : row;
      flex-wrap      : wrap;
    }
    & * {
      font-size   : rem-calc(14);
      line-height : rem-calc(14);
    }
  }

  &__column {
    flex : 1 1 30%;
    &:first-child {
      flex : 1 1 30%;
    }

    ul {
      display       : flex;
      width         : 100%;
      list-style    : none;
      margin-left   : 0;
      padding-right : rem-calc(10);

      li {
        .card-layout & {
          flex : 1 1;
        }
        @include breakpoint(small only) {
          flex : 1 1;
        }
        padding-right : rem-calc(10);

        & > span {
          position      : relative;
          flex          : auto;
          text-align    : left;
          display       : flex;
          align-items   : center;
          flex-wrap     : wrap;
          margin-bottom : rem-calc(10);
          min-height    : rem-calc(15);

          img {
            &:first-child {
              padding-left : 0;
            }

            padding : rem-calc(0 5);
          }

          .old-price {
            display         : block;
            white-space     : nowrap;
            opacity         : 0.3;
            font-size       : rem-calc(13);
            text-decoration : line-through;
            @include breakpoint(medium up) {
              position : absolute;
              left     : calc(100% + #{rem-calc(10)});
              top      : 0;
            }
          }
        }
      }
    }
  }
}