.feature {
  &__card {
    width         : 100%;
    padding-right : rem-calc(30);
    max-width     : rem-calc(260);
    margin-bottom : rem-calc(40);
    margin-right  : auto;
    margin-left   : auto;

  }
}