.discount-banner {
  &__content {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    flex            : 1 1 50%;
    padding         : rem-calc(25 20);

    @include breakpoint(440 up) {
      min-height      : rem-calc(380);
      padding         : rem-calc(80 50 60 70);
    }


    @include breakpoint(810 up) {
      min-height : rem-calc(632);
      padding    : rem-calc(110 50 80 70);
    }

    @include breakpoint(1200 up) {
      min-height : auto;
      padding    : rem-calc(80 150 80 150);
    }

    @include breakpoint(1440 up) {

      padding : rem-calc(105 150 80 150);
    }
  }
}