@import "__call/contacts__call";
@import "__data/contacts__data";
@import "__icon/contacts__icon";

.contacts {
  display         : flex;
  align-items     : center;
  justify-content : flex-end;
  @include breakpoint(small only) {
    font-size : 0;
    height    : rem-calc(59);
  }
  @include breakpoint(xlarge up) {
    justify-content : flex-start;
  }
  &--flex-end {
    position        : relative;
    padding-right   : rem-calc(8);
  }
}