.header-bottom {
  border-top : rem-calc(1) solid #e5e5e5;
  padding    : rem-calc(9 0);
  &__basket {
    position : relative;
    @include breakpoint(medium up) {
      margin : rem-calc(8px 0 0 14px);
    }

    span {
      position         : absolute;
      display          : none;
      font-size        : rem-calc(11);
      color            : #ffffff;
      width            : 20px;
      height           : 20px;
      background-color : #c61143;
      text-align       : center;
      border-radius    : 50%;
      top              : -8px;
      left             : 13px;
      line-height      : 21px;
      @include breakpoint(medium up) {
        display : block;
      }
    }
  }
  &__hamburger {
    position         : absolute;
    outline          : none;
    right            : rem-calc(-20);
    top              : 0;
    margin-left      : rem-calc(22);
    width            : rem-calc(60);
    text-align       : center;
    height           : 100%;
    background-color : #f0f0f0;
    &.active {
      .hamburger {
        display : none;
      }
      .close {
        display : inline-block !important;
      }
    }
  }

  &__search {
    position : relative;

    &-btn {
      position  : absolute;
      left      : 0;
      top       : 50%;
      transform : translateY(-50%);
      svg {
        width      : rem-calc(16);
        height     : rem-calc(15);
        fill       : #cccccc;
        transition : 0.2s;
      }
    }

    input:active + &-btn, input:focus + &-btn {
      svg {
        fill : #444444;
      }
    }

    input {
      margin        : 0 !important;
      border-top    : none;
      border-left   : none;
      border-right  : none;
      border-bottom : rem-calc(1) solid transparent;
      padding       : rem-calc(8 8 8 23);
      font-size     : rem-calc(16);
      opacity       : 1;
      border-radius : 0;
      transition    : 0.2s;

      &::placeholder {
        color   : #cccccc;
        opacity : 1;
      }

      &:focus, &:active {
        border-top    : none;
        border-left   : none;
        border-right  : none;
        border-bottom : rem-calc(1) solid #444444;
        border-radius : 0;
      }
    }

  }
}