@import "__data/section-contact__data";
@import "__title/section-contact__title";
@import "__content/section-contact__content";
@import "__photo/section-contact__photo";
@import "__table/section-contact__table";
@import "__map/section-contact__map";

.section-contact {
  padding-bottom : rem-calc(20);
  padding-top    : rem-calc(30);
  border-bottom  : rem-calc(1) solid #dcdcdc;
  border-top     : rem-calc(1) solid transparent;
  display        : flex;
  flex-wrap      : wrap;

  @include breakpoint(medium up) {
    padding-bottom : rem-calc(30);
  }

  &:first-child {
    border-top-color : #dcdcdc;
  }
}