.course-header {

  &__download {
    color       : #ffffff;
    padding-top : rem-calc(30);
    a.button {
      display        : block;
      padding        : rem-calc(13 20 10);
      text-transform : none;
      font-size      : rem-calc(14);
      @include breakpoint(medium up) {
        border-radius : rem-calc(4 4 0 0);
        display       : inline-block;
      }

      span {
        opacity     : .3;
        margin-left : rem-calc(100);
      }
    }
  }
}