.section-contact {
  &__map {
    flex       : 1 0 100%;
    margin-top : rem-calc(30);
    position   : relative;
    width      : 100%;
    overflow   : hidden;
    height     : rem-calc(340);

    iframe {
      position : absolute;
      left     : 0;
      top      : 0;
      width    : 100%;
      height   : 100%;
    }
  }
}