.course-module {
  color : $course-modules-color;
  &__title {
    //padding-left   : rem-calc(10);
    padding-bottom : rem-calc(10);
    font-size      : rem-calc(18);
    font-weight    : 700;
    color          : inherit;
  }
}