.contacts {
  &__data {
    position : relative;
    display  : inline-block;
    margin   : rem-calc(0 8 0 7);

    span {
      display     : block;
      color       : #222222;
      font-size   : rem-calc(19);
      font-weight : 700;
      line-height : rem-calc(21);
      white-space : nowrap;
    }

    a {
      color           : #444444;
    }
    & > a {
      position        : absolute;
      bottom          : rem-calc(-20);
      font-size       : rem-calc(14);
      text-decoration : underline;
    }
  }
}