.course-staff {
  padding-top: rem-calc(40);
}

.course-staff .teacher {
  margin-bottom: 40px;
  @extend .clearfix;
  &:last-child {
    margin-bottom: 0;
  }
}

.course-staff .teacher .teacher-image {
  background: #fff;
  border: 1px solid #c8c8c8;
  height: 115px;
  float: left;
  margin: 0 15px 0px 0;
  overflow: hidden;
  padding: 1px;
  width: 115px;
}

.course-staff .teacher h3 {
  color: #3c3c3c;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: none;
}

.course-staff .teacher .teacher-image img {
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button {
  background-color: #cb0f41;
  color: #fff;
  font-size: 14px;
  &:hover {
    border-bottom: 3px solid #cb0f41;
    .icon {
      color: #fff !important;
    }
  }
  &.disabled {
    &, &:hover {
      background-color: #d2d2d2;
      color: #fff;
      cursor: not-allowed;
      .icon {
        color: #fff !important;
      }
    }
  }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button {
  &.active, &:hover {
    border-bottom: 3px solid #cb0f41;
  }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav {
  font-size: 14px;
}

a:visited {
  color: '' !important;
}

.find-courses, .university-profile {
  background: #fff !important;
}

.wrapper-course-material {
  .course-tabs {
    li {
      a,
      a:visited {
        color: #444;
        display: block;
        text-align: center;
        text-decoration: none;
        border-bottom: 4px solid transparent;

        &:hover,
        &:focus,
        &.active {
          color: #cb0f41;
          border-bottom-color: #cb0f41;
        }
      }
    }
  }
}

.xblock {
  font-size: 14px;
}

.xblock .btn-link {
  &, a:visited {
    color: #cb0f41 !important;
    &:hover {
      color: #cb0f41 !important;
      opacity: .6;
    }
  }
}

.window-wrap {
  min-width: 0 !important;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a {
  color: #444;
}

.xmodule_display.xmodule_VideoModule .video .subtitles .subtitles-menu li {
  color: #444;
}

.discussion-module .btn {
  @extend .button;
  @extend .button.small;
  &:hover {
    background-color: #cb0f41 !important;
  }
}
.header-global .primary>a .label-username {
  text-decoration: underline;
}
.header-global .primary>a:hover, .header-global .primary>a:focus, .header-global .primary>a:active {
  background-color: transparent;
  opacity: .6;
  color: #444;
}
@media (max-width: 768px) {
  .sequence-nav {
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    .sequence-nav-button {
      display: none;
    }
  }

  .xmodule_display.xmodule_VideoModule .video .video-wrapper {
    float: none !important;
    width: 100% !important;
    margin-right: 0;
  }

  .xmodule_display.xmodule_VideoModule .video .video-wrapper .video-player {
    min-height: 0;
  }

  .xmodule_display.xmodule_VideoModule .video .subtitles {
    display: none !important;
  }
}