.footer {
  &__age-limit {
    opacity      : 0.3;
    font-size    : 18px;
    font-weight  : 700;
    color        : #444444;
    padding-top  : 6px;
    display      : block;
    padding-left : 8px;
    @include breakpoint(small only) {
      position    : absolute;
      right       : rem-calc(20);
      bottom      : rem-calc(31);
      border      : 1px solid #e5e5e5;
      width       : rem-calc(50);
      height      : rem-calc(32);
      padding     : 0;
      line-height : rem-calc(30);
      text-align  : center;
    }
  }
}