.course-module {
  &__list {
    list-style  : none;
    margin-left : 0;

    li {
      width         : 100%;
      font-size     : rem-calc(16);
      color         : inherit;
      margin-bottom : rem-calc(5);

      a {
        position      : relative;
        display       : block;
        padding       : rem-calc(10);
        border-radius : rem-calc(4);
        color         : inherit;
        border        : rem-calc(1) solid transparent;
        transition    : ease-out .2s;

        &:hover {
          color            : scale-color($course-modules-color, $lightness : 25%);
          background-color : #f5f4f2;
          border-color     : $primary-color;
        }

        &.last {
          color            : scale-color($course-modules-color, $lightness : 25%);
          background-color : transparent;
          border-color     : $primary-color;
        }

        &:active {
          opacity : .6;
        }
      }
    }
  }
}