.expertise {

  &__title {
    span {
      display        : inline-block;
      padding-bottom : rem-calc(20);
      border-bottom  : rem-calc(2) solid #cb0f41;
    }


    @include breakpoint(large up) {
      padding-bottom : rem-calc(65);

      span {
        border-bottom  : rem-calc(2) solid transparent;
      }
    }
  }
}