.exam-details {
  &__column {
    padding-top    : rem-calc(30);
    padding-bottom : rem-calc(40);
    border-bottom  : rem-calc(1) solid #e5e5e5;

    @include breakpoint(large up) {
      padding-top : rem-calc(70);
    }

    &.large {
      width : 100%;

      @include breakpoint(medium up) {
        max-width : rem-calc(440);
      }

      @include breakpoint(large up) {
        border-right : rem-calc(1) solid #e5e5e5;
      }
    }

    &.small {

      width : 100%;

      @include breakpoint(medium up) {
        max-width : rem-calc(320);
      }

      @include breakpoint(large up) {
        padding-left : rem-calc(60);
      }
    }
  }
}