.cloud-header {
  &__desc {
   padding-top: rem-calc(15);
    margin    : 0 auto;
    max-width : rem-calc(900);
    width     : 100%;
    color     : #ffffff;
    font-size : rem-calc(18);

    @include breakpoint(medium up) {
      padding   : rem-calc(45);
      font-size   : rem-calc(25);
      font-weight : 300;
    }
  }
}