@import "__title/standard-banner__title";
@import "__wrapper/standard-banner__wrapper";

.standard-banner {

  background-position : top left;
  background-size     : cover;
  background-repeat   : no-repeat;
  margin-top          : rem-calc(30);

  @include breakpoint(medium up) {
    margin-top : rem-calc(60);
  }
}