@import "__title/course-header__title";
@import "__download/course-header__download";
@import "__date/course-header__date";
@import "__img/course-header__img";
@import "__wrapper/course-header__wrapper";
@import "__desc/course-header__desc";
@import "__details/course-header__details";
@import "__download-price/course-header__download-price";
@import "__search/course-header__search";
@import "__picture/course-header__picture";
@import "__content/course-header__content";

.course-header {
  border-bottom    : rem-calc(1) solid #e5e5e5;
  background-color : #f7f7f7;
  margin-bottom    : rem-calc(70);
  padding-top      : rem-calc(20);

  &__logo {
    padding-top : rem-calc(20);
    text-align  : center;

    @include breakpoint(medium up) {
      text-align : left;
    }

    span {
      display : inline-block;
    }

    img {
      height : rem-calc(180);

      @include breakpoint(medium up) {
        height : auto;
      }
    }
  }

  &--gradient-bg {
    background-color : transparent;
    @include breakpoint(1220 up) {
      background    : linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 70%, #ffffff 100%);
      border-bottom : none;
    }

    @include breakpoint(large up) {
      padding-bottom : rem-calc(20);
    }
  }

  &--blue-bg {
    background      : #0174c4 url("../images/discount-banner/bg.jpg") no-repeat left top;
    background-size : cover;
    padding-bottom  : rem-calc(30);

    ul {
      list-style  : none;
      font-size   : rem-calc(18);
      margin-left : 0;

      li {
        position     : relative;
        padding-left : rem-calc(12);

        &::before {
          position : absolute;
          content  : '-';
          display  : inline-block;
          left     : 0;
          top      : 0;
        }
      }
    }

    .title-price {
      display : inline-block;
      color   : #ffd74b;

    }

    .course-header {
      &__title {
        color : white;
        h1 {
          color : inherit;
        }
      }
    }
  }

  &.no-margin {
    margin-bottom : 0;
  }

  &.no-border-btm {
    border-bottom : none;
  }
}

