.tab-box {

}

.tabs {
  margin          : 0;
  border          : 0;
  border-bottom   : 1px solid #dcdcdc;
  background      : transparent;
  list-style-type : none;

  &--small-inline {
    display         : flex;

    @include breakpoint(medium up) {
      display : block;
    }
    .tabs-title {
      & > a, & > span {
        font-size    : rem-calc(16);
        margin-right : rem-calc(8);

        @include breakpoint(medium up) {
          font-size    : rem-calc(30);
          margin-right : rem-calc(40);
        }
      }
    }
  }
}

.tabs-title {
  padding : 0 !important;
  & > a, & > span {
    background-color : transparent !important;
    display          : block;
    padding          : 1.25rem 0;
    font-size        : rem-calc(30);
    line-height      : 1;
    margin-right     : rem-calc(40);
    color            : #444444;
    opacity          : .3;
    text-transform   : uppercase;
    outline          : none;
    position         : relative;
    font-weight      : 300;
    &::after {
      position : absolute;
      left     : 0;
      right    : 0;
      bottom   : rem-calc(-1);
      height   : rem-calc(1);
      content  : '';
    }
  }
  & > span {
    opacity : 1 !important;
  }

  &:focus, & > a[aria-selected='true'] {
    color            : #cb0f41;
    opacity          : 1;
    background-color : transparent;
  }

  & > a[aria-selected='true'] {
    &::after {
      background-color : #cb0f41;
    }
  }
}

.tabs-content {
  border             : 0;
  background         : transparent;
  color              : #444444;
  -webkit-transition : all 0.5s ease;
  transition         : all 0.5s ease;
}

.tabs-panel {
  display : none;
  padding : rem-calc(30 0);
}

@import "--border-btm/tab-box--border-btm";