.expertise {
  &__card-desc {
    font-size   : rem-calc(14);
    padding-top : rem-calc(14);

    @include breakpoint(medium up) {
      font-size  : rem-calc(16);
      border-top : rem-calc(2) solid #dae3de;
    }

    p {
      color: #444;
    }
  }
}