.course-header {

  &__title {
    flex: 1 1 0;
    display     : inline-block;
    position    : relative;
    color       : #222222;
    @include breakpoint(medium up) {
      padding-bottom : rem-calc(30);
      min-height     : rem-calc(8);
    }

    h1 {
      font-weight : 300;
    }

    &.no-padding {
      @include breakpoint(medium up) {
        padding-bottom : 0;
      }
    }
  }
}