.course-specification {
  &__download {
    a {
      display       : inline-block;
      position      : relative;
      font-size     : rem-calc(14);
      padding       : rem-calc(18 55 18 18);
      width         : 100%;
      max-width     : rem-calc(260);
      color         : white;
      margin-bottom : rem-calc(10);
      background    : $primary-color url("../images/course-specification/download-icon.png") no-repeat 89% center;
    }
  }
}