.details {
  &__button {
    padding-top : rem-calc(15);
    text-align  : center;

    @include breakpoint(medium up) {
      text-align : left;
    }
    .button {
      max-width   : rem-calc(307);
      width       : 100%;
      line-height : 1.3;

      @include breakpoint(medium up) {
        line-height : 1;
      }
    }
  }
}