.footer {
  &__link {
    @include breakpoint(medium up) {
      border-top : rem-calc(1) #dddddd solid;
    }

    list-style : none;
    margin     : 0;

    li {
      padding     : rem-calc(18 0 0);
      color       : #444444;
      font-size   : rem-calc(14);
      line-height : rem-calc(16);
      a {
        color     : inherit;
        font-size : inherit;
      }
    }
  }
}