.footer {
  &__divider {
    margin-top    : 2.8rem;
    margin-bottom : 1.6rem;
    @include breakpoint(medium up) {
      margin-top    : rem-calc(57);
      margin-bottom : rem-calc(6);
    }
  }
}