.filter {
  &__input {

    select {
      color          : #444444;
      font-size      : rem-calc(14);
      font-weight    : 700;
      line-height    : rem-calc(18);
      text-transform : uppercase;
      border-radius  : 0;
      margin-bottom  : rem-calc(10) !important;
    }

    input, input::placeholder {
      color         : #444444;
      font-size     : rem-calc(14);
      font-weight   : 700;
      line-height   : rem-calc(18);
      border-radius : 0;
      opacity       : 1;
      box-shadow    : none;
      margin-bottom : rem-calc(10) !important;
    }

    & + .button {
      margin-top : rem-calc(16) !important;
    }
  }
}