.review {

  &__desc {
    color         : #222222;
    font-size     : rem-calc(16);
    font-weight   : 700;
    margin-bottom : rem-calc(35);

    p {
      color         : inherit;
      font-weight   : inherit;
      font-size     : inherit;
      margin-bottom : rem-calc(10);
    }
  }
}