@import "__price/exam-details__price";
@import "__data/exam-details_data";
@import "__column/exam-details__column";

.exam-details {
  display       : flex;
  flex-wrap     : wrap;
  margin-bottom : rem-calc(50);

  @include breakpoint(large up) {
    flex-wrap : nowrap;
  }
}
