## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from branding.api import get_footer
from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<!-- footer overrides for stanford theme go here -->
<footer class="footer">
    <div class="row show-for-medium">
        <div class="column small-12 medium-12">
            <div class="footer__desc">
                <span>Работаем с юридическими и физическими лицами. Оплата по счёту или картой</span>
            </div>
        </div>
    </div>
    <div class="row footer__middle">
        <div class="column small-12 medium-3">
            <div class="footer__contacts">
                <div class="footer__contacts-item">
                     <span>edusales@softline.ru</span>
                </div>
                <div class="footer__contacts-item">
                    <span>8 (800) 505-05-07</span>
                </div>
                <div class="footer__contacts-item footer__contacts-item--address">
                    <span>115114, Москва, <br class="show-for-medium">Дербеневская наб., <br class="show-for-medium"> дом 7, стр. 8</span>
                </div>
            </div>
        </div>

        <div class="column small-12 medium-5 ">
            <div class="footer__payment">
                <div class="footer__payment-item">
                    <img src="${static.url('images/payment/card.png')}" alt="">
                    <div>
                        <strong>Банковские карты</strong>
                        Оплата банковской картой российских банков (VISA, MasterCard, Dinners Club, American Express,
                        Union Play)
                    </div>
                </div>
                <div class="footer__payment-item">
                    <img src="${static.url('images/payment/bank.png')}" alt="">
                    <div>
                        <strong>Банковский платёж</strong>
                        После оформления заказа вы сможете распечатать квитанцию для оплаты. Её можно оплатить в
                        отделении любого банка. Срок зачисления денежных средств - 2-3 рабочих дня.
                    </div>
                </div>
            </div>
        </div>

        <div class="column small-12 medium-3 medium-offset-0 large-offset-1 show-for-medium">
            <div class="footer__social">
                <div class="footer__social-icon">
                    <a href="https://www.facebook.com/SoftlineEducation/">
                        <svg class="icon facebook">
                            <use xlink:href="#images--svg--facebook"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-icon">
                    <a href="https://twitter.com/softline_edu">
                        <svg class="icon twitter">
                            <use xlink:href="#images--svg--twitter"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-icon">
                    <a href="https://vk.com/softlinecompany">
                        <svg class="icon vk">
                            <use xlink:href="#images--svg--vk"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__social">
                <div class="footer__social-icon">
                    <a href="http://www.youtube.com/user/SoftlineCompany/?sub_confirmation=1">
                        <svg class="icon youtube">
                            <use xlink:href="#images--svg--youtube"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-icon">
                    <a href="https://www.linkedin.com/company/softline-company">
                        <svg class="icon linkedin">
                            <use xlink:href="#images--svg--linkedin"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-icon">
                    <a href="https://habrahabr.ru/company/softline/">
                        <svg class="icon habr">
                            <use xlink:href="#images--svg--habr"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__social">
                <div class="footer__social-icon">
                    <a href="https://plus.google.com/101216880849843098783/">
                        <svg class="icon google-plus">
                            <use xlink:href="#images--svg--google+"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-icon">
                    <a href="https://www.instagram.com/softlinegroup/">
                        <svg class="icon instagram">
                            <use xlink:href="#images--svg--instagram"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__social-icon">
                    <a href="https://telegram.me/SoftlineGroup">
                        <svg class="icon telegram">
                            <use xlink:href="#images--svg--telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <hr class="footer__divider">
        </div>
        <div class="column small-12 medium-3">
            <ul class="nav-area show-for-medium" style="display: none;">
                <li>
                    <button>RU</button>
                </li>
            </ul>
        </div>
        <div class="column small-12 medium-2">
            <div class="footer__company">© 2017. Softline.</div>
        </div>
        <div class="column small-12 medium-2">
            <div class="footer__terms"><a href="${reverse('tos')}#privacy">${_("Privacy Policy")}</a></div>
        </div>
        <div class="column small-12 medium-2"><span class="footer__age-limit">14+</span></div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110054804-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110054804-1');
    </script>
</footer>