<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<header>
  <h2 class="sr">${_("Helpful Information")}</h2>
</header>

% if settings.FEATURES.get('AUTH_USE_OPENID'):
<!-- <div class="cta cta-login-options-openid">
  <h3>${_("Login via OpenID")}</h3>
  <p>${_('You can now start learning with {platform_name} by logging in with your <a rel="external" href="http://openid.net/">OpenID account</a>.').format(platform_name=platform_name)}</p>
  <a class="action action-login-openid" href="#">${_("Login via OpenID")}</a>
</div> -->
% endif

<div class="cta cta-help">
  <h5>${_("Not Enrolled?")}</h5>
  <p><a href="${reverse('register_user')}">${_("Sign up for {platform_name} today!").format(platform_name=platform_name)}</a></p>
</div>

<div class="cta cta-help">
  ## Disable help unless the FAQ marketing link is enabled
  % if settings.MKTG_URL_LINK_MAP.get('FAQ'):
    <h5>${_("Need Help?")}</h5>
    <p>${_("Looking for help signing in or with your {platform_name} account?").format(platform_name=platform_name)}
    Напишите нам: <a href="mailto:edusales@softline.ru" target="_blank">edusales@softline.ru</a></p>
  % endif
</div>
