<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="btn-brand btn-login">
  <h5 class="title">${_("Already registered?")}</h5>
  <p class="instructions">
    <a class="button small" href="${reverse('signin_user')}${login_query()}">
      ${_("Log in")}
    </a>
  </p>
</div>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
<div class="cta cta-welcome">
  <h5>${_("Welcome to {platform_name}").format(platform_name=platform_name)}</h5>
  <p>${_("Registering with {platform_name} gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.").format(platform_name=platform_name)}</p>
</div>

<div class="cta cta-nextsteps">
  <h5>${_("Next Steps")}</h5>
    <p>${_("As part of joining {platform_name}, you will receive an email message with instructions for activating your account. Don't see the email? Check your spam folder and mark {platform_name} emails as 'not spam'. At {platform_name}, we communicate mostly through email.").format(platform_name=platform_name)}</p>
</div>

% if settings.MKTG_URL_LINK_MAP.get('FAQ'):
  <div class="cta cta-help">
    <h5>${_("Need Help?")}</h5>
    <p>${_("Need help registering with {platform_name}?").format(platform_name=platform_name)}
      Напишите нам: <a href="mailto:edusales@softline.ru" target="_blank">edusales@softline.ru</a></p>
  </div>
% endif
