.cloud-nav {
  &__menu {
    padding-top  : rem-calc(90);
    padding-left : rem-calc(140);
    list-style   : none;
    margin-left  : 0;

    li {
      color          : #444444;
      font-size      : rem-calc(14);
      padding-bottom : rem-calc(15);
      max-width      : rem-calc(160);
      width          : 100%;

      a {
        color     : inherit;
        font-size : inherit;

        &:hover {
          opacity : .6;
        }
      }
    }
  }
}