@import "__card/expertise__card";
@import "__wrapper/expertise__wrapper";
@import "__button/expertise__button";
@import "__desc/expertise__desc";
@import "__title/expertise__title";
@import "__card-desc/expertise__card-desc";
@import "__card-img/expertise__card-img";

.expertise {
  padding-top    : rem-calc(30);
  z-index        : 1;
  position       : relative;
  background     : linear-gradient(to bottom, white 60%, #f5f4f2 40%);
  padding-bottom : rem-calc(10);

  @include breakpoint(large up) {

    /* TODO: Решить с шрифтом */
    &::after {
      content     : "2000+";
      z-index     : -1;
      position    : absolute;
      display     : inline-block;
      left        : 54%;
      transform   : translateX(-50%);
      top         : 0;
      font-size   : rem-calc(423);
      font-weight : 500;
      color       : #f5f4f2;
    }
  }

  @include breakpoint(medium up) {
    padding-top : rem-calc(80);
  }

  @include breakpoint(small only) {
    .owl-stage {
      transform    : none !important;
      width        : 100% !important;
      margin-right : 0 !important;
    }
    .owl-item {
      width : 100% !important;
      &.cloned {
        display : none !important;
      }
    }
  }
}