.course-header {
  &__picture {
    padding          : rem-calc(0 25);
    flex             : 1 0 100%;
    width            : auto;
    order            : -1;
    background-color : #f7f7f7;

    img {
      width  : auto !important;
      height : auto !important;
    }

    @include breakpoint(medium up) {
      margin : rem-calc(0 -20);
    }

    @include breakpoint(1220 up) {
      flex             : 0 0 auto;
      background-color : transparent;
      width            : 50%;
      order            : 0;
      margin           : rem-calc(-32 -80 0);
    }
  }
}