.breadcrumbs {
  font-size: 0;
  .fa-angle-right {
    color: transparentize(#444, .7) !important;
  }
  .course-wrapper & {
    margin-bottom: 0;
  }
  & > span {
    font-size: rem-calc(14);
    &:first-child {
      margin-left: 0;
    }
  }
  li {
    display: inline-block;
    font-size: rem-calc(14);
    color: transparentize(#444, .7);
    text-transform: none;
    &:not(:last-child)::after {
      content: "";
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAAS0lEQVQYV2N0dXV1ZmRkvLVr167HDAwMDIyenp58v379svr379/j/fv3X2UEifr6+nL9/PnT5P///58wBWBamJiYXuzevfsCI7qhAPy8LQUO8+zNAAAAAElFTkSuQmCC);
      width: 4px;
      height: 6px;
      display: inline-block;
      vertical-align: middle;
      margin: -2px 11px 0 14px;
    }
  }
  a {
    position: relative;
    display: inline-block;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    color: transparentize(#444, .7) !important;

    &:hover {
      opacity: 1;
      color: #cb0f41 !important;

      &::after {
        opacity: 0.3;
      }

    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
        visibility: hidden;
      }
    }
  }
}