.service {
  &__desc {
    font-size   : rem-calc(22);
    line-height : rem-calc(32);

    p {
      line-height   : inherit;
      margin-bottom : rem-calc(35);

      &:last-child {
        margin-bottom : 0;
      }
    }
  }
}