.cloud-header {
  &__title {
    position       : relative;
    color          : #ffffff;
    font-size      : rem-calc(28);
    line-height    : rem-calc(30);
    font-weight    : 700;
    padding-top    : rem-calc(25);
    padding-bottom : rem-calc(20);

    @include breakpoint(medium up) {
      font-size      : rem-calc(60);
      font-weight    : 300;
      line-height    : 1;
      padding-top    : rem-calc(55);
      padding-bottom : rem-calc(40);
    }

    &::after {
      content          : "";
      display          : inline-block;
      position         : absolute;
      left             : 50%;
      bottom           : 0;
      transform        : translateX(-50%);
      background-color : #c61143;
      width            : rem-calc(97);
      height           : rem-calc(2);
    }
  }
}