.solutions {
  &__card-desc {
    font-size      : rem-calc(14);
    border-top     : rem-calc(1) solid #e5e5e5;
    padding-top    : rem-calc(25);
    padding-bottom : rem-calc(25);

    ul {
      list-style  : none;
      margin-left : 0;

      li {
        position      : relative;
        padding-left  : rem-calc(25);
        font-size     : inherit;
        margin-bottom : rem-calc(10);

        &::before {
          content    : "";
          position   : absolute;
          top        : rem-calc(3);
          left       : 0;
          display    : inline-block;
          background : url("/dist/images/solutions/solutions__card/chek.png") no-repeat left top;
          width      : rem-calc(16);
          height     : rem-calc(11);
        }

        &:last-child {
          margin-bottom : 0;
        }
      }
    }

    a {
      font-size       : inherit;
      text-decoration : underline;
      color: #444;

      &:hover {
        opacity : .6;
      }
    }
  }
}