.course-statistics {
  &__number {
    flex            : 1 0 30%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color           : #444444;
    font-size       : rem-calc(40);
    line-height     : rem-calc(40);
    overflow        : hidden;
    font-weight     : 300;

    span {
      display  : inline-block;
      position : relative;

      &::after {
        content   : "+";
        position  : absolute;
        font-size : rem-calc(26);
        top       : rem-calc(-8);
        right     : rem-calc(-12);
      }
    }

  }
}