.training-program {
  width      : auto;
  margin     : rem-calc(0 -20);
  padding    : 0;
  list-style : none;

  &__title {
    max-width       : rem-calc(300);
    width           : 100%;
    display         : inline-block;
    color           : #444444;
    position        : relative;
    list-style-type : none;
    padding         : rem-calc(0 20) !important;
    opacity         : 1;
    text-transform  : none;
    margin-bottom   : rem-calc(35);

    a {
      margin-right : 0;

      &::after {
        display : none;
      }
    }

    .training-program__inner {
      border      : rem-calc(1) solid #dddddd;
      display     : inline-block;
      width       : 100%;
      color       : #444444;
      padding     : rem-calc(20);
      height      : rem-calc(90);
      opacity     : 1;
      font-size   : rem-calc(18);
      font-weight : 700;
      line-height : rem-calc(18);
    }

    &.is-active {
      .training-program__inner {
        border           : rem-calc(1) solid #cb0f41;
        background-color : #cb0f41 !important;
        color            : white;
      }

      .training-program__more-info {
        background-color : #ae002e;
        color            : white;

        &:hover {
          background-color : #1e222a;
        }
      }
    }

  }
}