.expertise {
  &__desc {
    width          : 100%;
    text-align     : center;
    position       : relative;
    font-size      : rem-calc(16);
    padding-top    : rem-calc(32);
    padding-bottom : rem-calc(20);

    @include breakpoint(medium up) {
      text-align : left;
    }

    @include breakpoint(large up) {
      max-width : rem-calc(230);
      &:after {
        position         : absolute;
        content          : "";
        display          : inline-block;
        top              : 0;
        left             : 0;
        background-color : #cb0f41;
        max-width        : rem-calc(160);
        width            : 100%;
        height           : rem-calc(2);
      }
    }

  }
}