.examinations {
  &__title {
    width         : 100%;
    font-size     : rem-calc(18);
    padding       : rem-calc(10 0);
    border-bottom : rem-calc(2) solid #cb0f41;;

    @include breakpoint(medium up) {
      max-width     : rem-calc(200);
      border-bottom : none;
      padding       : rem-calc(10);
      margin-bottom : rem-calc(15);
      border-right  : rem-calc(5) solid #cb0f41;
    }

    p {
      margin-bottom : rem-calc(10);
    }
  }
}