@import "__name/feedback-header__name";
@import "__photo/feedback-header__photo";
@import "__contacts/feedback-header__contacts.scss";
@import "__position/feedback-header__position";

.feedback-header {
  position    : relative;
  padding-top : rem-calc(35);
  height      : 100%;

  .button {
    position       : absolute;
    left           : 50%;
    transform      : translateX(-50%);
    bottom         : 0;
    padding-bottom : 10px;
    padding-top    : 13px;
    border-radius  : rem-calc(4 4 0 0);

    &:hover {
      &::after {
        border-radius : rem-calc(0 4 0 0);
      }

      &::before {
        border-radius : rem-calc(4 0 0 0);
      }
    }
  }
}