@import "--padding/banner_desc--padding";
@import "../vars";

.banner {
  &__desc {
    font-weight : 300;
    line-height : 1.2em;
    color       : $banner-font-color;
    font-size   : rem-calc(16);
    @include breakpoint(medium up) {
      font-size : rem-calc(28);
    }
    @include breakpoint(large up) {
      max-width : rem-calc(590);
    }
  }
}