.solutions {

  &__card {
    flex           : 1 1;
    position       : relative;
    border         : rem-calc(1) solid #e5e5e5;
    padding-bottom : rem-calc(35);
    margin-bottom  : rem-calc(20);

    @include breakpoint(medium up) {
      min-height : rem-calc(450);
    }

    @include breakpoint(large up) {
      //margin-right : rem-calc(-9);
    }
  }
}