.icon {
  display : inline-block;
  &.phone {
    height : rem-calc(17);
    width  : rem-calc(17);
    fill   : rgba(#444, .2);
    @include breakpoint(medium up) {
      fill : #cb0f41;
    }
  }
  &.user {
    height : rem-calc(16);
    width  : rem-calc(16);
    fill   : rgba(#fff, .2);
    @include breakpoint(medium up) {
      fill : rgba(#40454e, .2);
    }
  }
  &.search-icon {
    height : rem-calc(16);
    width  : rem-calc(16);
    fill   : rgba(#000, .2);
    stroke : rgba(#000, .2);
  }
  &.basket {
    height : rem-calc(18);
    width  : rem-calc(18);
    fill   : rgba(#000, .2);
    @include breakpoint(medium up) {
      height : rem-calc(20);
      width  : rem-calc(20);
    }
  }
  &.hamburger {
    @include hamburger($black, rgba($black, .6), 20px, 14px, 2px, 3);
  }
  &.close {
    width  : rem-calc(14);
    height : rem-calc(14);
    fill   : #343943;
    stroke : #343943;
  }
  &.facebook {
    width  : rem-calc(17);
    height : rem-calc(17);
  }
  &.vk {
    width  : rem-calc(20);
    height : rem-calc(20);
  }
  &.google-plus {
    width  : rem-calc(22);
    height : rem-calc(14);
  }
  &.telegram {
    width  : rem-calc(14);
    height : rem-calc(15);
  }
  &-help {
    color         : #444444;
    font-size     : 11px;
    font-weight   : 400;
    width         : 15px;
    height        : 15px;
    border        : 1px solid #dcdcdc;
    text-align    : center;
    line-height   : rem-calc(13);
    font-style    : normal;
    border-radius : 50%;
    position      : relative;
    top           : -7px;
    right         : -4px;
  }
}

