## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<div class="row">
    <div class="column small-6 hide-for-medium">
        <div class="header-top__wrapper">
            <ul class="nav-area">
                <li>
                    <a href="http://edu.softline.ru">Учебный центр</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="column small-12 medium-5 show-for-medium">
        <ul class="header-top__nav">
            <li style="display: none;"><a href="#">Интернет-магазин</a></li>
            <li><a href="http://edu.softline.ru">Учебный центр</a></li>
        </ul>
    </div>
    <div class="column small-6 medium-offset-3 medium-4 text-right">
         <div class="authorization" aria-label='${_("Sign in")}'>
            <%block name="navigation_other_global_links">
                %if not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register:
                    %if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                        <div class="authorization__log-in">
                            <a href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">
                                <svg class="icon user">
                                    <use xlink:href="#images--svg--user"></use>
                                </svg>
                                <span>${_("Register")}</span>
                            </a>
                        </div>
                    %elif static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION')):
                        <div class="authorization__log-in">
                            <a href="/register${login_query()}">
                                <svg class="icon user" style="float: none;">
                                    <use xlink:href="#images--svg--user"></use>
                                </svg>
                                <span>${_("Register")}</span>
                            </a>
                        </div>
                    %endif
                %endif
            </%block>

            <%block name="navigation_sign_in">
                %if not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register:
                    %if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                        <div class="authorization__log-in">
                            <a href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}"><span>${_("Sign in")}</span></a>
                        </div>
                    %else:
                        <div class="authorization__log-in user-name">
                            <a href="/login${login_query()}"><span>${_("Sign in")}</span></a>
                        </div>
                    %endif
                %endif
            </%block>
        </div>
    </div>
</div>


