## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<div class="row">
    <div class="column small-6 medium-4">
        <div class="header-top__wrapper">
            <ul class="nav-area">
                <%block name="navigation_global_links_authenticated">
                    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing:
                        <li>
                            <a href="${marketing_link('COURSES')}">${_('Explore courses')}</a>
                        </li>
                    %endif
                    %if show_program_listing:
                        <li>
                            <a class="${'active ' if reverse('dashboard') == request.path else ''}" href="${reverse('dashboard')}">
                                ${_("Courses")}
                            </a>
                        </li>
                        <li>
                            <a class="${'active ' if reverse('program_listing_view') in request.path else ''}" href="${reverse('program_listing_view')}">
                                ${_("Programs")}
                            </a>
                        </li>
                    %endif
                    %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
                        <li>
                            ## Translators: This is short for "System administration".
                            <a href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
                        </li>
                    %endif
                </%block>
            </ul>
        </div>
    </div>

    <div class="column medium-4 show-for-medium">
        <ul class="header-top__nav">
            <li><a href="http://edu.softline.ru">Учебный центр</a></li>
        </ul>
    </div>

    <div class="small-6 medium-4 text-right">
        <div class="authorization" aria-label='${_("Sign in")}'>
            <div class="authorization__log-in">
                <a href="${get_online_help_info(online_help_token)['doc_url']}" target="_blank">
                    <span>${_("Help")}</span>
                </a>
            </div>
            <div class="authorization__log-in user-name">
                <%include file="../user_dropdown.html"/>
            </div>
        </div>
    </div>
</div>