## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx

# App that handles subdomain specific branding
from branding import api as branding_api
%>

<div class="header__logos">
    <a href="/" class="header__logo">
        <%block name="navigation_logo">
            <svg class="icon logo">
                <use xlink:href="#images--svg--softline-logo"></use>
            </svg>
        </%block>
    </a>

    <div class="show-for-medium">
        <img src="${static.url('images/microsoft.png')}">
    </div>
</div>