## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
%if uses_pattern_library:
<%block name="js_extra">
<%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
HeaderFactory();
</%static:require_module>
</%block>
%endif

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
    site_status_msg = get_site_status_msg(course_id)
%>

%if get_site_status_msg(course.id if course else None):
<div class="site-status">
    <div class="inner-wrapper">
        <span class="icon fa fa-warning" aria-hidden="true"></span>
        <p>${site_status_msg}</p>
    </div>
</div>
%endif
</%block>
<style>
    .header-top {
        height: auto !important;
        border-bottom: none !important;
        box-shadow: none !important;
    }
</style>
<header class="header ${'slim' if course else ''}" id="header">
    <div class="header-top header-global">
        <div class="row">
            <div class="column small-12 text-right">
                %if user.is_authenticated():
                <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
                %else:
                <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
                %endif
            </div>
        </div>
    </div>
    <div class="row header__general">
        <div class="column small-6 medium-8 large-6">
            <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
        </div>

        <div class="column small-6 medium-4 medium-offset-0 large-3 large-offset-3">
            <div class="contacts contacts--flex-end">
                 <a class="contacts__icon show-for-large" href="tel:88005050507">
                    <svg class="icon phone">
                        <use xlink:href="#images--svg--phone"></use>
                    </svg>
                </a>
                <div class="contacts__data show-for-medium">
                    <span><a href="tel:88005050507">8 (800) 505-05-07</a></span>
                    <a href="mailto:edusales@softline.ru" target="_blank">edusales@softline.ru</a>
                </div>
                <button class="header-bottom__hamburger hide-for-medium" id="header-bottom__hamburger" aria-label="${_('Options Menu')}">
                    <i class="icon hamburger"></i>
                    <svg class="icon close" style="display: none;">
                        <use xlink:href="#images--svg--close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="mobile-nav" id="mobile-nav" style="display: none;">
        <div class="mobile-nav__phones">
            <a href="tel:88005050507">8 (800) 505-05-07</a>
            <a href="tel:+74952320023" class="text-right">+7 (495) 232-00-23</a>
        </div>

        <ul class="mobile-nav__list">
            <li><a href="http://academy4cloud.com/">На главную</a></li>
            <li><a href="/courses">Список MOOCs</a></li>
            <li><a href="http://edu.softline.ru/special-offers">Акции</a></li>
            <li><a href="http://edu.softline.ru/reviews/microsoft-options">Дополнительные опции</a></li>
        </ul>

        <div class="mobile-nav__email">
             <a href="mailto:edusales@softline.ru" target="_blank">edusales@softline.ru</a>
        </div>
    </div>

     <div class="header-bottom show-for-medium">
        <div class="row">
            <div class="column small-12">
                <ul class="header__nav header__nav--bottom">
                    <li><a href="http://academy4cloud.com/">На главную</a></li>
                    <li><a href="/courses">Список MOOCs</a></li>
                    <li><a href="http://edu.softline.ru/special-offers">Акции</a></li>
                    <li><a href="http://edu.softline.ru/reviews/microsoft-options">Дополнительные опции</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>

%if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
        end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
    )}</div>
<![endif]-->
%endif

<%include file="../help_modal.html"/>
%if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
<%include file="../widgets/cookie-consent.html" />
%endif

%if header_language_selector_is_enabled():
<% languages = released_languages() %>
%if len(languages) > 1:
<form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
    <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
    %if user.is_authenticated():
    <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
    %else:
    <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
    %endif
    <label><span class="sr">${_("Choose Language")}</span>
        <select class="input select language-selector" id="settings-language-value" name="language">
            %for language in languages:
            %if language[0] == LANGUAGE_CODE:
            <option value="${language[0]}" selected="selected">${language[1]}</option>
            %else:
            <option value="${language[0]}" >${language[1]}</option>
            %endif
            %endfor
        </select>
    </label>
</form>
%endif
%endif