.contacts {
  &__icon {
    margin-right : rem-calc(15);
    @include breakpoint(medium up) {
      display         : flex;
      width           : rem-calc(35);
      height          : rem-calc(35);
      border          : rem-calc(1) solid #dedede;
      margin-right    : 0;
      border-radius   : 50%;
      justify-content : center;
      align-items     : center;
    }
  }
}