.b-card {
  display         : flex;
  align-items     : center;
  justify-content : center;
  border          : rem-calc(1) solid #e5e5e5;
  min-height      : rem-calc(110);
  width           : 100%;
  overflow        : hidden;
  margin-bottom   : rem-calc(20);
  padding         : rem-calc(29);
  flex-direction  : column;
  .catalog-slider & {
    justify-content: flex-start;
  }
  @include breakpoint(medium up) {
    margin-bottom : rem-calc(30);
    min-height    : rem-calc(260);
  }

  &:hover {
    box-shadow : 0 6px 9px rgba(1, 1, 1, 0.1);
  }

  img {
    flex  : 0 0 auto;
    width : auto !important;
  }

  &__image {
    width          : 100%;
    display        : block;
    padding-bottom : rem-calc(10);
    min-height     : rem-calc(70);
  }

  &__title {
    width              : 100%;
    padding-top        : 10px;
    border-top         : 2px solid #dae3de;
    font-size          : 16px;
    line-height        : 18px;
    font-weight        : 400;
    color              : #444;
    -webkit-line-clamp : 2;
    -moz-line-clamp    : 2;
    -ms-line-clamp     : 2;
    -o-line-clamp      : 2;
    line-clamp         : 2;
    overflow           : hidden;
    text-overflow      : ellipsis;
    white-space        : normal;
  }

  a.b-card__title {
    color: #cb0f41 !important;
  }

  &__description {
    padding-top : rem-calc(10);
    color       : #444;
    font-size   : 14px;
    line-height : rem-calc(16);
    display     : block;
    width       : 100%;

    a {
      text-decoration : underline;
      &:hover {
        opacity : .6;
      }
    }
  }

  a {
    &:hover {
      opacity: .6;
    }
  }
}
