.header {

  &__logo {
    display    : block;
    width      : rem-calc(95);
    height     : rem-calc(19);
    @include breakpoint(medium up) {
      width      : rem-calc(160);
      height     : rem-calc(31);
    }
    &:hover {
      opacity : 1;
    }
    svg {
      width  : 100%;
      height : 100%;
    }
  }
}