.found-list {

  &__sorting {
    display       : flex;
    align-items   : center;
    color         : #444444;
    font-size     : rem-calc(14);
    padding-right : rem-calc(10);

    @include breakpoint(medium up) {
      padding-right : rem-calc(50);
    }

    > span {
      padding-right : rem-calc(11);
    }

    div {
      display     : flex;
      align-items : center;
    }

    .sorting-btn {
      padding-right : rem-calc(11);
      display       : flex;
      align-items   : center;
      height        : rem-calc(12);
      color         : inherit;
      font-size     : inherit;

      img {
        opacity    : 1;
        transition : all 0.2s ease-out;
      }

      span {
        display      : flex;
        align-items  : center;
        padding-left : rem-calc(11);
      }

      &:hover {
        img {
          opacity : .2;
        }
      }
    }
  }
}