<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
from openedx.core.djangolib.markup import HTML
from openedx.core.lib.courses import course_image_url
%>

<%inherit file="../main.html" />
<%block name="headextra">
## OG (Open Graph) title and description added below to give social media info to display
## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
<meta property="og:title" content="${course.display_name_with_default_escaped}"/>
<meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}"/>
</%block>

<%block name="js_extra">
<script type="text/javascript">
    (function () {
        $(".register").click(function (event) {
            $("#class_enroll_form").submit();
            event.preventDefault();
        });
    %if can_add_course_to_cart:
        add_course_complete_handler = function (jqXHR, textStatus) {
            if (jqXHR.status == 200) {
                location.href = "${cart_link}";
            }
            if (jqXHR.status == 400) {
                $("#register_error")
                    .html(jqXHR.responseText ? jqXHR.responseText : "${_("An error occurred.Please try again later.")}")
                    .css("display", "block");
            }
            else if (jqXHR.status == 403) {
                location.href = "${reg_then_add_to_cart_link}";
            }
        };
        $("#add_to_cart_post").click(function (event) {
            $.ajax({
                url: "${reverse('add_course_to_cart', args=[course.id.to_deprecated_string()])}",
                type: "POST",
                /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
                complete: add_course_complete_handler
            })
            event.preventDefault();
        });
    %endif
    ## making the conditional around this entire JS block for sanit
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
        <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. You may need to {start_logout_tag}log out{end_tag} then try the enroll button again. Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(start_help_tag = "<a href='{url}'>".format(url = marketing_link('FAQ')), end_tag = '</a>', start_logout_tag = "<a href='{url}'>".format(url = reverse('logout')))
        %>
        $('#class_enroll_form').on('ajax:complete', function (event, xhr) {
            if (xhr.status == 200) {
                location.href = "${reverse('dashboard')}";
            } else if (xhr.status == 403) {
                location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id | u}&enrollment_action=enroll";
            } else if (xhr.status == 400) { //This means the user did not have permission
                $('#register_error').html("${perms_error}").css("display", "block");
            } else {
                $('#register_error').html((xhr.responseText ? xhr.responseText : "${_("An error occurred.Please try again later.")}"))
                    .css("display", "block");
            }
        });
    %else:
        $('#class_enroll_form').on('ajax:complete', function (event, xhr) {
            if (xhr.status == 200) {
                if (xhr.responseText == "") {
                    location.href = "${reverse('dashboard')}";
                }
                else {
                    location.href = xhr.responseText;
                }
            } else if (xhr.status == 403) {
                location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
            } else {
                $('#register_error').html((xhr.responseText ? xhr.responseText : "${_("An error occurred.Please try again later.")}"))
                    .css("display", "block");
            }
        });
    %endif
    })(this)
</script>

<script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default_escaped}</%block>


<main>
    <section class="course-header">
        <div class="row">
            <div class="column small-12 medium-7 large-8">
                <div class="course-header__title">
                    <h1 class="text-left">${course.display_name_with_default_escaped}</h1>
                </div>
                <div class="course-header__download">
                    %if user.is_authenticated() and registered:
                    %if show_courseware_link:
                    <a href="${course_target}" class="button small">
                        %endif

                        ${_("You are enrolled in this course")}

                        %if show_courseware_link:
                        <span style="font-size: .8em;display: inline-block;vertical-align: top;line-height: 11px;;">(${_("View Course")})</span>
                    </a>
                    %endif

                    %elif invitation_only and not can_enroll:
                    <span class="button disabled">${_("Enrollment in this course is by invitation only")}</span>
                    ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
                    ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be
                    able to click
                    ## so that they can register and become a real user that can enroll.
                    %elif not is_shib_course and not can_enroll:
                    <span class="button disabled">${_("Enrollment is Closed")}</span>
                    %elif can_add_course_to_cart:
                    <%
                    if user.is_authenticated():
                        reg_href = "#"
                        reg_element_id = "add_to_cart_post"
                    else:
                        reg_href = reg_then_add_to_cart_link
                        reg_element_id = "reg_then_add_to_cart"
                    %>
                    <%
                    if ecommerce_checkout:
                        reg_href = ecommerce_checkout_link
                        reg_element_id = ""
                    %>
                    <a href="${reg_href}" class="button" id="${reg_element_id}">
                        ${_("Add {course_name} to Cart <span>({price} USD)</span>")\
                        .format(course_name=course.display_number_with_default, price=course_price)}
                    </a>
                    <div id="register_error"></div>
                    %else:
                    <%
                    if ecommerce_checkout:
                        reg_href = ecommerce_checkout_link
                    else:
                        reg_href="#"
                    if professional_mode:
                        href_class = "add-to-cart"
                    else:
                        href_class = "register"
                    %>
                    <a href="${reg_href}" class="button ${href_class}">
                        ${_("Enroll in {course_name}").format(course_name=course.display_number_with_default) | h}
                    </a>
                    <div id="register_error"></div>
                    %endif
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="column small-12 medium-7 large-8">
                <div class="course-temp-buttons" style="margin-bottom: 35px;">
                    <a class="button small small-expanded" href="http://edu.softline.ru/reviews/microsoft-options" style="margin-right: 15px; margin-bottom: 15px;">Microsoft Certificate of Completion</a>
                    <a class="button small small-expanded" href="http://edu.softline.ru/reviews/microsoft-options" style="margin-bottom: 15px">Онлайн сессия с тренером</a>
                </div>
                <div class="b-editor">
                    ${get_course_about_section(request, course, "overview")}
                </div>
            </div>
            <div class="column small-12 medium-5 large-3 large-offset-1">
                <div class="course-info">
                    %if not course.start_date_is_still_default:
                         <%
                            course_start_date = course.start
                         %>
                        <div class="course-info__cell">
                            <div class="course-info__name">
                                <span class="icon fa fa-calendar" aria-hidden="true"></span>
                                <span>${_("Classes Start")}</span>
                            </div>
                            <div class="course-info__value">
                                %if isinstance(course_start_date, str):
                                    <span>${course_start_date}</span>
                                %else:
                                    <%
                                        course_date_string = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                                    %>
                                     <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}"></span>
                                %endif
                            </div>
                        </div>
                    %endif


                    %if get_course_about_section(request, course, "end_date") or course.end:
                        <%
                            course_end_date = course.end
                        %>
                        <div class="course-info__cell">
                            <div class="course-info__name">
                                <span class="icon fa fa-calendar" aria-hidden="true"></span>
                                <span>${_("Classes End")}</span>
                            </div>
                            <div class="course-info__value">
                                %if isinstance(course_end_date, str):
                                    <span>${course_end_date}</span>
                                %else:
                                    <%
                                        course_date_string = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                                    %>
                                    <span class="important-dates-item-text final-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}"></span>
                                %endif
                            </div>
                        </div>
                    %endif

                    %if get_course_about_section(request, course, "effort"):
                        <div class="course-info__cell">
                            <div class="course-info__name">
                                <span class="icon fa fa-pencil" aria-hidden="true"></span>
                                <span>${_("Estimated Effort")}</span>
                            </div>
                            <div class="course-info__value">
                                <span>${get_course_about_section(request, course, "effort")}</span>
                            </div>
                        </div>
                    %endif

                    %if course_price and (can_add_course_to_cart or is_cosmetic_price_enabled):
                        <div class="course-info__cell">
                            <div class="course-info__name">
                                <span class="icon fa fa-money" aria-hidden="true"></span>
                                <span>${_("Price")}</span>
                            </div>
                             <div class="course-info__value">
                                <span>${course_price}</span>
                             </div>
                        </div>
                    %endif

                    %if pre_requisite_courses:
                        <% prc_target = reverse('about_course', args=[unicode(pre_requisite_courses[0]['key'])]) %>
                        <div class="course-info__cell">
                            <div class="course-info__name">
                                <span class="icon fa fa-list-ul" aria-hidden="true"></span>
                                <span>${_("Prerequisites")}</span>
                            </div>
                            <div class="course-info__value">
                                <span class="important-dates-item-text pre-requisite">
                                    <a href="${prc_target}">${pre_requisite_courses[0]['display']}</a>
                                    <span class="tip">
                                        ${_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.").format(
                                          link_start='<a href="{}">'.format(prc_target),
                                          link_end='</a>',
                                          prc_display=pre_requisite_courses[0]['display'],
                                        )}
                                    </span>
                                </span>
                            </div>
                        </div>
                    %endif

                    %if get_course_about_section(request, course, "prerequisites"):
                       <div class="course-info__cell">
                           <div class="course-info__name">
                               <span class="icon fa fa-book" aria-hidden="true"></span>
                               <span>${_("Requirements")}</span>
                           </div>
                           <div class="course-info__value">
                               <span>${get_course_about_section(request, course, "prerequisites")}</span>
                           </div>
                       </div>
                    %endif
                </div>
            </div>
        </div>
    </section>

    %if active_reg_button or is_shib_course:
    <div style="display: none;">
        <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
            <fieldset class="enroll_fieldset">
                <legend class="sr">${_("Enroll")}</legend>
                <input name="course_id" type="hidden" value="${course.id | h}">
                <input name="enrollment_action" type="hidden" value="enroll">
            </fieldset>
            <div class="submit">
                <input name="submit" type="submit" value="${_('enroll')}">
            </div>
        </form>
    </div>
    %endif

    <%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
    </%static:require_module_async>
</main>