.examinations {
  &__wrapper {
    display        : flex;
    flex-direction : column;
    padding        : rem-calc(0 10 20);

    @include breakpoint(medium up) {
      padding        : 0;
      flex-direction : row;
    }
  }
}