.course-header {
  &__img {
    display           : inline-block;
    width             : 100%;
    overflow          : hidden;
    background-repeat : no-repeat;
    margin-bottom     : rem-calc(30);
    @include breakpoint(large up) {
      max-width     : rem-calc(260);
      margin-right  : rem-calc(40);
      text-align    : center;
      margin-bottom : 0;
    }
    img {
      border : rem-calc(1) solid #dcdcdc;
    }
  }
}
