.banner {
  &__actions {
    position       : relative;
    z-index : 1;
    padding-top    : rem-calc(10);
    padding-bottom : rem-calc(9);
    margin-top     : rem-calc(-41);
    @include breakpoint(medium up) {
      margin-top       : 0;
      background-color : $white;
      padding-top      : rem-calc(20);
      padding-bottom   : rem-calc(20);
      border-bottom    : 1px solid #e5e5e5;
    }
  }
}