.calendar-table {
  &__row {
    &.--days {
      div {
        border      : none;
        font-size   : rem-calc(12);
        line-height : rem-calc(12);
        color       : #bababa;
      }
    }
  }
}