.certificate-version {
  &__title {
    position         : relative;
    background-color : #f7f7f7;
    min-height       : rem-calc(104);
    align-items      : center;
    padding          : rem-calc(34);
    display          : flex;
    cursor           : pointer;
    h4 {
      margin-bottom : 0;
    }
    .icon {
      position   : absolute;
      right      : rem-calc(47);
      top        : 50%;
      height     : rem-calc(9);
      width      : rem-calc(6);
      fill       : rgba(#444, .3);
      transform  : rotate(90deg);
      transition : ease-in .3s;
    }
    .is-opened & {
      .icon {
        transform : rotate(-90deg);
      }
    }
  }
}