.discount-banner {
  &__title {
    display     : none;
    color       : #ffffff;
    font-weight : 500;
    font-size   : rem-calc(17);

    @include breakpoint(440 up) {
      display : block;
    }

    @include breakpoint(810 up) {
      font-size   : rem-calc(27);
      line-height : rem-calc(35);
    }

    @include breakpoint(1200 up) {
      font-size   : rem-calc(40);
      line-height : rem-calc(54);
      font-weight : 700;
    }

    @include breakpoint(1440 up) {
      font-size   : rem-calc(45);
      line-height : rem-calc(60);
    }

    .title-symbol {
      &::after {
        content : '!';
      }

      @include breakpoint(1200 up) {
        &::after {
          content : ':';
        }
      }
    }

    .title-price {
      color : #ffd74b;

      @include breakpoint(1200 up) {
        display : none;
      }
    }
  }
}