ol.timeline {
  position: relative;
  list-style-type: none;
  counter-reset: myCounter;
  padding-left: rem-calc(40);

  &::before {
    position: absolute;
    left: 0;
    top: rem-calc(15);
    bottom: rem-calc(30);
    content: '';
    background: linear-gradient(to bottom, #7dc933 50%, #cb0f41);
    width: rem-calc(1);
  }

  & > li {
    position: relative;
    padding: rem-calc(30 30 20);
    min-height: rem-calc(50);
    background-color: #f3f3f3;
    margin-bottom: rem-calc(20);
    &:last-child {
      margin-bottom: 0;
    }
    p:last-child, ul:last-child  {
      margin-bottom: rem-calc(10);
    }
  }
  & > li:before {
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #444;
    background: #fff;
    border: 1px solid #dcdcdc;
    display: inline-block;
    text-align: center;
    line-height: rem-calc(40);
    width: rem-calc(40);
    height: rem-calc(40);
    border-radius: 50%;
    top: rem-calc(15);
    left: rem-calc(-60);
  }
  & > li::after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 14px 13px 0;
    border-color: transparent #f3f3f3 transparent transparent;
    content: '';
    top: rem-calc(24);
    left: rem-calc(-14)
  }
}