.classrooms {
  position : relative;
  height   : 100%;

  &__button {
    left   : 0;
    bottom : rem-calc(15);
    color  : black !important;

    @include breakpoint(large up) {
      position : absolute;
    }

  }
}