.card-box {
  border           : rem-calc(1) solid #e5e5e5;
  background-color : #ffffff;
  padding          : rem-calc(25);
  margin-bottom    : rem-calc(15);

  &__top {
    display        : flex;
    padding-bottom : rem-calc(15);
    border-bottom  : rem-calc(1) solid #e5e5e5;
  }

  &__img {
    flex       : 1 0 50%;
    text-align : right;
    .circle {
      display          : inline-flex;
      align-items      : center;
      justify-content  : center;
      width            : rem-calc(55);
      height           : rem-calc(55);
      background-color : #c61143;
      border-radius    : 50%;
    }

  }

  &__title {
    flex        : 1 0 50%;
    color       : #222222;
    font-size   : rem-calc(18);
    font-weight : 700;
    line-height : rem-calc(20);

    a {
      color : inherit;

      &:hover {
        opacity : 0.6;
      }
    }
  }

  &__desc {
    padding-top : rem-calc(30);
    color       : #444444;
    font-size   : rem-calc(14);
    line-height : rem-calc(18);

  }
}