.areas {
  &__title {
    color           : #000000;
    font-size       : rem-calc(18);
    font-weight     : 700;
    min-height      : rem-calc(68);
    display         : flex;
    align-items     : center;
    justify-content : center;

    @include breakpoint(medium up) {
      min-height : rem-calc(130);
    }
  }
}