@mixin solutions-icon($name) {
  background-image    : url("../images/solutions/solutions__card/" + $name + ".png");
  background-position : center;
}

.solutions {
  &__card-icon {
    position          : absolute;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    bottom            : 0;
    right             : rem-calc(30);
    transform         : translateY(50%);
    overflow          : hidden;
    width             : rem-calc(68);
    height            : rem-calc(68);
    border-radius     : 50%;
    color             : white;
    font-size         : rem-calc(18);
    background-color  : #c61143;
    background-repeat : no-repeat;

    img {
      flex : 0;
    }

    &.arrow-icon {
      background-image    : url("../images/solutions/solutions__card/icon-arrow.png");
      background-position : 45% center;
    }

    &.server-icon {
      background-image    : url("../images/solutions/solutions__card/server-icon.png");
      background-position : center;
    }

    &.cloud-icon {
      background-image    : url("../images/solutions/solutions__card/cloud-icon.png");
      background-position : center;
    }

    &.virtual-icon {
      background-image    : url("../images/solutions/solutions__card/virtual-icon.png");
      background-position : center;
    }

    &.sap-icon {
      @include solutions-icon('sap-icon');
    }

    &.monitoring-icon {
      @include solutions-icon('monitoring-icon');
    }

    &.safe-icon {
      @include solutions-icon('safe-icon');
    }

    &.project-icon {
      @include solutions-icon('project-icon');
    }

    &.callcenter-icon {
      @include solutions-icon('callcenter-icon');
    }

    &.procent-icon {
      @include solutions-icon('procent-icon');
    }

    &.system-icon {
      @include solutions-icon('system-icon');
    }
  }
}

