.course-header {
  &__content {
    padding : rem-calc(20 25 0);
    flex    : 1 1 auto;
    width   : 50%;

    @include breakpoint(medium up) {
      margin-right : auto;
      flex         : 1 1 auto;
      padding      : rem-calc(20 0 0);
    }

    @include breakpoint(1220 up) {
      padding : 49px 0 0;
    }

    .course-header {
      &__title {
        width      : 100%;
        text-align : center;
        h1 {
          font-size : rem-calc(19);
        }

        @include breakpoint(medium up) {
          text-align : left;

          h1 {
            font-size : rem-calc(40);
          }
        }

      }

      &__desc {
        text-align : center;
        width      : 100%;
        font-size  : rem-calc(14);
        color      : #444444;

        @include breakpoint(medium up) {
          color      : #8c8c8c;
          font-size  : rem-calc(18);
          text-align : left;
        }
      }
    }
  }
}