.partners {
  &__button {
    width          : 100%;
    max-width      : rem-calc(260);
    min-height     : rem-calc(50);
    text-align     : center;
    text-transform : uppercase;
    color          : #444444;
    font-size      : rem-calc(18);
    font-weight    : 700;
    line-height    : rem-calc(50);
    cursor         : pointer;
    border         : 1px solid #e5e5e5;
    &:hover {
      opacity : .5;
    }
  }
}