.tariff-plan {
  &__box {
    background-color : #f2f2f2;
    border           : rem-calc(1) solid #e5e5e5;
    padding          : rem-calc(10);

    p {
      margin-bottom : rem-calc(10);
    }

    ul {
      list-style : none;
    }

    svg {
      display       : block;
      margin        : 0 auto rem-calc(10);
      width         : rem-calc(58);
      height        : rem-calc(58);
      fill          : $primary-color;

    }
  }
}