.b-input {
  padding-bottom : rem-calc(10);

  label {
    > span {
      display        : inline-block;
      font-size      : rem-calc(16);
      line-height    : rem-calc(16);
      padding-bottom : rem-calc(9);
    }

    textarea {
      resize : none;
    }
  }

  &.input-form-error {
    textarea,
    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
      border-color : #cb0f41;
      border-width : rem-calc(2);
    }
  }

  &.inline {
    label {
      display     : flex;
      align-items : center;

      span {
        flex-shrink    : 0;
        margin-right   : rem-calc(20);
        padding-bottom : 0;
      }
    }
  }

}