@import "__desc/details__desc";
@import "__button/details__button";
@import "__title/details__title";
@import "__wrapper/details__wrapper";

.details {
  position : relative;

  @include breakpoint(medium up) {
    &::before {
      content    : "";
      display    : inline-block;
      left       : 0;
      top        : 0;
      position   : absolute;
      width      : 50%;
      height     : 100%;
      background : url("/dist/images/details/background.jpg") no-repeat center;
    }

    &::after {
      content    : "";
      display    : inline-block;
      left       : 0;
      top        : 0;
      position   : absolute;
      width      : 50%;
      height     : 100%;
      opacity    : .5;
      background : black;
    }
  }

}