form {
  font-size: 1em;
}

label {
  color: $base-font-color;
  font: italic 300 1rem/1.6rem $serif;
  margin-bottom: ($baseline/4);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: antialiased;

  &.register-emails {
    font-family: $sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: normal;
    width: calc(100% - 25px);
    padding-top: 2px;
    position: relative;
    float: right;
    clear: both;
  }
}

textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  &:last-child {
    margin-right: 0;
  }
}

textarea {
  height: 60px;
}

input[type="submit"],
input[type="button"],
.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0;
  font-family: inherit;
  padding: 1.8rem 2.5em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #cb0f41;
  color: #fefefe;

  &:hover {
    opacity: .6;
  }
  &:disabled, &.is-disabled, &.disabled {
    opacity: 0.25;
    cursor: not-allowed;
    background-color: #a5a5a5;
    color: #6a6a6a;
  }
}
