.product-card {
  &__button {
    display          : flex;
    align-items      : center;
    width            : 100%;
    height           : rem-calc(43);
    max-width        : 100%;
    background-color : #ebe9e5;
    color            : #444444;
    font-size        : rem-calc(14);
    font-weight      : 700;
    line-height      : rem-calc(17);
    position         : relative;
    align-self       : center;
    text-transform   : uppercase;
    text-align       : left;
    border           : 1px solid #e5e5e5;
    margin-top       : rem-calc(20);
    border-radius    : rem-calc(4);
    transition       : background-color 0.2s ease-in;

    &:hover {
      background-color : #e1ded8;
    }

    @include breakpoint(medium up) {
      justify-content : center;
      text-align      : center;
      padding-right   : 0;
      border-radius   : 0;
      margin-top      : 0;
      border          : rem-calc(1) solid;
      align-self      : unset;
      border-color    : #ebe9e5 #dcdcdc #ebe9e5 #dcdcdc; //не трогать
      height          : rem-calc(50);
      max-width       : rem-calc(160);
    }

    .product-btn-icon {
      display     : inline-block;
      position    : absolute;
      right       : 0;
      top         : 50%;
      transform   : translateY(-50%);
      border-left : rem-calc(1) solid #eadcdc;
      width       : rem-calc(65);
      height      : rem-calc(43);
      background  : url("/dist/images/product-card/product-basket.png") no-repeat center;

      @include breakpoint(medium up) {
        display : none;
      }
    }

    .product-btn-text {
      display : none;
      @include breakpoint(medium up) {
        display : inline-block;
      }
    }
  }
}

.product-btn-discount {
  display          : inline-block;
  position         : absolute;
  color            : #ffffff;
  background-color : #37b63f;
  top              : 50%;
  left             : 0;
  transform        : translate(-50%, -50%);
  border-radius    : rem-calc(2);
  padding          : rem-calc(2 5);
  line-height      : rem-calc(12);
  font-size        : rem-calc(10);
  font-weight      : 200;
}

.product-btn-price {
  padding-left   : rem-calc(17);
  display        : inline-block;
  font-size      : rem-calc(14);
  font-weight    : 700;
  line-height    : rem-calc(18);
  position       : relative;
  text-transform : uppercase;

  span {
    display : inline-block;
  }

  .old-price {
    position        : absolute;
    opacity         : 0.5;
    top             : 0;
    right           : rem-calc(-100);
    color           : #444444;
    font-size       : rem-calc(10);
    font-weight     : 300;
    text-transform  : none;
    min-width           : rem-calc(85);
    text-decoration : line-through;
  }

  @include breakpoint(medium up) {
    display : none;
  }
}