@import "__desc/banner__desc";
@import "__img/banner__img";
@import "__link/banner__link";
@import "__title/banner__title";
@import "__slide/banner__slide";
@import "__actions/banner__actions";
@import "__dots/banner__dots";
@import "vars";

.banner {
  position         : relative;
  width            : 100%;
  background-color : #f7f7f7;

  .owl-dot {
    display     : inline-block;
    width       : rem-calc(21);
    height      : rem-calc(17);
    cursor      : pointer;
    position    : relative;
    text-align  : center;
    line-height : rem-calc(18);

    span {
      display          : inline-block;
      border-radius    : 50%;
      width            : rem-calc(3);
      height           : rem-calc(3);
      vertical-align   : middle;
      transition       : ease-in-out .2s;
      background-color : transparentize($white, .7);
    }

    &:hover {
      span {
        background-color : rgba($white, .6);
      }
    }
    &.active {
      span {
        background-color : $white;
      }
    }

    .radius {
      display  : none;
      position : absolute;
      top      : 0;
      left     : 0;
      @include breakpoint(medium up) {
        display : block;
      }
    }
  }
  .owl-dots {
    font-size : 0;
  }
  @include breakpoint(medium up) {

    .owl-dot {
      width        : rem-calc(17);
      line-height  : rem-calc(17);
      font-size:   0;
      margin-left  : rem-calc(3);
      margin-right : rem-calc(3);
      span {
        width            : rem-calc(5);
        height           : rem-calc(5);
        background-color : rgba($black, .3);
      }

      &:hover {
        span {
          background-color : rgba($black, .6);
        }
      }
      &.active {
        span {
          background-color : $black;
        }
      }
    }
  }
}
