.areas {
  &__img {

    position : relative;
    height   : rem-calc(165);
    display  : block;
    width    : auto;

    .photo {
      overflow : hidden;
      position : absolute;
      display  : block;
      width    : 101%;
      height   : 100%;
      left     : 0;
      top      : 0;

      span {
        position            : absolute;
        display             : block;
        left                : 0;
        top                 : 0;
        width               : 100%;
        height              : 100%;
        background-repeat   : no-repeat;
        background-size     : cover;
        background-position : 50% 50%;
        transform           : scale(1);
        transition          : transform 0.9s ease-out;

      }
    }

    @include breakpoint(medium up) {
      height : rem-calc(395);
    }
  }
}