<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
%>

<header class="b-title">
  <h1 class="h5 text-left">${_("My Courses")}</h1>
</header>

<h2 class="hd hd-2 sr" id="courses-tab">${_('My Courses')}</h2>
