@import "__area/header-top__area";
@import "__flag/header-top__flag";
@import "__nav/header-top__nav";
@import "__wrapper/header-top__wrapper";

.header-top {
  background-color : #343943;
  @include breakpoint(medium up) {
    background-color : #f2f2f2;
    border-bottom    : 1px solid #e4e4e4;
  }

  a, button {
    position        : relative;
    font-size       : rem-calc(12);
    font-weight     : 400;
    text-decoration : underline;

    @include breakpoint(medium up) {
      font-size : rem-calc(14);
    }
  }

}