.banner {
  &__desc {
    &--padding {
      padding-top   : rem-calc(20);
      margin-bottom : rem-calc(27);
      @include breakpoint(large up) {
        padding-top   : rem-calc(30);
        margin-bottom : rem-calc(61);
      }
    }
  }
}