@import "--email/subscribe-banner__input--email";
@import "--name/subscribe-banner__input--name";

.subscribe-banner {
  &__input {
    margin-bottom : rem-calc(20);
    @include breakpoint(medium up) {
      padding-left  : rem-calc(10);
      padding-right : rem-calc(10);
    }

    &.error {
      input {
        border-color : transparent transparent #c61143 transparent !important;
      }
    }

    input {
      padding-left     : 0;
      height           : rem-calc(52);
      opacity          : 1;
      background-color : transparent;
      color            : #ffffff;
      font-size        : rem-calc(20);
      font-weight      : 700;
      line-height      : rem-calc(20);
      box-shadow       : none;
      border-width     : rem-calc(2);
      border-color     : transparent transparent white transparent;

      &:focus, &:active {
        background-color : transparent;
        box-shadow       : none;
        border-radius    : 0;
        border-width     : rem-calc(2);
        padding-left     : rem-calc(15);
        border-color     : white;
      }

      &:hover {
        background-color : transparent;
        box-shadow       : none;
        border-color     : transparent transparent #9a9ca0 transparent;

        &::placeholder {
          color : #9a9ca0;
        }
      }

      &:focus:hover {
        color        : white;
        border-color : white;

        &::placeholder {
          color : white;
        }
      }

      &::placeholder {
        padding-left : 0;
        opacity      : 1;
        color        : #ffffff;
        font-size    : rem-calc(20);
        font-weight  : 700;
        line-height  : rem-calc(20);
      }
    }

    &:first-child {
      padding-left : 0;
    }

    &:last-child {
      padding-right : 0;
    }
  }
}