.b-radiobox {
  padding-left : rem-calc(20);
  margin-right : rem-calc(25);

  input[type="radio"] {
    display    : none;
    visibility : hidden;
    opacity    : 0;

    &:checked + span {
      &::after {
        background-color : $primary-color;
      }
    }
  }

  span {
    padding-left : rem-calc(11);
    position     : relative;
    display      : inline-block;
    font-size    : rem-calc(16);

    &::after {
      content          : "";
      left             : rem-calc(-14);
      top              : rem-calc(9);
      display          : inline-block;
      position         : absolute;
      width            : rem-calc(8);
      height           : rem-calc(8);
      border-radius    : 50%;
      background-color : transparent;
    }

    &::before {
      content          : "";
      border-radius    : 50%;
      position         : absolute;
      left             : rem-calc(-20);
      top              : rem-calc(3);
      display          : inline-block;
      width            : rem-calc(20);
      height           : rem-calc(20);
      border           : rem-calc(1) solid #bfbfbf;
      background-color : transparent;
    }
  }
}

// Контейнер, если нужно вертикальное расположение
// например https://screen.htmlmak.ru/shot_180204_231944.png

.radio-box {
  margin-bottom : rem-calc(24);
  .b-radiobox {
    width         : 100%;
    margin-bottom : rem-calc(9);
    line-height   : 1;
    span {
      line-height    : rem-calc(20);
      vertical-align : top;
      color          : #444444;
      font-size      : rem-calc(14);
      &::after {
        top : rem-calc(6);
      }
      &::before {
        top : 0;
      }
    }
  }

}