@import "__inner/discount-banner__inner";
@import "__content/discount-banner__content";
@import "__title/discount-banner__title";
@import "__desc/discount-banner__desc";
@import "__price/discount-banner__price";
@import "__photo/discount-banner__photo";
@import "__button/discount-banner__button";

.discount-banner {
  background      : #0174c4 url("../images/discount-banner/bg.jpg") no-repeat left top;
  background-size : cover;

  &__bottom {
    display     : block;
    padding-top : rem-calc(11);

    @include breakpoint(1440 up) {
      padding-top : rem-calc(65);
      align-items : center;
      display     : flex;

      .discount-banner {
        &__button {
          padding-top   : 0;
          padding-right : rem-calc(65);
          order         : -1;
        }
      }
    }

  }

  &__percent {
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    justify-content : center;
    position        : relative;
    text-align      : center;
    margin          : 0 auto;
    width           : rem-calc(160);
    height          : rem-calc(160);

    @include breakpoint(440 up) {
      position  : absolute;
      top       : 0;
      right     : 0;
      transform : translate(76%, 21%);
      width     : rem-calc(135);
      height    : rem-calc(135);
    }

    @include breakpoint(810 up) {
      width  : rem-calc(215);
      height : rem-calc(215);

    }

    @include breakpoint(1200 up) {
      transform : translate(50%, 21%);
      width     : rem-calc(266);
      height    : rem-calc(266);
    }

    svg {
      z-index  : 2;
      position : absolute;
      left     : 0;
      top      : 0;
      width    : 100%;
      height   : 100%;
    }

    &-text {
      transform : rotate(-15deg);
      padding   : rem-calc(20);
      position  : relative;
      z-index   : 3;

      p {
        font-weight : 900;
        color       : #000000;
        font-size   : rem-calc(52);
        margin      : 0;
        padding     : 0;
        line-height : 1;

        @include breakpoint(440 up) {
          font-size : rem-calc(41);
        }

        @include breakpoint(810 up) {
          font-size : rem-calc(78);
        }

        @include breakpoint(1440 up) {
          font-size : rem-calc(81);
        }

      }

      span {
        color       : #151515;
        font-size   : rem-calc(13);
        font-weight : 500;

        @include breakpoint(440 up) {
          font-size : rem-calc(10);
        }

        @include breakpoint(810 up) {
          font-size : rem-calc(19);
        }

        @include breakpoint(1440 up) {
          font-size : rem-calc(20);
        }

      }

    }

  }

}