<section style="padding-bottom: 3rem">
    <div class="discount-banner">
        <div class="discount-banner__inner">
            <div class="discount-banner__content">
                <div class="discount-banner__title">
                        <span>Комплексное обучение <br class="show-for-medium">
                            Microsoft  не выходя из&nbsp;дома</span><span class="title-symbol"></span>
                    <span class="title-price">от&nbsp;3&nbsp;870&nbsp;₽</span>
                </div>
                <div class="discount-banner__desc">
                    <ul>
                        <li>самостоятельное прохождение онлайн-курсов</li>
                        <li>тренерские сессии для разбора вопросов</li>
                        <li>сдача экзамена с повторной попыткой</li>
                    </ul>
                </div>
                <div class="discount-banner__percent">
                    <div class="discount-banner__percent-text">
                        <p>70%</p>
                        <span>Скидка до конца мая&nbsp;2018</span>
                    </div>


                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.7 21.7">
                        <g>
                            <g>
                                <path d="M21.7,10.85c0,.55-1,1-1.08,1.55s.72,1.29.55,1.81-1.26.65-1.51,1.13.29,1.45,0,1.89-1.41.23-1.79.61-.17,1.47-.61,1.79-1.41-.22-1.89,0-.61,1.34-1.13,1.51-1.27-.64-1.81-.56-1,1.09-1.55,1.09-1-1-1.55-1.09-1.29.73-1.8.56-.65-1.26-1.14-1.51-1.45.29-1.89,0-.22-1.41-.61-1.79-1.47-.17-1.79-.61.22-1.41,0-1.89S.7,14.73.53,14.21s.64-1.27.56-1.81S0,11.4,0,10.85s1-1,1.09-1.55S.36,8,.53,7.5,1.79,6.84,2,6.36s-.29-1.45,0-1.89,1.41-.22,1.79-.61S4,2.39,4.47,2.07s1.41.22,1.89,0S7,.7,7.5.53s1.26.64,1.8.56S10.3,0,10.85,0s1,1,1.55,1.09S13.69.36,14.21.53,14.86,1.8,15.34,2s1.45-.29,1.89,0,.23,1.41.61,1.79,1.47.17,1.79.61-.22,1.41,0,1.89S21,7,21.17,7.5s-.64,1.26-.55,1.8S21.7,10.3,21.7,10.85Z"
                                      style="fill:#f8c44f;"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="discount-banner__bottom">
                    <div class="discount-banner__price">
                        <span>от&nbsp;3&nbsp;870&nbsp;₽</span>
                    </div>
                </div>

            </div>
            <div style="background-image: url(dist/images/discount-banner/photo-1.jpg)"
                 class="discount-banner__photo">

            </div>
        </div>
    </div>
</section>