.course-card {
  &__top {
    padding-right  : rem-calc(20);
    padding-bottom : rem-calc(15);
    border-bottom  : rem-calc(1) solid #e7e7e7;
    @include breakpoint(medium up) {
      padding-right : rem-calc(130);
    }
    .card-layout & {
      padding-right : 0;
    }
  }
}