.course-info {
  &__value {
    display: inline-block;
    position: relative;
    flex: 1 1 50%;
    padding-left: rem-calc(15);

    a {
      color: #444444;
      font-size: rem-calc(14);
      text-decoration: underline;

      &:hover {
        opacity: .6;
      }
    }
  }
}