.about-us {

  &__list {

    ul {
      padding-top : rem-calc(17);
      list-style  : none;
      margin-left : 0;
      li {
        padding-left : rem-calc(50);

        &::before {
          top        : rem-calc(3);
          left       : rem-calc(20);
          background : transparent url("../images/about-us/about-us__list/chek.png") no-repeat left top;
          width      : rem-calc(16);
          height     : rem-calc(11);
        }
      }

      @include breakpoint(medium up) {
        padding-top : rem-calc(40);
        li {
          font-size     : rem-calc(16);
          line-height   : rem-calc(22);
          padding-left  : rem-calc(48);
          padding-right : rem-calc(47);
          margin-bottom : rem-calc(22);
          &::before {
            top  : rem-calc(5);
            left : rem-calc(17);
          }
        }
      }

      @include breakpoint(small only) {
        &:last-child {
          padding-top : rem-calc(19);
        }
      }
    }

  }

}