.instructors {
  &__branch {
    padding-top : rem-calc(9);
    color       : #444444;
    font-size   : rem-calc(14);

    @include breakpoint(large up) {
      padding-right : rem-calc(20);
    }
  }
}