.catalog-slider {
  &__prev {
    width           : rem-calc(40);
    height          : rem-calc(40);
    display         : flex;
    border          : 1px solid #a6a6a6;
    border-radius   : 50%;
    align-items     : center;
    justify-content : center;
    margin          : 0;
    cursor          : pointer;
    @include breakpoint(medium up) {
      width  : rem-calc(66);
      height : rem-calc(66);
    }
    svg {
      fill      : #000;
      width     : rem-calc(7);
      height    : rem-calc(16);
      opacity   : 0.5;
      transform : rotateY(180deg);
      @include breakpoint(medium up) {
        width     : rem-calc(10);
        height    : rem-calc(18);
      }
    }
    &:hover {
      border-color : #888;
    }

    &:active {
      opacity : .3;
    }
  }
}