.select-role {

  .select2-container {
    &--open {
      .select2-selection {
        &__arrow {
          transform : rotate(180deg);
        }
      }
    }
  }

  .select2-selection {
    background-color : transparent !important;
    border           : rem-calc(1) solid #dcdcdc;


    &__arrow {
      background : url("../images/b-select/select-arrow.png") no-repeat center;
      transition       : transform  0.2s ease-in;
    }
  }

  &-wrap {
    max-width      : rem-calc(560);
    width          : 100%;
    padding-bottom : rem-calc(40);

    .select-role + .select-role {
      margin-top : rem-calc(-1);
    }
  }
}
