<div class="select-role-wrap">
    <div class="select-role">
        <select class="select-role__inner" name="" id="">
            <option value="">Администраторы</option>
            <option value=""> Системный администратор Windows</option>
            <option value="">Системный администратор Linux</option>
            <option value="">Сетевой администратор</option>
            <option value="">Специалист ИБ</option>
            <option value="">Специалист по средствам коммуникации</option>
        </select>
    </div>
    <div class="select-role">
        <select class="select-role__inner" name="" id="">
            <option value="">Разработчики</option>
            <option value="">Разработчик ПО</option>
            <option value="">Веб-разработчик</option>
            <option value="">Программист 1С</option>
        </select>
    </div>
    <div class="select-role">
        <select class="select-role__inner" name="" id="">
            <option value="">Техспециалист</option>
            <option value="">Системный аналитик</option>
            <option value="">Тестировщик</option>
            <option value="">Технический писатель</option>
            <option value="">Специалист техподдержки</option>
            <option value="">ИТ-руководитель</option>
            <option value="">Менеджер проекта</option>
            <option value="">Начинающий специалист</option>

        </select>
    </div>
    <a class="skip-role" href="#">Пропустить</a>
</div>