.offer-loop {
  border        : 1px solid #e5e5e5;
  margin-bottom : rem-calc(10);
  .flex-container {
    padding   : rem-calc(29 29 27 29);
    flex-wrap : wrap;
    @include breakpoint(medium up) {
      flex-wrap : nowrap;
    }
  }

  &__title {
    font-size   : rem-calc(16);
    font-weight : 700;
    a {
      color : #444;
      &:hover {
        opacity : .6;
      }
    }
  }

  &__content {
    flex-shrink : 1;
  }

  &__image {
    width         : 100%;
    flex-shrink   : 0;
    margin-bottom : rem-calc(29);
    &:hover {
      opacity : .6;
    }
    @include breakpoint(medium up) {
      margin-right  : rem-calc(30);
      margin-bottom : 0;
      width         : 221px;
    }
    @include breakpoint(large up) {
      margin-right : rem-calc(46);
    }
  }

  &__duration {
    position     : relative;
    display      : flex;
    flex         : 1 1 100%;
    height       : rem-calc(49);
    border-top   : 1px solid #e5e5e5;
    padding-left : rem-calc(29);
    font-size    : rem-calc(14);
    align-items  : center;
    color        : #444;
    transition   : color ease-in .2s;
    @include breakpoint(medium up) {
      padding-left : rem-calc(55);
    }
    .calendar {
      position  : absolute;
      width     : rem-calc(14);
      height    : rem-calc(14);
      left      : rem-calc(29);
      top       : 50%;
      transform : translateY(-50%);
      fill      : $primary-color;
      display   : none;
      @include breakpoint(medium up) {
        display : block;
      }
    }
    .arrow {
      position   : absolute;
      width      : rem-calc(6);
      height     : rem-calc(9);
      right      : rem-calc(23);
      top        : 50%;
      transform  : translateY(-50%);
      fill       : #b7b7b7;
      transition : ease-in .2s;
    }
    &:hover .icon {
      fill : $primary-color;
    }
  }
}

.offer-loop-mobile {
  position       : relative;
  border         : rem-calc(1) solid #e5e5e5;
  padding-bottom : rem-calc(30);
  margin-bottom  : rem-calc(10);

  .arrow {
    position : absolute;
    width    : rem-calc(6);
    height   : rem-calc(9);
    fill     : #b7b7b7;
    left     : rem-calc(20);
    bottom   : rem-calc(25);
  }

  &__top {
    text-align : center;
    padding    : rem-calc(30 20);

    .offer-loop__image {
      margin-bottom : 0;
    }
  }

  &__duration {
    position         : relative;
    background-color : #f5f4f2;
    border           : rem-calc(1) solid;
    border-color     : #e5e5e5 #f5f4f2 #e5e5e5 #f5f4f2;
    padding          : rem-calc(18 20 18 60);
    font-size        : rem-calc(15);

    .calendar {
      position  : absolute;
      width     : rem-calc(14);
      height    : rem-calc(14);
      left      : rem-calc(29);
      top       : 50%;
      transform : translateY(-50%);
      fill      : $primary-color;
      display   : block;
    }
  }

  &__content {
    padding : rem-calc(20);
  }
}