// TODO: рефакорить

.event-filter {

  a {
    display         : inline-block;
    padding         : rem-calc(0 8);
    opacity         : 0.3;
    color           : #222222;
    font-size       : rem-calc(14);
    line-height     : rem-calc(15);
    text-decoration : underline;

    &:hover {
      opacity         : 1;
    }
  }

  > p {
    opacity       : 0.5;
    color         : #444444;
    font-size     : rem-calc(16);
    line-height   : rem-calc(18);
    margin-bottom : rem-calc(14);
  }

  > div, > form {
    display   : flex;
    flex-wrap : wrap;

    .b-radiobox {
      flex : 1 1 100%;

      @include breakpoint(medium up) {
        flex : 0 1 auto;
      }
    }

    .b-select {
      flex          : 1 1 100%;
      margin-bottom : rem-calc(20);

      @include breakpoint(medium up) {
        flex : 1 1 33%;
      }

      &.city {
        background   : url("/dist/images/b-select/city-cion.png") no-repeat 3% center;
        padding-left : rem-calc(15);
        max-width    : rem-calc(145);
        .b-select {
          &__container {
            & + .select2-container {
              .select2-selection--single {
                border           : none;
                height           : rem-calc(20);
                background-color : transparent;

                .select2-selection__rendered {
                  color          : #222222;
                  font-size      : rem-calc(16);
                  text-transform : none;
                  box-shadow     : none;
                  line-height    : rem-calc(20);
                  font-weight    : 400;
                }
              }
            }
          }
        }
      }

      &__container {
        & + .select2-container {

          .select2-selection--single {
            border : rem-calc(1) solid #dcdcdc;
            height : rem-calc(50);

            .select2-selection__rendered {
              color          : #222222;
              font-size      : rem-calc(16);
              text-transform : none;
              box-shadow     : none;
              line-height    : rem-calc(50);
              font-weight    : 400;
            }

          }

        }
      }

    }
  }
}

.date-input {
  flex          : 1 1 100%;
  margin-bottom : rem-calc(20);

  @include breakpoint(medium up) {
    flex : 1 1 50%;
  }

  input {
    background       : url("../images/date-input/calendar-icon.png") no-repeat 90% center;
    height           : rem-calc(50);
    border           : rem-calc(1) solid #dcdcdc;
    background-color : #ffffff;
    font-size        : rem-calc(16);
    border-radius    : 0;
    box-shadow       : none;
  }
}