.feedback-widget {
  padding-top : rem-calc(25);

  span {
    display        : inline-block;
    font-size      : rem-calc(14);
    padding-bottom : rem-calc(14);
    padding-top    : rem-calc(20);
  }

  input {
    border-radius : 0;
    box-shadow    : none;
    font-weight   : 700;
    margin-bottom : rem-calc(20);
    color         : #444444;

    &::placeholder {
      color       : #444444;
      opacity     : 1;
      font-size   : rem-calc(16);
      font-weight : 700;
    }
  }
}