.course-header {
  &__download-price {

    a {
      position         : relative;
      color            : #ffffff;
      padding          : rem-calc(13 75 13 20);
      font-size        : rem-calc(14);
      border-radius    : rem-calc(3);
      display          : inline-block;
      width            : 100%;
      max-width        : 100%;
      min-height       : rem-calc(65);
      background-color : #c61143;

      &:hover {
        background-color : scale-color(#c61143, $lightness : -10%);
      }

      @include breakpoint(medium up) {
        max-width : rem-calc(232);
      }

      &::after {
        content    : "";
        opacity    : .3;
        position   : absolute;
        top        : 50%;
        transform  : translateY(-50%);
        right      : rem-calc(25);
        width      : rem-calc(25);
        height     : rem-calc(22);
        background : url("/dist/images/course-header/course-header__price-download/download.png") no-repeat center;
      }
    }
  }
}