.product-card {
  &__note {
    display      : inline-block;
    padding-left : rem-calc(26);
    padding-top  : rem-calc(9);
    color        : #444444;
    font-size    : rem-calc(13);

    @include breakpoint(medium up) {
      padding-left : rem-calc(17);
    }

    &.date {
      padding-left : rem-calc(26);
      background   : url("../images/product-card/calendar.png") no-repeat left rem-calc(10);

      @include breakpoint(medium up) {
        padding-top         : 0;
        font-size           : rem-calc(15);
        background-position : left rem-calc(4);
      }
    }

    &.time {
      background : url("../images/product-card/clock.png") no-repeat left 10px;
      @include breakpoint(medium up) {
        background    : transparent;
        color         : #9f9f9f;
        display       : inline-block;
        padding-top   : 0;
        padding-left  : rem-calc(17);
      }
    }

    &.place {
      display       : none;
      flex          : 1 1 auto;
      padding-right : rem-calc(23);

      @include breakpoint(medium up) {
        display     : block;
        padding-top : 0;
        text-align  : right;
        font-size   : rem-calc(15);
      }
    }

    &.type {
      background : url("../images/product-card/pc.png") no-repeat left 10px;

      @include breakpoint(medium up) {
        display : none;
      }
    }
  }
}