.partners {
  &__card-wrapper {
    padding-top : rem-calc(30);
    @include breakpoint(medium up) {
      padding-top : rem-calc(55);
    }
    .b-card {
      padding-top    : 0;
      padding-bottom : 0;
      min-height: rem-calc(150);
    }
  }
}