.solutions {
  &__card-title {
    color          : #222222;
    font-size      : rem-calc(16);
    font-weight    : 700;
    line-height    : rem-calc(24);
    padding-bottom : rem-calc(29);
    padding-right  : rem-calc(40);

    @include breakpoint(medium up) {
      font-size  : rem-calc(22);
      min-height : rem-calc(77);
    }

    &.tinny {
      padding-bottom : rem-calc(10);
      @include breakpoint(medium up) {
        font-size  : rem-calc(22);
        min-height : rem-calc(10);
      }
    }

  }
}