.leave-order-banner {
  &__title {
    color       : #f5f4f2;
    font-size   : rem-calc(24);
    font-weight : 200;
    line-height : rem-calc(26);
    padding     : rem-calc(0 22);

    @include breakpoint(medium up) {
      padding        : 0;
      font-size      : rem-calc(40);
      line-height    : rem-calc(40);
      text-transform : uppercase;
    }
  }
}