.section-contact {
  &__content {
    flex      : 1;
    max-width : rem-calc(420);
    width     : 100%;
    padding   : rem-calc(0 10);

    @include breakpoint(medium up) {
      margin-right  : auto;
      padding-right : rem-calc(20);
      padding-left  : 0;
    }
  }
}