@import "__item/customers__item";
@import "__cards/customers__cards";
@import "__editor/customers__editor";

.customers {
  padding-top : rem-calc(30);
  @include breakpoint(medium up) {
    padding-top : rem-calc(70);
  }

  &__wrap {
    padding-bottom : rem-calc(30);
    @include breakpoint(medium up) {
      padding-bottom : rem-calc(70);
    }
  }
}