.callback-banner {
  &__button {
    background-color : #cb0f41;
    flex             : 1 1 100%;
    max-width        : rem-calc(355);
    width            : rem-calc(100);
    height           : rem-calc(50);
    border-radius    : rem-calc(3);
    transform        : scaleX(1);
    cursor           : pointer;
    transition       : background-color 0.5s, transform 0.3s ease-in-out 0.2s;

    &:hover {
      background-color: $button-background-hover;
      transform : scaleX(1.05);
    }

    @include breakpoint(medium up) {
      border-radius    : rem-calc(0 3 3 0);
      transform-origin : left;
      flex             : 1 1 0%;
    }
  }
}