.exam-card-wrap {
  height  : 100%;

  @include breakpoint(medium up) {
    padding : rem-calc(15 10);
  }
}

.exam-card {
  border          : rem-calc(1) solid #dcdddd;
  margin          : 0 auto;
  cursor          : pointer;
  height          : 100%;
  display         : flex;
  justify-content : space-between;
  flex-direction  : column;

  .training-exam__desc {
    padding : rem-calc(0 15);
  }

  &.is-active {
    border : rem-calc(1) solid $primary-color;
  }

  &__inner {
    padding         : rem-calc(15 15 5);
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
  }
  &__btn {
    display          : inline-block;
    border-radius    : rem-calc(4);
    border           : rem-calc(1) solid $primary-color;
    background-color : $primary-color;
    color            : $white;
    text-align       : center;
    padding          : rem-calc(5 7);
    font-size        : rem-calc(14);
    font-weight      : 400;
    text-transform   : uppercase;
    transition       : background-color 0.2s;

    &.margin {
      margin : rem-calc(0 0 10);
    }

    &:hover, &:focus {
      color            : $white;
      background-color : scale_color($primary-color, -15%);
    }
  }

  &__bottom {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : rem-calc(10 15);
    font-size       : rem-calc(17);
    background      : #f2f2f2;
  }

  &__title {
    width          : 100%;
    flex           : 1 1 100%;
    font-size      : rem-calc(28);
    padding-bottom : rem-calc(17);
    font-weight    : 300;
    line-height    : rem-calc(30);
    text-transform : uppercase;

    span {
      &:first-child {
        font-size   : rem-calc(17);
        font-weight : 500;
      }
    }
  }

  .text-red {
    color : #cb0f41;
  }
}

.exam-card-panel {
  padding : rem-calc(20 0);
}