.discount-banner {
  &__button {
    display: none;
text-align: center;

    @include breakpoint(440 up) {
      display: block;
      text-align: left;
    }

    @include breakpoint(810 down) {
      .button {
        font-size : rem-calc(14);
        padding   : rem-calc(15 20);
      }
    }


    @include breakpoint(1200 up) {
      padding-top : rem-calc(27);
    }

    @include breakpoint(1440 up) {
      padding-top : 0;
    }
  }

}