.contacts {

  &__call {
    display     : inline-block;
    font-size   : rem-calc(11);
    line-height : rem-calc(9);
    margin-top  : rem-calc(-3);
    margin-left : rem-calc(8);
    a {
      color : #c61143;
    }
  }

}