.discount-banner {
  &__desc {
    display     : none;
    color       : #ffffff;
    font-size   : rem-calc(20);
    font-weight : 300;
    line-height : rem-calc(34);
    padding-top : rem-calc(20);

    @include breakpoint(1200 up) {
      display : block;
    }

    p {
      font-size   : inherit;
      font-weight : inherit;
      line-height : inherit;
    }

    ul {
      list-style  : none;
      margin-left : 0;

      li {
        position     : relative;
        padding-left : rem-calc(12);

        &::before {
          position : absolute;
          content  : '-';
          display  : inline-block;
          left     : 0;
          top      : 0;
        }
      }
    }
  }
}