@import "__title/filter__title";
@import "__input/filter__input";
@import "__label/filter__label";

.filter {
  max-width : rem-calc(230);
  width     : 100%;

  height    : 100%;

  @include breakpoint(large up) {
    padding-right : rem-calc(29);
    border-right  : rem-calc(1) solid #e5e5e5;
  }

  &.inline {
    max-width      : 100%;
    border-right   : 0;
    height         : auto;
    padding-right  : 0;
    border-bottom  : 1px solid #e5e5e5;
    padding-bottom : rem-calc(10);
    margin-bottom  : rem-calc(30);

    .filter {
      &__input {
        display       : flex;
        align-items   : center;
        width         : 100%;
        margin-bottom : 2rem;
      }
      &__label {
        width          : rem-calc(100);
        padding-bottom : 0;
      }
    }

    .b-select {
      margin-bottom : 0;
      flex          : 1;
    }
  }

  &.expanded {
    max-width     : 100%;
    padding-right : 0;
    border        : none;
  }
}