.accordion-title {
  position      : relative;
  display       : block;
  padding       : 1.25rem 0;
  border        : none;
  border-bottom : 0 !important;
  font-size     : rem-calc(16);
  line-height   : 1;
  color         : #444444;
  font-weight   : 700;
  span {
    border-bottom : 1px dotted;
  }
  .arrow {
    position   : absolute;
    right      : rem-calc(-3);
    margin-top : rem-calc(-4);
    top        : 50%;
    transform  : rotate(90deg);
    fill       : #444;
    width      : rem-calc(9);
    height     : rem-calc(9);
  }
  &::before {
    display : none;
  }
  &:hover, &:focus {
    background-color : transparent;
  }

  .is-active & {
    color : #cb0f41;
    span {
      border-bottom-color : transparent;
    }
    .arrow {
      fill      : #cb0f41;
      transform : rotate(-90deg);
    }
  }
}

.accordion-item {
  margin-bottom : rem-calc(4);
}

.accordion-content {
  border    : 0 !important;
  padding   : rem-calc(12 0);
  font-size : rem-calc(16);
}

.accordion-box {
  border        : 1px solid #dcdcdc;
  padding       : rem-calc(38 31);
  margin-bottom : rem-calc(60);

  &__title {
    padding-bottom : rem-calc(6);
    font-weight    : 300;
    color          : #cb0f41;
  }
  &__footer {
    padding-top : rem-calc(27);
    font-size   : rem-calc(16);
  }
}