$course-modules-color : #444444;

@import "__title/course-modules__title";
@import "__list/course-modules__list";
@import "__back/course-modules__back";

.course-module {
  padding-bottom : rem-calc(20);
}

.course-modules-section {
  padding-top    : rem-calc(30);
  padding-bottom : rem-calc(30);
  @include breakpoint(medium up) {
    padding-top    : rem-calc(60);
    padding-bottom : rem-calc(60);
  }
}