.banner {
  &__slide {
    position            : relative;
    z-index             : 1;
    padding             : rem-calc(146 0 41);
    background-size     : cover;
    background-repeat   : no-repeat;
    background-position : center center;
    overflow            : hidden;
    display             : flex;
    align-items         : flex-end;
    min-height          : rem-calc(428);
    .row {
      width : 100%;
    }
    &::before {
      position         : absolute;
      left             : 50%;
      top              : rem-calc(115);
      content          : '';
      z-index          : -1;
      background-color : rgba(27, 64, 94, 0.61);
      width            : 900px;
      height           : 900px;
      border-radius    : 50%;
      transform        : translateX(-50%);
    }
    @include breakpoint(medium up) {
      padding     : rem-calc(40 0);
      min-height  : 481px;
      align-items : center;

      &::before {
        left                : 0;
        top                 : 0;
        transform           : none;
        border-radius       : 0;
        width               : 70%;
        height              : 100%;
        background-image    : url('../images/banner/shadow.png');
        background-color    : transparent;
        background-size     : cover;
        background-position : right 0;
        background-repeat   : no-repeat;
      }
    }

    @include breakpoint(large up) {
      &::before {
        width : 59%;
      }
    }
  }
}
