.callback-banner {
  &__wrapper {
    background-color : rgba(21, 3, 23, 0.82);
    padding          : rem-calc(35 0 30);

    @include breakpoint(medium up) {
      padding : rem-calc(80 0 70);
    }

  }
}