.expertise {
  &__card-img {
    display      : inline-block;
    float        : left;
    margin-right : rem-calc(20);
    position     : relative;
    text-align   : left;
    width        : rem-calc(90);
    height       : 100%;

    @include breakpoint(medium up) {
      display       : block;
      width         : 100%;
      height        : rem-calc(90);
      float         : none;
      margin-right  : 0;
      margin-bottom : rem-calc(34);

      &::before {
        content          : "";
        display          : inline-block;
        position         : absolute;
        left             : 0;
        top              : 0;
        width            : rem-calc(90);
        height           : rem-calc(90);
        background-color : #e4e7e8;
      }
    }

    img {
      position : relative;
      z-index  : 1;
      display  : inline-block !important;
      width    : auto !important;
    }
  }
}