.section-contact {
  &__photo {
    flex       : 1 1 100%;
    text-align : center;

    @include breakpoint(medium up) {
      text-align : left;
      flex       : 0 0;
    }
    &-item {
      text-align : center;
      display    : inline-block;
      width      : rem-calc(260);
      height     : rem-calc(120);
    }

    .button {
      transform : translateY(-50%);
    }
  }
}