.instructors {
  &__photo {
    position         : relative;
    width            : 100%;
    max-width        : rem-calc(180);
    height           : rem-calc(278);
    background-color : #eaeaea;
    overflow         : hidden;

    &:hover {
      opacity : .6;
    }

    &:active {
      opacity : .3;
    }

    img {
      position  : absolute;
      display   : inline-block;
      left      : 50%;
      transform : translateX(-50%);
      bottom    : 0;
    }
  }
}