.feature {
  &__card-desc {
    padding-top : rem-calc(25);
    color       : #444444;
    font-size   : rem-calc(16);
    line-height : rem-calc(22);

    p {
      line-height   : inherit;
      margin-bottom : 0;
    }
  }
}