.customers {

  &__editor {
    @include breakpoint(medium up) {
      padding     : rem-calc(40 85 45 40);
    }
    padding     : rem-calc(35);
    border      : rem-calc(1) solid #e5e5e5;
    color       : #222222;
    font-size   : rem-calc(17);


    p {
      color         : inherit;
      font-size     : inherit;
      line-height : rem-calc(24);
      margin-bottom : 0;
    }

    span {
      font-size: rem-calc(14);
      line-height: rem-calc(18);
    }

    strong {
      font-weight : 700;
    }
  }
}