.subscribe-banner {
  &__form {
    &--solutions {
      max-width : rem-calc(640);
      margin    : 0 auto;

      .subscribe-banner__input {
        max-width : rem-calc(370);
        width     : 100%;
      }
    }
  }
}