// Welcome message
.welcome-message {
  border: solid 1px $lms-border-color;
  @include border-left(solid 4px $black);
  margin-bottom: $baseline;
  padding: $baseline;

  h1, h2, h3 {
    font-size: font-size(large);
    font-weight: $font-bold;
    color: $black;
  }

  .dismiss-message {
    @include float(right);
  }
}

// Course sidebar
.course-sidebar {
  @include margin-left(0);
  @include padding-left($baseline);

  .section-tools li:not(:first-child) {
    margin-top: ($baseline / 5);
  }
  .section {
    .hd-6 {
      font-size: 2.2rem;
    }
  }

  .section-dates h5, .section-tools h5 {
    margin-bottom: 1.5rem;
  }

  .sidebar .list-unstyled {
    list-style: none;
    margin-left: 0;
  }

  .list-unstyled a {
    position: relative;
    padding-left: 2.5rem;
    color: #444;
    font-size: 1.4rem;
    text-decoration: underline;

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .treeview-handoutsnav {
    font-size: 14px;
    a {
      color: #444;
      text-decoration: underline;
      &:hover {
        opacity: .6;
      }
    }
  }
}

// Course outline
.course-outline {
  color: $lms-gray;

  .block-tree {
    margin: 0;
    list-style-type: none;

    .section {
      padding: 0 0 2rem 0;
      margin: 0;
      color: #444;

      .section-name {
        margin: 0 !important;
        padding-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: inherit;

        h3 {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      a.outline-item {
        text-decoration: none !important;
      }

      ol.outline-item {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .subsection {
          width: 100%;
          font-size: 1.6rem;
          color: inherit;
          margin-bottom: .5rem;

          a.outline-item {
            position: relative;
            display: block;
            padding: 1rem;
            border-radius: .4rem;
            color: inherit;
            border: .1rem solid transparent;
            -webkit-transition: .2s ease-out;
            transition: .2s ease-out;

            .subsection-title {
              margin: 0;
            }

            &:hover, &:focus {
              color: #737373;
              background-color: #f5f4f2;
              border-color: #cb0f41;
            }

            .subsection-text {
              .details {
                font-size: $body-font-size;
                color: $lms-gray;
              }
            }

            .subsection-actions {
              .resume-right {
                display: none;
                visibility: hidden;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                right: 1rem;
                font-weight: 700;
              }
            }
          }

          &.current {
            a.outline-item {
              color: #737373;
              background-color: transparent;
              border-color: #cb0f41;
            }
            .resume-right {
              display: inline-block !important;
              visibility: visible !important;
            }
          }
        }
      }
    }
  }
}

// date summary
.date-summary-container {
  .date-summary {
    @include clearfix;
    padding: 10px;
    @include border-left(3px solid $gray-l3);

    .heading {
      font-size: 1.6rem;
      line-height: 1;
      color: $lms-gray;
    }

    .description {
      margin-top: $baseline/2;
      margin-bottom: $baseline/2;
      display: inline-block;
      color: $gray-d1;
    }

    .date-summary-link {
      font-weight: $font-semibold;
      a {
        color: $link-color;
        font-weight: $font-regular;
      }
    }

    .date {
      color: $gray-d1;
    }

    &-todays-date {
      @include border-left(3px solid $blue);
    }

    &-verified-upgrade-deadline {
      @include border-left(3px solid $green);
    }

    &-verification-deadline-passed {
      @include border-left(3px solid $red);
    }

    &-verification-deadline-retry {
      @include border-left(3px solid $red);
    }

    &-verification-deadline-upcoming {
      @include border-left(3px solid $orange);
    }
  }
}

// Course Updates Page
.course-updates {
  .all-updates {
    .updates-article {
      margin: ($baseline*6/5) 0;
      padding-bottom: ($baseline*6/5);
      border-bottom: 1px solid $lms-border-color;
      .date {
        font-size: font-size(small);
        font-weight: 300;
        float: none;
        padding-bottom: ($baseline/4);
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

// Course Reviews Page
.course-reviews-tool {
  margin: ($baseline * 2) ($baseline * 3);
}

.course-view {
  .btn-brand {
    font-size: 1.3rem;
    padding: 1.2rem 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: .4rem;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
    transition: background-color .25s ease-out, color .25s ease-out;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #cb0f41;
    color: #fefefe;
  }

  .page-title {
    font-size: 2.5rem;
  }
}