.feedback-header {
  &__contacts {
    padding-top   : rem-calc(16);
    color         : #222222;
    font-size     : rem-calc(16);
    margin-bottom : rem-calc(58);
    text-overflow : ellipsis;
    overflow      : hidden;

    span {
      font-weight : 700;
      display     : block;
    }

    a {
      color           : #444444;
      font-size       : rem-calc(14);
      text-decoration : underline;

      &:hover {
        opacity : 0.6;
      }

      &:active {
        opacity : 0.3;
      }
    }
  }
}