.found-list {
  &__close {
    cursor     : pointer;
    display    : inline-block;
    font-size  : rem-calc(14);
    transition : all 0.2s;

    &:hover {
      .icon.close {
        stroke : #caafaf;
      }

      border-color : #caafaf;
    }

    @include breakpoint(medium down) {
      position      : relative;
      width         : rem-calc(35);
      height        : rem-calc(35);
      border        : rem-calc(1) solid #e5e5e5;
      border-radius : 50%;
      text-align    : center;

      .icon.close {
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translate(-50%, -50%);
      }
    }
    .icon.close {
      display     : inline-block;
      margin-left : rem-calc(15);
      width       : rem-calc(10);
      height      : rem-calc(10);
      stroke      : #d6d5d5;

      @include breakpoint(medium down) {
        margin-left : 0;
      }
    }
  }
}