.course-card {
  &__button {
    position         : relative;
    display          : block;
    flex             : 1 1 100%;
    color            : #444444;
    font-size        : rem-calc(14);
    font-weight      : 700;
    padding          : rem-calc(20 27);
    background-color : #ebe9e5;
    line-height      : rem-calc(16);
    text-transform   : uppercase;

    svg {
      width     : rem-calc(7);
      height    : rem-calc(10);
      top       : 50%;
      transform : translateY(-50%);
      right     : rem-calc(23);
      position  : absolute;
      fill      : #b2b0ad;
    }
  }
}