.footer {
  position : relative;
  &__terms {
    line-height : 1;
    font-size   : 14px;
    font-weight : 400;
    @include breakpoint(medium up) {
      padding-top : rem-calc(9);
      line-height : rem-calc(21);
    }
    a {
      color : #444444;
    }
  }
}