.course-button {
  display          : flex;
  align-items      : center;
  justify-content  : center;
  width            : 100%;
  height           : rem-calc(60);
  border           : 1px solid #e5e5e5;
  background-color : #ffffff;
  color            : #333333;
  font-size        : rem-calc(14);
  font-weight      : 700;
  line-height      : rem-calc(19);
  text-transform   : uppercase;
  transition       : 0.2s;

  .icon {
    fill         : #e7e7e7;
    width        : rem-calc(17);
    height       : rem-calc(17);
    margin-right : rem-calc(15);

    @include breakpoint(medium up) {
      width  : rem-calc(27);
      height : rem-calc(27);
    }
  }

  @include breakpoint(medium up) {
    font-size    : rem-calc(18);
    height       : rem-calc(90);
    margin-right : rem-calc(27);
  }

  &:hover {
    background-color : #ebe9e5;

    .icon {
      fill : #444444;
    }
  }
}

.course-button-wrap {
  padding : rem-calc(20 0 40);

  @include breakpoint(medium up) {
    padding : rem-calc(40 0 70);
  }
}