@import "__card-wrapper/partners__card-wrapper";
@import "__button/partners__button";

.partners {
  padding-top : rem-calc(30);
  @include breakpoint(medium up) {
    padding-top : rem-calc(100);
  }

}