.footer {
  &__logo {
    display       : inline-block;
    width         : rem-calc(65);
    margin-right  : rem-calc(15);
    margin-bottom : rem-calc(15);
    @include breakpoint(large up) {
      margin-bottom : 0;
    }
    &:last-child { margin-right : 0; }
  }
}