
.resize-wrap {
  width     : 100%;
  min-width : rem-calc(270);
  max-width : 100%;
  position  : relative;

  .button {
    @include breakpoint(small only) {
      font-size : rem-calc(7);
    }
  }
}

.resize-outer {
  position         : relative;
  width            : 100%;
  transform-origin : top left;
  min-width        : rem-calc(500);
}

.tariff-plan {
  display : block;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}
