.slider-top {

  @include breakpoint(1220 up) {
    top : rem-calc(-49);
  }

  position : relative;

  &__item {
    @include breakpoint(medium up) {
      min-height : rem-calc(355);
    }
  }

  &__dots {
    height  : rem-calc(20);
    padding : rem-calc(0 65);
    display : inline-block;

    .owl-dot {
      position   : relative;
      cursor     : pointer;
      height     : rem-calc(20);
      width      : rem-calc(22);
      display    : inline-block;
      text-align : center;

      @include breakpoint(medium up) {
        width : rem-calc(30);
      }

      &.active {
        span {
          background-color : #c61143;
        }
      }

      span {
        position         : absolute;
        left             : 50%;
        top              : 50%;
        transform        : translate(-50%, -50%);
        display          : inline-block;
        width            : rem-calc(4);
        height           : rem-calc(4);
        border-radius    : 50%;
        background-color : #b7b7b7;
      }
    }
  }

  &__nav {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : rem-calc(20);
    position        : relative;
    min-width       : rem-calc(240);
    padding         : rem-calc(0 10);
    margin-top      : rem-calc(-30);
    margin-bottom   : rem-calc(30);

    @include breakpoint(medium up) {
      margin-top : rem-calc(30);
    }

    .owl-prev {
      cursor     : pointer;
      display    : inline-block;
      width      : rem-calc(6);
      height     : rem-calc(10);
      background : url("/dist/images/slider-top/slider-top__arrow-prev.png") no-repeat left top;
      opacity    : .2;

      &:hover {
        opacity : 1;
      }

      @include breakpoint(1220 up) {
        display : none;
      }
    }

    .owl-next {
      cursor     : pointer;
      display    : inline-block;
      width      : rem-calc(6);
      height     : rem-calc(10);
      background : url("/dist/images/slider-top/slider-top__arrow-next.png") no-repeat left top;
      opacity    : .2;

      &:hover {
        opacity : 1;
      }

      @include breakpoint(1220 up) {
        display : none;
      }
    }

    &.position-absolute {
      z-index : 3;
      @include breakpoint(1220 up) {
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translate(-50%, 144%);
      }
    }
  }
}