.calendar-table {
  &__row {
    display   : flex;
    flex-wrap : wrap;

    div {
      display         : flex;
      margin-left     : rem-calc(-1);
      margin-top      : rem-calc(-1);
      align-items     : center;
      justify-content : center;
      font-size       : rem-calc(18);
      line-height     : rem-calc(18);
      color           : #444444;
      text-transform  : uppercase;
      width           : rem-calc(50);
      height          : rem-calc(40);
      border          : rem-calc(1) solid #dcdcdc;

      a {
        color           : inherit;
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 100%;
        height          : 100%;
      }
    }

    &.--unactive {
      div {
        a {
          opacity : .3;
        }
      }

    }
  }
}

@import "--days/calendar-table__row--days";