.b-news {
  &__top {
    color          : #cb0f41;
    font-size      : rem-calc(12);
    font-weight    : 400;
    line-height    : rem-calc(18);
    padding-bottom : rem-calc(15);

    span {
      display        : inline-block;
      text-transform : uppercase;
      padding-right  : rem-calc(20);

      a {
        font-size      : inherit;
        line-height    : inherit;
        color          : #c7c7c7;
        text-transform : none;

        &:hover {
          color : #222222;
        }
      }
    }
  }
}