.certificate-version {
  &__table-container {
    padding-left   : rem-calc(32);
    padding-right  : rem-calc(32);
    padding-bottom : rem-calc(22);
    padding-top    : rem-calc(24);
    border-bottom  : 1px solid #dcdcdc;
    &:last-child {
      border-bottom : 0;
    }
   table {
      width           : 100%;
      border-collapse : collapse;
    }

    thead {
      td {
        border-bottom  : 1px solid #dcdcdc;
        padding-bottom : rem-calc(10);
      }
    }

    tbody {
      td {
        padding-top    : rem-calc(19);
        vertical-align : top;
      }
      label {
        vertical-align : top;
        margin         : 1px 0 0 0 !important;
      }
    }
  }
}