.found-list {
  &__title {
    position : relative;

    @include breakpoint(medium up) {
      &::after {
        position         : absolute;
        content          : "";
        bottom           : rem-calc(-16);
        left             : 0;
        display          : inline-block;
        width            : 100%;
        height           : rem-calc(1);
        background-color : #cb0f41;
      }

    }


    & * {
      color          : #cb0f41;
      font-weight    : 300;
      line-height    : rem-calc(35);
      margin-bottom  : 0;
      text-transform : uppercase;
    }

  }
}