@import "__desc/footer__desc";
@import "__contacts/footer__contacts";
@import "__contacts-item/footer__contacts-item";
@import "__link/footer__link";
@import "__middle/footer__middle";
@import "__logo/footer__logo";
@import "__social/footer__social";
@import "__social-icon/footer__social-icon";
@import "__divider/footer__divider";
@import "__company/footer__company";
@import "__terms/footer__terms";
@import "__age-limit/footer__age-limit";

.footer {
  padding-bottom   : rem-calc(31);
  @include breakpoint(medium up) {
    padding-top    : rem-calc(47);
    padding-bottom : rem-calc(64);
  }
  background-color : #f5f4f2;

  a, button {
    cursor : pointer;

    &:hover {
      opacity : .6;
    }

    &:active {
      opacity : .3;
    }
  }
  &__payment {
    font-size   : rem-calc(14);
    border-top  : 0.1rem #dddddd solid;
    padding-top : rem-calc(15);
  }
  &__payment-item {
    display       : flex;
    align-items   : flex-start;
    margin-bottom : rem-calc(24);
    &:last-child {
      margin-bottom : 0;
    }
    img {
      margin-top   : rem-calc(4);
      margin-right : rem-calc(10);
    }
    strong {
      margin-bottom : rem-calc(5);
      display       : block;
    }
  }

  &__bank-cards {
    span {
      display      : inline-block;
      margin-right : rem-calc(20);

      &:last-child {
        margin-right : 0;
      }
    }
  }
}

