.course-header {
  &__details {
    padding-bottom: rem-calc(55);
    a {
      display       : inline-block;
      max-width     : rem-calc(120);
      width         : 100%;
      background    : url("../images/course-header/course-header__details/details-arrow.png") no-repeat right center;
      position      : relative;
      padding-right : rem-calc(25);
      color         : #444444;
      font-size     : rem-calc(18);
      font-weight   : 700;
    }
  }
}