.areas {
  &__icon {
    display             : inline-block;
    position            : absolute;
    bottom              : 0;
    left                : 50%;
    transform           : translate(-50%, 37%);
    width               : rem-calc(52);
    height              : rem-calc(52);
    border-radius       : 50%;
    background-color    : #cb0f41;
    background-position : center;
    background-size     : 40%;
    background-repeat   : no-repeat;

    @include breakpoint(medium up) {
      background-size : auto;
      width           : rem-calc(100);
      height          : rem-calc(100);
    }
  }
}