.sidebar {
  .section:not(:first-child) {
    margin-top : 35px;
  }

  .icon {
    width  : rem-calc(20);
    height : rem-calc(20);
    fill   : currentColor;
  }

  .list-unstyled {
    list-style  : none;
    margin-left : 0;
    a {
      position        : relative;
      padding-left    : rem-calc(25);
      color           : #444;
      font-size       : rem-calc(14);
      text-decoration : underline;
      .icon {
        position  : absolute;
        left      : 0;
        top       : 50%;
        transform : translateY(-50%);
        &.bookmark {
          margin-left : rem-calc(-3);
        }
      }
      &:hover {
        opacity : .6;
      }
      &:active {
        opacity : .3;
      }
    }
  }
}