@import "__nav/header__nav";
@import "__logo/header__logo";

$link-color : #444;
$link-color-mobile : #fff;

.header {

  a, button {
    color  : $link-color-mobile;
    cursor : pointer;
    @include breakpoint(medium up) {
      color : $link-color;
    }

    &:hover {
      opacity : .6;
    }

    &:active {
      opacity : .3;
    }
  }

  &__general {
    overflow-x : hidden;
    @include breakpoint(medium up) {
      padding : 3.5rem 0 3.6rem;
    }
  }

  &__logos {
    display     : flex;
    height      : 100%;
    align-items : center;

    .header__logo {
      margin-right : rem-calc(10);
      @include breakpoint(medium up) {
        margin-right : rem-calc(25);
      }
    }
  }

  border-bottom : 1px solid #e5e5e5;
}