.solutions {
  &__card-wrapper {
    padding : rem-calc(30 35 0);

    @include breakpoint(medium up) {
      padding : rem-calc(30 20 0);
    }

    @include breakpoint(large up) {
      padding : rem-calc(30 35 0);
    }

  }
}