@import "__title/calendar-table__title";
@import "__row/calendar-table__row";

.calendar-table {
  max-width : rem-calc(360);
  width     : 100%;

  div.green {
    border-color     : #72c229;
    background-color : #7bce30;
    a {
      opacity : 1;
      color   : white;
    }

  }

  div.text-red {
    a {
      opacity : 1;
      color   : #994d4d;
    }
  }

  div.text-black {
    a {
      opacity : 1;
      color   : #444444;
    }
  }
}