.course-card {
  &__sticker {
    position : absolute;
    right    : rem-calc(20);
    top      : rem-calc(20);
  }
}

.sticker {
  text-align : right;
  display    : block;

  span {
    display          : inline-block;
    border-radius    : rem-calc(3);
    padding          : rem-calc(3 15);
    color            : #ffffff;
    font-size        : rem-calc(12);
    font-weight      : 700;
    text-transform   : uppercase;
    background-color : #7abb2f;
    margin-bottom    : rem-calc(2);
  }

  &.red {
    span {
      background-image : linear-gradient(to top, #f64574 0%, #e97695 100%);
    }

  }

  &.green {
    span {
      background-image : linear-gradient(to top, #7abb2f 0%, #83d02a 100%);
    }
  }
}