.trainer-detail {
  &__title {
    border-top     : 1px solid #dcdcdc;
    border-bottom  : 1px solid #dcdcdc;
    font-weight    : 300;
    color          : #c61143;
    text-transform : uppercase;
    line-height    : 1.2;
    padding-top    : rem-calc(28);
    padding-bottom : rem-calc(29);
    margin-bottom  : rem-calc(40);
  }
}