@import "__button/leave-order-banner__button";
@import "__desc/leave-order-banner__desc";
@import "__title/leave-order-banner__title";

.leave-order-banner {
  background      : url("../images/leave-order-banner/bg.png") no-repeat center;
  background-size : cover;
  padding         : rem-calc(35 0 10);
  text-align      : center;

  @include breakpoint(medium up) {
    padding-top    : rem-calc(85);
    padding-bottom : rem-calc(80);
  }
}