@import "__title/subscribe-banner__title";
@import "__form/subscribe-banner__form";
@import "__input/subscribe-banner__input";
@import "__desc/subscribe-banner__desc";
@import "__button/subscribe-banner__button";

.subscribe-banner {
  position   : relative;
  background : url("../images/subscribe-banner/bg.jpg") no-repeat center 33%;

  &__wrapper {
    padding          : rem-calc(75 0);
    background-color : rgba(38, 42, 53, 0.90);
  }
}