@import "__top/product-card__top";
@import "__title/product-card__title";
@import "__bottom/product-card__bottom";
@import "__icons/product-card__icons";
@import "__image/product-card__image";
@import "__price/product-card__price";
@import "__text/product-card__text";
@import "__desc/product-card__desc";
@import "__button/product-card__button";
@import "__note/product-card__note";

.product-card {
  position   : relative;
  cursor     : pointer;
  display    : block;
  padding    : rem-calc(0 5);
  border-top : rem-calc(1) solid #e5e5e5;
  margin     : rem-calc(0 -20 22);

  @include breakpoint(medium up) {
    padding : 0;
    margin  : rem-calc(0 0 10);
    border  : rem-calc(1) solid #e5e5e5;

    &:hover {
      box-shadow : rem-calc(0 6px 9px) rgba(1, 1, 1, 0.1);
    }

  }

}