.review {
  &__input {
    margin-bottom : rem-calc(7);

    input {
      box-shadow : none;
    }

    textarea {
      resize     : none;
      height     : rem-calc(120);
      box-shadow : none;
    }

  }
}