.product-card {
  &__bottom {
    display        : flex;
    min-height     : rem-calc(50);
    flex-direction : column;
    max-width      : calc(100% - #{rem-calc(20)});
    width          : 100%;
    margin         : 0 auto;

    @include breakpoint(medium up) {
      max-width      : 100%;
      margin         : 0;
      border-top     : rem-calc(1) solid #dbdcdc;
      align-items    : center;
      padding        : rem-calc(0 0 0 10);
      flex-direction : row;
    }

    @include breakpoint(large up) {
      padding : rem-calc(0 0 0 45);
    }
  }
}