@import "__button/search__button";

.search {
  height      : 100%;
  display     : flex;
  align-items : center;
  @include breakpoint(medium up) {
    margin-left : rem-calc(10);
  }

  input {
    opacity    : 0.3;
    color      : #444444;
    font-size  : rem-calc(16);
    margin     : 0;
    border     : none;
    box-shadow : none;

    &:focus, &:active {
      opacity    : 1;
      border     : none;
      box-shadow : none;
    }

    &::placeholder {
      color     : #444444;
      font-size : rem-calc(16);
    }
  }
}