@import "__top/tariff-plan__top";
@import "__row/tariff-plan__row";
@import "__table/tariff-plan__table";
@import "__box/tariff-plan__box";

.tariff-plan {
  width      : 100%;
  overflow-x : scroll;

  @include breakpoint(medium up) {
    overflow-x : hidden;
  }


  &__title {
    padding-bottom : rem-calc(20);
  }

  .checked {
    position         : relative;
    display          : inline-block;
    width            : rem-calc(50);
    height           : rem-calc(50);
    background-color : #f2f2f2;
    border-radius    : 50%;

    .icon.checked {
      position  : absolute;
      left      : 50%;
      top       : 50%;
      transform : translate(-50%, -50%);
      width     : rem-calc(20);
      height    : rem-calc(20);
      fill      : #6abc0a;
    }

    .icon.unchecked {
      @extend .icon.checked;
      width  : rem-calc(20);
      height : rem-calc(20);
      fill   : #c60f26;
    }
  }

  td {
    .price, .old-price {
      font-size : rem-calc(20);
    }

    .add-note {
      display : block;
      color   : #bababa;
    }

    .old-price {
      display         : block;
      color           : #bababa;
      text-decoration : line-through;
    }

    .add-discount {
      display     : block;
      padding-top : rem-calc(10);
      color       : #37b63f;
    }

    .add-size, ol {
      font-size : rem-calc(18);
      @include breakpoint(medium up) {
        font-size : rem-calc(22);
      }

    }

    .text-red {
      color : #ff0000;
    }

    .table-btn {
      display          : inline-block;
      border-radius    : rem-calc(4);
      height           : rem-calc(29);
      border           : rem-calc(1) solid #dcdcdc;
      background-color : #ebe9e5;
      color            : #444444;
      text-align       : center;
      padding-right    : rem-calc(10);
      padding-left     : rem-calc(10);
      margin           : rem-calc(0 6);
      line-height      : rem-calc(29);
      font-size        : rem-calc(14);
      font-weight      : 700;
      text-transform   : uppercase;
      transition       : 0.2s linear;

      &:hover {
        color            : $white;
        border-color     : $primary-color;
        background-color : scale-color($primary-color, $lightness : -3%);;
      }
    }

    span + p > a.table-btn {
      margin-top    : rem-calc(10);
      margin-bottom : rem-calc(10);
    }

  }

  ol {
    padding     : rem-calc(20 0);
    font-weight : 600;
    li {
      font-weight   : 400;
      font-size     : rem-calc(14);
      margin-bottom : rem-calc(5);
    }
  }
}

