.examinations {
  &__note {
    list-style  : none;
    padding-top : 0 !important;

    @include breakpoint(medium up) {
      display     : flex;
      margin-left : rem-calc(15) !important;
    }

    li {
      margin-bottom : 0 !important;
      width         : 100%;
      padding       : rem-calc(10 0) !important;

      @include breakpoint(medium up) {
        max-width     : rem-calc(250);
        padding       : rem-calc(10 15) !important;
      }

      &::before {
        display : none !important;
      }
    }

    @include breakpoint(medium up) {
      li + li {
        padding-left : 0 !important;
      }
    }

  }
}