@import "__nav/catalog-slider__nav";
@import "__next/catalog-slider__next";
@import "__prev/catalog-slider__prev";
@import "__view/catalog-slider__view";
@import "__carousel/catalog-slider__carousel";

.catalog-slider {
  padding-top : rem-calc(40);
  @include breakpoint(medium up) {
    padding-top : rem-calc(100);
  }
}
