@import "__title/cloud-header__desc";
@import "__desc/cloud-header__title";

.cloud-header {
  background     : url("/dist/images/cloud-header/bg.jpg") no-repeat left top;
  padding-bottom : rem-calc(50);

  @include breakpoint(medium up) {
    padding-bottom : rem-calc(100);
  }

  @include breakpoint(large up) {
    background-size : cover;
  }


}