
.header {
  &__nav {
    list-style      : none;
    margin-left     : 0;
    display         : flex;
    justify-content : flex-start;

    li {
      padding-right : rem-calc(12);
      padding-left  : rem-calc(13);
      line-height   : rem-calc(36);
      color         : #444444;
      font-size     : rem-calc(16);

      &:first-child {
        padding-left : 0;
      }

      &:last-child {
        padding-right : 0;
      }
    }
  }
}

@import "--bottom/header__nav--bottom";