.calendar {
  &__nav {
    display     : flex;
    list-style  : none;
    margin-left : 0;

    li {
      padding : rem-calc(0 14);

      &:first-child {
        padding-left : 0;
      }

      &:last-child {
        padding-right : 0;
      }

      a {
        position   : relative;
        display    : inline-block;
        padding    : rem-calc(17 0);
        color      : #c7c7c7;
        font-size  : rem-calc(14);
        transition : color 0.3s ease-out;

        @include breakpoint(xlarge up) {
          font-size : rem-calc(18);
        }

        span {
          display : inline-block;
          padding : rem-calc(0 14);

          &:first-child {
            padding-left : 0;
          }

          &:last-child {
            padding-right : 0;
          }
        }

        &::after {
          position         : absolute;
          content          : "";
          display          : inline-block;
          width            : 100%;
          height           : rem-calc(1);
          background-color : transparent;
          left             : 0;
          bottom           : rem-calc(-1);
        }

      }

      &:hover, &.is-active {
        a {
          color : $primary-color;
          &::after {
            background-color : $primary-color;
          }
        }
      }

    }
  }
}