@import "__card/solutions__card";
@import "__card-button/solutions__card-button";
@import "__card-desc/solutions__card-desc";
@import "__card-icon/solutions__card-icon";
@import "__card-photo/solutions__card-photo";
@import "__card-title/solutions__card-title";
@import "__card-wrapper/solutions__card-wrapper";
@import "--sap/solutions--sap";
@import "--bundle/solutions--bundle";

.solutions {
  padding-top    : rem-calc(25);
  padding-bottom : rem-calc(25);

  & > .row > .column {
    display        : flex;
    flex-direction : column;
  }

  @include breakpoint(medium up) {
    padding-top    : rem-calc(80);
    padding-bottom : rem-calc(40);
  }

  &.small-padding {
    padding-top : rem-calc(25);

    @include breakpoint(medium up) {
      padding-top : rem-calc(30);
    }
  }

}