.footer {
  &__social {
    border-top      : rem-calc(1) #dddddd solid;
    display         : flex;
    justify-content : space-between;
    padding         : 1rem 2rem 1rem 2.6rem;
    height          : rem-calc(53);
    align-items     : center;

    &:last-child {
      border-bottom : rem-calc(1) #dddddd solid;
    }
  }
}