.btn-next-page {
  width : 100%;

  a {
    position         : relative;
    display          : block;
    color            : #444444;
    background-color : #ebe9e5;
    font-size        : 14px;
    padding          : rem-calc(15);
    transition       : background-color 0.2s;

    &::after {
      content      : "";
      display      : inline-block;
      position     : absolute;
      right        : 0;
      top          : 50%;
      transform    : translateY(-50%);
      margin-right : rem-calc(15);
      width        : 0;
      height       : 0;
      border-style : solid;
      border-width : rem-calc(7.5px 0 7.5px 10px);
      border-color : transparent transparent transparent #444444;

    }

    @include breakpoint(medium up) {
      font-weight    : 700;
      padding        : rem-calc(35 10);
      text-align     : center;
      font-size      : rem-calc(18);
      line-height    : rem-calc(18);
      text-transform : uppercase;

      &::after {
        display : none;
        opacity : 0;
      }
    }

    &:hover {
      background-color : scale-color(#ebe9e5, $lightness : -5%);
    }
  }

}