.leave-order-banner {
  &__button {
    padding    : rem-calc(30);
    text-align : center;

    a {
      display        : inline-block;
      color          : #ffffff;
      font-size      : rem-calc(16);
      border-radius  : rem-calc(4);
      font-weight    : 700;
      line-height    : rem-calc(18);
      padding        : rem-calc(12 10);
      text-transform : uppercase;
      width          : 100%;
      max-width      : rem-calc(360);
      border         : rem-calc(2) solid #ffffff;
      transition     : 0.2s ease-in;

      @include breakpoint(medium up) {
        font-size : rem-calc(18);
        padding   : rem-calc(16 10);
      }

      &:hover {
        border-color     : #cb0f41;
        background-color : #cb0f41;
      }
    }

  }
}