@import "title/certificate-version__title";
@import "content/certificate-version__content";
@import "table-container/certificate-version__table-container";

.certificate-version {
  border        : 1px solid #dcdcdc;
  margin-bottom : rem-calc(10);
}