.solutions {
  &--sap {
    .solutions {
      &__card {
        min-height     : rem-calc(211);
        padding-bottom : rem-calc(10);

        &:hover {
          box-shadow: rem-calc(0 3px 5px) rgba(1, 1, 1, 0.1);
          .solutions {
            &__card-photo {
              background-size: auto 115%;
            }
          }
        }

        a {
          color : #444444;

          &:hover {
            opacity : .6;
          }
        }
      }

      &__card-title {

        @include breakpoint(medium up) {
          font-size : rem-calc(18);
        }

        @include breakpoint(large up) {
          font-size : rem-calc(22);
        }
      }

    }
  }
}