.solutions {
  &__card-button {
    position       : absolute;
    left           : rem-calc(35);
    bottom         : rem-calc(20);
    padding-left   : rem-calc(25);
    display        : block;
    color          : #444444;
    font-size      : rem-calc(16);
    font-weight    : 700;
    text-transform : uppercase;

    @include breakpoint(medium up) {
      bottom : rem-calc(17);
    }
    &:hover {
      opacity : .6;
    }

    &::before {
      content      : "";
      display      : inline-block;
      position     : absolute;
      left         : rem-calc(3);
      top          : 50%;
      transform    : translateY(-50%);
      width        : 0;
      height       : 0;
      border-style : solid;
      border-width : rem-calc(5.5px 0 5.5px 6px);
      border-color : transparent transparent transparent #c61143;

    }
  }
}