$border-color : #e4e4e4;

.header-top {
  &__nav {
    display      : flex;
    list-style   : none;
    margin-right : 0;
    margin-left  : rem-calc(-17);

    li {
      border-left : 1px solid $border-color;
      a {
        display         : inline-block;
        padding         : rem-calc(16 21);
        font-size       : rem-calc(14);
        line-height     : rem-calc(14);
        text-decoration : none;

        &:hover {
          background-color : white;
        }
      }

      &:last-child {
        border-right : 1px solid $border-color;
      }
    }
  }
}