.course-info {
  &__name {
    display      : inline-block;
    position     : relative;
    flex         : 1 1 50%;
    padding-left : rem-calc(30);
    line-height  : 16px;
    max-width    : rem-calc(200);

    svg {
      position  : absolute;
      left      : 0;
      top       : 50%;
      transform : translateY(-50%);
      display   : inline-block;
      height    : rem-calc(18);
      width     : rem-calc(18);
      fill      : #222222;
    }

    span.icon {
      position  : absolute;
      left      : 0;
      top       : 50%;
      transform : translateY(-50%);
      display   : inline-block;
      color     : #222222;
    }

  }
}