@import "__title/course-card__title";
@import "__cell/course-card__cell";
@import "__photo/course-card__photo";
@import "__desc/course-card__desc";
@import "__details/course-card__details";
@import "__top/course-card__top";
@import "__wrap/course-card__wrap";
@import "__button/course-card__button";
@import "__sticker/course-card__sticker";
@import "__tags/course-card__tags";

.course-card {
  position      : relative;
  border        : rem-calc(1) solid #ededed;
  margin-bottom : rem-calc(20);

  &__container {
    position  : relative;
    display   : flex;
    flex-wrap : wrap;
    padding   : rem-calc(20 0 30 30);
  }

}

