.product-card {
  &__price {
    display: none;
    order       : 2;
    position    : absolute;
    bottom      : rem-calc(11);
    left        : 0;
    flex        : 0 0 auto;
    font-weight : 600;
    max-width   : rem-calc(130);
    width       : 100%;
    text-align  : center;
    color       : #444444;
    font-size   : rem-calc(15);

    @include breakpoint(medium up) {
      display: block;
      font-weight : 400;
      position    : relative;
      left        : 0;
      top         : 0;
      right       : 0;
      bottom      : 0;
    }

    span {
      display        : inline-block;
      text-transform : uppercase;

      @include breakpoint(medium up) {
        text-transform : none;
      }

      &.old-price {
        display         : inline-block;
        width           : 100%;
        left            : rem-calc(75);
        top             : rem-calc(5);
        position        : absolute;
        font-weight     : 300;
        opacity         : 0.5;
        color           : #444444;
        font-size       : rem-calc(10);
        text-decoration : line-through;
        text-transform  : none;

        @include breakpoint(medium up) {
          opacity     : 0.3;
          font-weight : 400;
          left        : 50%;
          top         : rem-calc(-20);
          transform   : translateX(-50%);
          font-size   : rem-calc(13);
        }
      }

      &.discount {
        display          : none;
        position         : absolute;


        @include breakpoint(medium up) {
          display          : inline-block;
          border-radius    : 0;
          width            : 100%;
          left             : 50%;
          font-weight      : 400;
          transform        : translateX(-50%);
          bottom           : rem-calc(15);
          color            : #37b63f;
          font-size        : rem-calc(13);
        }

      }
    }
  }
}