@import "__card/advantages__card";
@import "__desc/advantages__desc";
@import "__icon/advantages__icon";

.advantages {
  padding         : rem-calc(40 0);
  background      : url("../images/advantages/background.jpg") no-repeat left top;
  background-size : cover;
}