.courses-container {
  .courses-container {
    .courses {
      .course {
        border-bottom-color: $primary-color;
        box-shadow: none !important;
        &:hover {
          opacity: .6;
        }
        .course-image {
          .cover-image {
            background-size: cover;
            &:before {
              transition: opacity 0.25s ease-out !important;
            }
          }
        }
        .course-info {
          .course-title {
            color: $primary-color;
          }
        }
        .learn-more {
          border-color: transparent !important;
          background-color: $primary-color;
        }
      }
    }
  }
}