.course-statistics {
  &__desc {
    flex        : 1 0 70%;
    display     : inline-block;
    padding     : rem-calc(12 20);
    border-left : rem-calc(1) solid #e5e5e5;
    height      : 100%;
    font-size   : rem-calc(14);
  }
}
