.training-type {

  &__label {
    position       : relative;
    padding-left   : rem-calc(40);
    padding-bottom : rem-calc(25);
    font-size      : rem-calc(16);
    font-weight    : 700;

    .icon {
      position : absolute;
      left     : 0;
      top      : 0;
    }
  }
}