.tabs-list-wrapper {
  position : relative;

  &::after {
    content          : "";
    z-index          : -1;
    position         : absolute;
    bottom           : 0;
    left             : 0;
    width            : 100%;
    height           : rem-calc(1);
    background-color : #e5e5e5;
  }
}