.certified-exam {
  &__logo {
    order         : 0;
    text-align    : center;
    width         : 100%;
    margin-bottom : rem-calc(20);

    a {
      display   : inline-block;
      max-width : rem-calc(160);
      height    : auto;
    }

    @include breakpoint(medium up) {
      order      : 1;
      max-width  : rem-calc(260);
      text-align : right;
    }

    @include breakpoint(large up) {
      padding-left : rem-calc(100);
    }
  }
}