.customers {
  &__item {
    position        : relative;
    flex            : 1 1 33%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 100%;
    height          : rem-calc(64);
    border          : rem-calc(1) solid #e5e5e5;

    @include breakpoint(medium up) {
      height : rem-calc(115);
    }

  }
}