.product-card {
  &__image {
    flex            : 0 0 auto;
    display         : none;
    align-items     : center;
    justify-content : center;
    max-width       : rem-calc(85);
    width           : 100%;

    @include breakpoint(medium up) {
      display : flex;
    }

  }
}