@import "result/certificate-version__result";

.certificate-amount {
  padding-top : rem-calc(15);
  table {
    width           : 100%;
    font-size       : rem-calc(20);
    line-height     : rem-calc(22);
    border-collapse : collapse;
    margin-bottom   : rem-calc(27);
    td {
      vertical-align : top;
      padding-bottom : rem-calc(19);
      padding-top    : rem-calc(34);
      border-bottom  : 1px solid #dcdcdc;
    }
    tr:last-child {
      td {
        border-bottom : 0;
      }
    }

    td:nth-child(2) {
      font-size : rem-calc(14);
    }
  }

  .additional {
    padding-top : rem-calc(6);
    opacity     : 0.3;
    font-size   : rem-calc(14);
    line-height : rem-calc(16);
  }
}