.tariff-plan {
  &__top {
    background-color : #f2f2f2;
    color            : #444444;
    font-size        : rem-calc(14);
    line-height      : rem-calc(18);

    td {
      padding    : rem-calc(15 0);

      &:first-child {
        padding-left : rem-calc(15);
      }
    }

  }
}