.callback-banner {
  &__input {
    display       : inline-block;
    max-width     : rem-calc(355);
    width         : 100%;
    flex          : 1 1 100%;
    margin-bottom : rem-calc(20);
    font-size     : rem-calc(16);
    line-height   : 1;
    box-shadow    : none;

    @include breakpoint(medium up) {
      flex : 1 1 22%;
    }

    input {
      width            : 100%;
      border           : rem-calc(1) solid #dcdcdc;
      background-color : #ffffff;
      padding          : rem-calc(24 20);
      line-height      : inherit;
      font-size        : inherit;
      box-shadow       : inherit;
      border-radius    : 1px;

      &:active, &:focus {
        border     : rem-calc(1) solid #dcdcdc;
        box-shadow : inherit;
      }

      &::placeholder {
        opacity     : 1;
        line-height : inherit;
        font-size   : inherit;
      }
    }
  }
}