.leave-order-banner {
  &__desc {
    padding-top : rem-calc(20);
    color       : #f5f4f2;
    font-size   : rem-calc(14);
    font-weight : 200;
    line-height : rem-calc(16);

    @include breakpoint(medium up) {
      line-height : rem-calc(30);
      font-size   : rem-calc(22);
    }

    p {
      font-size     : inherit;
      font-weight   : inherit;
      color         : inherit;
      margin-bottom : 0;
    }
  }
}