.course-header {
  &__wrapper {
    position    : relative;
    display     : flex;
    flex-wrap   : wrap;

    @include breakpoint(medium up) {
      padding-top : rem-calc(15);
    }

    &--column {
      flex-direction : column;
    }
  }
}
