.footer {
  &__contacts-item {
    border-top  : rem-calc(1) #dddddd solid;
    padding     : rem-calc(14 0 11);
    color       : #444444;
    font-size   : rem-calc(18);
    font-weight : 700;
    @include breakpoint(small only) {
      &:first-child {
        border-top : 0;
      }
    }
  }
}

@import "--address/footer__contacts-item--address";