.solutions {
  &__card-photo {
    position            : relative;
    width               : 100%;
    height              : rem-calc(130);
    background-repeat   : no-repeat;
    background-position : 50% 50%;
    background-size     : cover;
    transition          : 0.2s;

    @include breakpoint(large up) {
      background-size     : auto 100%;
    }
  }
}