.pagination-wrapper {
  padding-bottom  : rem-calc(10);
  display         : flex;
  justify-content : space-between;
  color           : #222222;
  font-size       : rem-calc(15);
  font-weight     : 700;

  > ul {
    display         : flex;
    width           : 100%;

    li {
      &:not(:first-child, :last-child) {
        @include breakpoint(large up) {
          display : flex;
        }
      }

      color            : inherit;
      font-size        : inherit;
      font-weight      : inherit;
      display          : none;
      justify-content  : center;
      align-items      : center;
      width            : rem-calc(50);
      height           : rem-calc(50);
      border           : rem-calc(1) solid #e5e5e5;
      background-color : #ffffff;
      margin-right     : rem-calc(-1);

      &.current {
        color               : inherit;
        font-size           : inherit;
        font-weight         : inherit;
        border-bottom-color : #cb0f41;
        background-color    : #fbfbfb;
      }

      a {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 100%;
        height          : 100%;
      }
    }
  }

  .pagination-previous {
    position     : relative;
    margin-right : rem-calc(9);

    &::before {
      position     : absolute;
      left         : 50%;
      top          : 50%;
      transform    : translate(-50%, -50%);
      content      : "";
      display      : inline-block;
      width        : 0;
      height       : 0;
      border-style : solid;
      border-width : rem-calc(5px 5px 5px 0);
      border-color : transparent #222222 transparent transparent;

    }
  }

  .pagination-next {
    position     : relative;
    margin-right : 0;
    margin-left  : rem-calc(9);

    a {
      position : absolute;
      display  : inline-block;
      padding  : 0;
      width    : 100%;
      height   : 100%;

      &::after {
        margin       : 0;
        content      : "";
        position     : absolute;
        left         : 50%;
        top          : 50%;
        transform    : translate(-50%, -50%);
        display      : inline-block;
        width        : 0;
        height       : 0;
        border-style : solid;
        border-width : rem-calc(5px 0 5px 5px);
        border-color : transparent transparent transparent #222222;

      }
    }

  }

}