.photo-card {
  display   : flex;
  flex-wrap : wrap;
  margin    : rem-calc(0 -8);

  &__item {
    flex    : 0 0 100%;
    @include breakpoint(medium up) {
      flex : 0 0 50%;
    }

    padding : rem-calc(0 8 15);

    img {
      width  : 100%;
      height : 100%;
    }
  }
}

