.footer {
  &__contacts-item {
    &--address {
      padding-top : rem-calc(65);
      font-size   : rem-calc(14);
      line-height : rem-calc(16);
      font-weight : 400;
      @include breakpoint(small only) {
        border-bottom  : rem-calc(1) #dddddd solid;
        padding-top    : rem-calc(24);
        padding-bottom : rem-calc(27);
      }
    }
  }
}