.standard-banner {
  &__title {
    color          : white;
    font-size      : rem-calc(24);
    font-weight    : 300;
    padding-bottom : rem-calc(40);

    h1, h2, h3, h4 {
      font-weight : 300;
      line-height : 1.2;
    }

    @include breakpoint(medium up) {
      font-size : rem-calc(45);
    }
  }
}