.course-info {
  &__cell {
    width           : 100%;
    padding-bottom  : rem-calc(10);
    margin-bottom   : rem-calc(15);
    border-bottom   : rem-calc(1) solid #dcdcdc;
    align-items     : center;
  }
}