.subscribe-banner {
  &__desc {
    padding-top : rem-calc(20);
    opacity     : 0.6;
    color       : #ffffff;
    font-size   : rem-calc(14);

    @include breakpoint(medium up) {
      font-size : rem-calc(18);
    }
  }
}