.section-contact {
  &__table {
    width           : 100%;
    font-size       : rem-calc(14);
    line-height     : rem-calc(18);
    text-decoration : none;

    @include breakpoint(medium up) {
      font-size : rem-calc(15);
    }

    &-name {
      width : rem-calc(100);
    }

    td {
      padding-bottom : rem-calc(10);
      vertical-align : unset;

      @include breakpoint(medium up) {
        padding-bottom : rem-calc(15);
      }
    }
  }

  a {
    color           : #cb0f41;
    text-decoration : underline;

    &:hover {
      opacity : .6;
    }
  }
}