/* Import Module */

.section-dates, .section-tools {
  h5 {
    margin-bottom : rem-calc(15);
  }
}

.date-summary-container {
  font-size : rem-calc(14);
}

.date-summary-container .date-summary {
  padding     : 10px;
  border-left : 3px solid #cacaca;
}

.date-summary-container .date-summary-todays-date {
  border-left-color : $primary-color;
}

.date-summary-container .date-summary .h6 {
  margin-bottom : 0;
}

.date-summary-container .date-summary .description {
  margin-top    : 10px;
  margin-bottom : 0;
  display       : inline-block;
  color         : #444;
}