.tariff-plan {

  &__row, tbody tr {
    td {
      &:nth-last-child(-n+2)  {
        text-align: center;
        padding    : rem-calc(5 0);
      }

      text-align : left;
      padding : rem-calc(15);

    }
  }
}
