.region-buttons {
  .button-transparent {
    margin-bottom : rem-calc(20);
  }

  @include breakpoint(medium up) {
    .column {
      .button-transparent {
        border-right-color : transparent;
      }

      &:last-child {
        .button-transparent {
          border-right-color : #e5e5e5;
        }
      }
    }
  }
}