.course-specification {

  &__level {
    display       : inline-block;
    border        : rem-calc(1) solid #e5e5e5;
    color         : #444444;
    position      : relative;
    text-align    : center;
    padding       : rem-calc(25 60);
    width         : 100%;
    max-width     : rem-calc(230);
    margin-bottom : rem-calc(10);

    p {
      color         : inherit;
      font-size     : rem-calc(16);
      font-weight   : 700;
      margin-bottom : 0;
    }

    span {
      padding          : rem-calc(0 8);
      left             : 50%;
      bottom           : 0;
      transform        : translate(-50%, 50%);
      display          : inline-block;
      position         : absolute;
      font-size        : rem-calc(10);
      background-color : white;
      text-transform   : uppercase;
    }
  }

  &__level + &__level {
    margin-left: 0;

    @include breakpoint(medium up) {
      margin-left: rem-calc(-1);
    }
  }

}
