.authorization {

  &__log-in {
    @include breakpoint(medium up) {
      padding: rem-calc(0 16);
      margin-left: rem-calc(7);
    }

    @include breakpoint(small only) {
      margin-left: rem-calc(10);
    }

    a {
      white-space: nowrap;
      text-decoration: none !important;
    }
    span {
      text-decoration: underline;
    }
    @include breakpoint(small only) {
      svg + span {
        font-size: 0;
      }
    }
    .icon.user {
      vertical-align: middle;
      margin-top: rem-calc(-2);
      @include breakpoint(medium up) {
        margin-right: rem-calc(13);
      }
    }
    &:not(.user-name):last-child {
      display: none;
    }
    @include breakpoint(medium up) {
      &:last-child {
        position: relative;
        display: block;
        &::before {
          position: absolute;
          width: rem-calc(1);
          height: rem-calc(20);
          left: rem-calc(-4);
          top: 50%;
          transform: translateY(-50%);
          display: block;
          background-color: #e5e5e5;
          content: '';
        }
      }
    }
  }
}