.list-pages {
  &__title {
    color          : #222222;
    font-size      : rem-calc(16);
    font-weight    : 700;
    line-height    : rem-calc(17);
    text-transform : uppercase;
    padding-top    : rem-calc(20);
    padding-bottom : rem-calc(30);
  }
}