.standard-banner {
  &__wrapper {
    display          : block;
    padding          : rem-calc(30 0);
    background-color : rgba(38, 42, 53, 0.85);

    &.transparent {
      background-color : transparent;
    }

    @include breakpoint(medium up) {
      padding : rem-calc(70 0);
    }
  }
}