.service {
  &__title {
    color          : #cb0f41;
    font-size      : rem-calc(35);
    font-weight    : 300;
    text-transform : uppercase;

    @include breakpoint(medium up) {
      font-size : rem-calc(45);
    }
  }
}