.b-select {
  margin-bottom : rem-calc(15);

  &__container {
    & + .select2-container {
      font-size      : rem-calc(14);
      font-weight    : 700;
      text-transform : uppercase;
      box-shadow     : none;

      .select2-selection__arrow {
        background : url("../images/b-select/select-arrow.png") no-repeat center;
        transform  : rotate(0deg);
        height     : 100%;
        transition : 0.2s ease-in;
      }

      .select2-selection--single {
        border : rem-calc(1) solid #dcdcdc;
      }

    }

    & + .select2-container--open {
      .select2-selection__arrow {
        transform : rotate(180deg);
      }
    }

  }
}