.course-header {
  &__search {
    padding-top : rem-calc(20);
    bottom      : 0;
    right       : 0;
    width       : 100%;
    max-width   : rem-calc(860);
    min-height  : rem-calc(65);

    @include breakpoint(1150 up) {
      position : absolute;
    }

    form {
      label {
        display        : flex;
        flex-direction : column;
        width          : 100%;

        @include breakpoint(medium up) {
          flex-direction : row;
        }
      }
    }

    input {
      background       : url("/dist/images/course-header/search-icon.png") no-repeat 96% center;
      padding          : rem-calc(20 27);
      font-size        : rem-calc(18);
      width            : 100%;
      box-shadow       : rem-calc(0 6px 9px) rgba(1, 1, 1, 0.1);
      border-radius    : 0;
      height           : 100%;
      border           : rem-calc(1) solid #dbdcdc;
      background-color : #ffffff;
      margin-bottom    : rem-calc(20) !important;

      &::placeholder {
        color : #92969e;
      }

      @include breakpoint(medium up) {
        margin-bottom : 0 !important;
      }
    }

    button {
      cursor           : pointer;
      padding          : rem-calc(23 50);
      color            : #ffffff;
      font-size        : rem-calc(18);
      font-weight      : 700;
      width            : 100%;
      line-height      : rem-calc(18);
      text-transform   : uppercase;
      min-height       : rem-calc(50);
      background-color : #c61143;

      &:hover {
        background-color : scale-color(#c61143, $lightness : -10%);
      }

      @include breakpoint(medium up) {
        max-width : rem-calc(160);
      }
    }
  }
}