.product-card {
  &__desc {
    padding-top : rem-calc(10);
    font-size   : rem-calc(13);

    @include breakpoint(medium up) {
      min-height  : rem-calc(50);
      font-size : rem-calc(14);
    }
  }
}