.mobile-nav {
  background-color : #f2f2f2;

  &__phones {
    display          : flex;
    background-color : #cb0f41;
    a {
      height       : rem-calc(43);
      line-height  : rem-calc(43);
      width        : 50%;
      font-size    : rem-calc(14);
      font-weight  : 700;
      color        : #ffffff;
      padding-left : rem-calc(20);
      &:last-child {
        padding-left  : 0;
        padding-right : rem-calc(20);
      }
    }
  }
  &__list {
    list-style  : none;
    margin-left : 0;
    a {
      padding     : rem-calc(16 20 15);
      font-size   : 16px;
      font-weight : 400;
      line-height : 18px;
      color       : #444444;
      display     : block;
    }
    li {
      border-bottom : 1px solid #efefef;
    }
  }
  &__email {
    padding     : rem-calc(25 20);
    font-size   : 16px;
    font-weight : 400;
    a {
      color : #444444;
    }
  }
}