@import "__title/training-program__title";

.training-program {
  display         : flex;
  justify-content : center;
  flex-wrap       : wrap;

  &__content {
    padding-top : rem-calc(30);
  }

  &__more-info {
    cursor           : pointer;
    z-index          : 1;
    position         : absolute;
    right            : rem-calc(20);
    top              : rem-calc(15);
    transform        : translateX(50%);
    width            : rem-calc(23);
    height           : rem-calc(23);
    background-color : #eaeaea;
    border-radius    : 50%;
    color            : #444444;
    font-style       : normal;
    font-size        : rem-calc(15);

    &:hover {
      z-index          : 3;
      background-color : #1e222a;
      color            : white;
    }

    span {
      position  : absolute;
      left      : 50%;
      top       : 50%;
      transform : translate(-50%, -50%);
    }
  }

  &__info-box {
    display          : block;
    z-index          : 2;
    background-color : #343943;
    max-width        : rem-calc(370);
    padding          : rem-calc(20 30);
    color            : #aeb0b4;
    font-size        : rem-calc(14);

    h1, h2, h3, h4, h5, h6 {
      color : white;
    }
    strong {
      font-weight : bold;
      color       : white;
    }

    &::before {
      display      : none !important;
      border-color : transparent !important;
    }
  }

}