.course-card {
  &__tags {
    position       : absolute;
    right          : rem-calc(17);
    top            : rem-calc(20);
    display        : flex;
    align-items    : flex-end;
    flex-direction : column;
  }

  &__tag {
    color          : #ffffff;
    font-size      : rem-calc(12);
    font-weight    : 700;
    line-height    : rem-calc(22);
    padding-left   : rem-calc(16);
    padding-right  : rem-calc(16);
    height         : rem-calc(22);
    margin-bottom  : rem-calc(2);
    white-space    : nowrap;
    text-transform : uppercase;
    border-radius  : rem-calc(2);
    &.pink {
      background-image : linear-gradient(to top, #f64574 0%, #e97695 100%);
    }
    &.green {
      background-image : linear-gradient(to top, #7abb2f 0%, #83d02a 100%);
    }
  }
}