
.training-exam-wrap {
  width     : auto;
  margin    : rem-calc(0 -10);
  display   : flex;
  flex-wrap : wrap;
}

.training-exam-box {
  width     : 100%;
  max-width : rem-calc(540);
  padding   : rem-calc(0 10);

}

.training-exam {
  cursor    : pointer;
  max-width : rem-calc(520);
  width     : 100%;
  display   : flex;
  flex-wrap : wrap;
  border    : rem-calc(1) solid #dcdddd;
  margin    : rem-calc(0 0 20);

  &__inner {

    flex    : 1 1 auto;
    width   : 100%;
    padding : rem-calc(20);

    @include breakpoint(medium up) {
      flex  : 0 1 auto;
      width : 50%;
    }

    .button {
      padding       : rem-calc(10 25);
      font-size     : rem-calc(16);
      margin-bottom : rem-calc(20);
    }

    &--bg {
      background-color : #f7f7f7;
    }
  }

  &__number {
    color          : #cb0f41;
    font-size      : rem-calc(30);
    padding-bottom : rem-calc(25);
    font-weight    : 300;
    line-height    : rem-calc(30);
    text-transform : uppercase;
  }

  &__desc {
    color     : #444444;
    font-size : rem-calc(14);

    p {
      font-size     : inherit;
      margin-bottom : rem-calc(10);
    }
  }

  &.is-active {
    padding : 0;
    border  : rem-calc(1) solid $primary-color;

    /*&::after {   //аналог для бордера, возможно удалить
      display  : inline-block;
      position : absolute;
      left     : 0;
      top      : 0;
      bottom   : 0;
      right    : 0;
      margin   : rem-calc(0 -2);
      width    : auto;
      height   : 100%;
      border   : rem-calc(2) solid $primary-color;
    } */

  }
}