.course-card {
  &__desc {
    padding-top : rem-calc(25);
    font-size   : rem-calc(14);
    line-height : rem-calc(18);

    p {
      font-size     : inherit;
      line-height   : inherit;
      margin-bottom : 0;
    }
  }
}