.callback-banner {
  &__desc {
    padding-top : rem-calc(30);
    color       : #ffffff;
    font-size   : rem-calc(14);
    font-weight : 300;
    line-height : rem-calc(25);
    max-width   : rem-calc(600);

    @include breakpoint(medium up) {
      font-size : rem-calc(18);
    }

    p {
      font-size     : inherit;
      line-height   : inherit;
      font-weight   : inherit;
      margin-bottom : 0;
    }
  }

  span {
    opacity : .6;
  }
}