.feedback-header {
  &__position {
    color         : #444444;
    font-size     : rem-calc(14);
    padding-top   : rem-calc(6);
    padding-right : rem-calc(80);
    span {
      display     : block;
      line-height : rem-calc(16);
    }
  }
}