@import "__card/instructors__card";
@import "__branch/instructors__branch";
@import "__name/instructors__name";
@import "__photo/instructors__photo";

.instructors {
  padding-top : rem-calc(70);
  @include breakpoint(420px down) {
    .row.small-up-2 .column {
      flex      : 0 0 100%;
      max-width : 100%;
    }
  }
}