.course-module {
  &__back {
    display     : none;
    visibility  : hidden;
    position    : absolute;
    top         : 50%;
    transform   : translateY(-50%);
    right       : rem-calc(10);
    font-weight : 700;

    svg {
      position    : relative;
      top         : rem-calc(5);
      display     : inline-block;
      width       : rem-calc(17);
      height      : rem-calc(17);
      margin-left : rem-calc(3);
      fill        : $course-modules-color;
    }
  }

  a.last > &__back {

    @include breakpoint(medium up) {
      display    : inline-block;
      visibility : visible;
    }

  }
}