
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 200;
  src: local('Proxima Nova Thin'), local('Proxima Nova-Light'), url("../fonts/ProximaNovaT-Thin.woff") format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: local('Proxima Nova Light'), local('Proxima Nova-Light'), url("../fonts/ProximaNova-Light.woff") format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: local('Proxima Nova'), local('Proxima Nova-Regular'), url("../fonts/ProximaNova-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: local('Proxima Nova Medium'), local('Proxima Nova-Medium'), url("../fonts/ProximaNova-Semibold.woff") format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: local('Proxima Nova Bold'), local('Proxima Nova-Bold'), url("../fonts/ProximaNova-Bold.woff") format('woff');
}