.icon {

  &.facebook {
    width  : rem-calc(10);
    height : rem-calc(17);
  }

  &.twitter {
    width  : rem-calc(18);
    height : rem-calc(14);
  }

  &.vk {
    width  : rem-calc(20);
    height : rem-calc(12);
  }

  &.youtube {
    width  : rem-calc(18);
    height : rem-calc(12);
  }

  &.linkedin {
    width  : rem-calc(15);
    height : rem-calc(14);
  }

  &.habr {
    width  : rem-calc(12);
    height : rem-calc(14);
  }

  &.google+ {
    width  : rem-calc(20);
    height : rem-calc(14);
  }

  &.instagram {
    width  : rem-calc(16);
    height : rem-calc(16);
  }

  &.telegram {
    width  : rem-calc(14);
    height : rem-calc(14);
  }
}