.content-bordered {
  border  : rem-calc(1) solid #e5e5e5;
  padding : rem-calc(25);

  &--bg {
    background-color : #f7f7f7;
  }

  & + & {
    margin-top : rem-calc(-1);
  }
}

.b-editor {

  a.button {
    opacity     : 1 !important;
    font-weight : 600;
    font-size   : rem-calc(16);

    &.small {
      font-size : rem-calc(13);
    }
  }

  &--small {
    font-size : rem-calc(14) !important;

    .button.small {
      margin : rem-calc(0 0 10) !important;
    }

    p {
      margin-bottom : rem-calc(10) !important;
    }

    p > strong {
      font-size : rem-calc(16);
      color     : #444444;
    }

    a {
      color           : #cb0f41;
      font-size       : rem-calc(14);
      line-height     : rem-calc(14);
      text-decoration : underline;
      &:hover {
        opacity : .6;
      }

      &.button {
        @include breakpoint(small only) {
          font-size   : rem-calc(13);
          line-height : rem-calc(13);
        }
      }
    }

    a.button {
      color       : #ffffff;
      font-weight : 600;
    }
  }

  &--border {
    border : rem-calc(1) solid #e5e5e5;
  }

  color       : #444444;
  font-size   : rem-calc(16);
  line-height : rem-calc(22);

  p {
    font-size     : inherit;
    line-height   : inherit;
    margin-bottom : rem-calc(25);
  }

  strong {
    color       : #222222;
    font-size   : rem-calc(18);
    font-weight : 700;
  }

  ul {
    list-style    : none;
    margin-left   : 0;
    margin-bottom : rem-calc(25);
    li {
      position      : relative;
      padding-left  : rem-calc(30);
      color         : #444444;
      font-size     : rem-calc(14);
      line-height   : rem-calc(18);
      margin-bottom : rem-calc(19);
      @include breakpoint(medium up) {
        padding-left : rem-calc(50);
      }
      &::before {
        content          : "";
        position         : absolute;
        display          : inline-block;
        top              : rem-calc(10);
        left             : rem-calc(3);
        width            : rem-calc(18);
        height           : rem-calc(1);
        background-color : #cb0f41;
        @include breakpoint(medium up) {
          left  : rem-calc(17);
          width : rem-calc(32);
        }
      }

      &:last-child {
        margin-bottom : 0;
      }
    }

    @include breakpoint(medium up) {
      li {
        font-size     : rem-calc(16);
        line-height   : rem-calc(22);
        padding-left  : rem-calc(58);
        padding-right : rem-calc(47);
        margin-bottom : rem-calc(22);

        &::before {
          top  : rem-calc(10);
          left : rem-calc(17);
        }
      }
    }
  }

  .button {
    margin-top    : rem-calc(25);
    margin-bottom : rem-calc(25);
  }
  ul + h5, ul + p {
    padding-top : rem-calc(25);
  }

  p + ul {
    padding-top : 0;
  }

  h2 + ul {
    padding-top : 0;
  }

  ul + ul {
    padding-top : rem-calc(15);
  }

  &.tiny {
    ul {
      padding-top : 0;
    }
  }

  a.button {
    text-decoration : none;
  }

  a {
    text-decoration : underline;
  }

  &--small-ul {
    @include breakpoint(medium up) {
      ul {
        li {
          margin-bottom : rem-calc(8);
          padding-left  : rem-calc(20);
          &::before {
            top   : 1.1rem;
            left  : -0.3rem;
            width : rem-calc(14);
          }
        }
      }
    }
  }

}

.button {
  text-transform : uppercase;
  @include breakpoint(small only) {
    font-size      : rem-calc(16);
    padding-top    : rem-calc(12);
    padding-bottom : rem-calc(13);
  }

  &.small {
    font-size : rem-calc(13);
    padding   : 1.2rem 1.5em;
  }

  &.small-expanded {
    @include breakpoint(small only) {
      display      : block;
      width        : 100%;
      margin-right : 0;
      margin-left  : 0
    }
  }
}

hr {
  background-color : #e5e5e5;
  border-color     : #e5e5e5;
}

.b-title {
  position       : relative;
  color          : #444444;
  font-weight    : 300;
  text-transform : uppercase;
  margin-bottom  : rem-calc(70);

  &::after {
    content          : "";
    position         : absolute;
    left             : 0;
    bottom           : rem-calc(-23);
    background-color : #dcdcdc;
    width            : 100%;
    height           : rem-calc(1);
  }

  &.flex-container {
    margin-bottom : rem-calc(18);
    &::after {
      display : none;
    }
    @include breakpoint(medium up) {
      margin-bottom : 0;
      height        : 100%;
      align-items   : center;
      h1, h2, h3, h4, h5 {
        margin-bottom : 0;
      }
    }
  }
}

.button {
  border      : none;
  position    : relative;
  text-shadow : none !important;
  font-family : $base-font-family !important;
  &::after, &::before {
    border-radius    : rem-calc(4);
    content          : "";
    display          : inline-block;
    position         : absolute;
    top              : 0;
    width            : rem-calc(10);
    height           : 100%;
    background-color : inherit;
    transition       : transform ease-out .25s;
  }

  &::before {
    left : 0;
  }

  &::after {
    right : 0;
  }

  &:hover {
    &::after, &::before {
      opacity : 1;
    }
    &::after {
      transform : translateX(#{rem-calc(5)});
    }

    &::before {
      transform : translateX(#{rem-calc(-5)});
    }
  }

  &:visited {
    color : #fff;
  }
}

.medium-align-center {
  @include breakpoint(medium up) {
    height      : 100%;
    align-items : center;
  }
}

h1, h2, h3 h4, h5 {
  margin-bottom : .7em;
}

html {
  font-size : $global-font-size !important;
}

body {
  line-height : 1.4 !important;
  font-size   : 14px !important;
}

textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  border           : 1px solid #d8d8d8;
  height           : rem-calc(43);
  background-color : #ffffff;
  font-family      : $body-font-family;
  font-size        : 16px;
  font-weight      : 300;
  color            : #444444;
  padding-left     : 14px;
  padding-right    : 14px;
  margin-bottom    : 0 !important;
  &:last-child {
    margin-right : 0;
  }
  &::placeholder {
    color   : #444;
    opacity : .3;
  }
  &:hover {
    border-color : #c1c1c1;
  }
  &:active, &:focus {
    box-shadow   : none;
    border-color : #444;
  }
}

textarea {
  height : rem-calc(90);
}

select {
  border-radius    : 3px;
  border           : 1px solid #d8d8d8;
  height           : rem-calc(43);
  background-color : #ffffff;
  font-family      : $body-font-family;
  font-size        : 16px;
  font-weight      : 300;
  color            : #444444;
  padding-left     : 14px;
  margin-bottom    : 0 !important;
}

label {
  font-family : $body-font-family !important;
}

.checkbox-wrap {
  position : relative;
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
input[type="checkbox"] {
  vertical-align : top;
  margin         : 0 3px 0 0;
  width          : 17px;
  height         : 17px;
}

/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
input[type="checkbox"] + label {
  cursor      : pointer;
  margin-left : 0;
  color       : #444444;
  font-size   : 14px;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
input[type="checkbox"]:not(checked) {
  position : absolute;
  opacity  : 0;
}

input[type="checkbox"]:not(checked) + label {
  position    : relative; /* будем позиционировать псевдочекбокс относительно label */
  padding     : 0 0 0 30px; /* оставляем слева от label место под псевдочекбокс */
  line-height : 20px !important;
  font-weight : 400 !important;
}

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
input[type="checkbox"] + label:before {
  content    : '';
  position   : absolute;
  width      : 19px;
  height     : 19px;
  border     : 1px solid #d8d8d8;
  left       : 0;
  background : #fff;
}

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
input[type="checkbox"]:not(checked) + label:after {
  content          : '';
  position         : absolute;
  top              : 5px;
  left             : 4px;
  width            : 12px;
  height           : 9px;
  opacity          : 0;
  background-image : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAAtUlEQVQoU2NkIBLsF3AQcPxw4AMjMeqPCjnPZ/zPYMD4/28gQQ1QxQkMDAwXfv7/68gIsoqdgdnB6sPeDei2oSsGO+mYoPN6BgaGAMb//xMtP+xbANIEMoSNibmf8T8D3GSQYpAc41EBVwNGxn/7GRgYBECafjD828DOyAziG8CcAVMM1gAikDUxMDA8YGBgUPjPyLDA+t3eRHRnwj0N1QRyHk7FcBtgpkDczlJg/W5PA67gBgASXVJgY2xmMAAAAABJRU5ErkJggg==);
}

/* Сдвигаем переключатель чекбокса, когда он включен. */
input[type="checkbox"]:checked + label:after {
  opacity : 1;
}

.owl-next, .owl-prev {
  &.disabled, &.disabled:hover {
    opacity : .6;
    div {
      cursor : not-allowed !important;
    }
  }
}

.text-box {
  padding-top : 40px;
  @include breakpoint(medium up) {
    padding-top : rem-calc(100);
  }
}

.red-title {
  font-size     : 40px;
  font-weight   : 300;
  margin-bottom : 5px;
  color         : #cb0f41;
}

.b-editor.check {
  h4 {
    font-size      : 22px;
    font-weight    : 700;
    line-height    : 24px;
    border-bottom  : 1px solid rgba(0, 0, 0, .1);
    margin-bottom  : 28px;
    padding-bottom : 22px;
  }

  ul {
    padding-top   : 0;
    margin-bottom : 15px;
    li {
      position        : relative;
      padding-left    : rem-calc(26);
      text-decoration : underline;
      font-size       : 14px;
      line-height     : 16px;
      margin-bottom   : 12px;
      &::before {
        content          : '';
        position         : absolute;
        background-image : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAAu0lEQVQoU52RsQ2DMBBF7zfUtEgu4g1YgU3IBskkyQZkk6zABqS4E2WoaS46ZCJDDBJxYcmS3/P3P9Afi5lrAI2qnnGUn+HADYcEa1hVq0nQ9/2pKIrXXpoU7JxrEf/HOfdISbZguwsReRNRbgcrZS1h5huASxC34zhW3vthfsgSlACeKYmINERUb8FTAtu6rsuzLDNJGZLcAViqXfgrSEmiLn5ixz0txrhOQkS78CLBbI0kBl/jwlIT+gBnL3uSF9GIxAAAAABJRU5ErkJggg==);
        width            : 16px !important;
        height           : 11px !important;
        background-color : transparent !important;
        left             : 0;
        top              : rem-calc(6);
      }
    }
  }
}

.spacer {
  overflow : hidden;
}

.aside-widget {
  margin-bottom : 60px;
  &__title {
    font-size      : 30px;
    font-weight    : 300;
    text-transform : uppercase;
    color          : #cb0f41;
    border-bottom  : 1px solid rgba(0, 0, 0, .1);
    padding-bottom : 11px;
    margin-bottom  : 22px;

    &.small {
      padding-top    : rem-calc(10);
      font-size      : rem-calc(25);
      padding-bottom : rem-calc(10);
    }
  }

  a {
    display         : block;
    color           : #444444;
    font-size       : rem-calc(16);
    font-weight     : 700;
    line-height     : rem-calc(16);
    margin-bottom   : rem-calc(15);
    text-decoration : underline;

    &:hover {
      color : $primary-color;
    }
  }

  a.button {
    &:hover {
      color : white;
    }
  }

  p {
    font-size     : 14px;
    margin-bottom : 26px;
  }

  label {
    margin-bottom : 10px;
    display       : block;
  }

  input {
    font-size    : 16px;
    padding-left : 16px;
    font-weight  : 700;
  }

  .button {
    margin-top : 30px;
  }
}

.aside-menu {
  list-style-type : none;
  margin-left     : 0;
  @include breakpoint(large up) {
    padding-left : 20px;
    border-left  : 1px solid rgba(0, 0, 0, .1);
  }

  li {
    font-size     : 14px;
    line-height   : 1.2;
    margin-bottom : 12px;
  }

  a {
    color : #444;
    &:hover {
      opacity : .6;
    }
  }
}

.tabs-panel {
  display : none;

  &.is-active {
    display : block;
  }
}

.tabs-title {
  padding : 0 !important;

  &::before {
    display : none !important;
  }

}

.register-label {
  flex        : 1 1 20%;
  display     : flex;
  font-size   : 16px;
  align-items : center;
}

.register-input {
  flex : 1 1 80%;

  label {
    width : 100%;
  }

  p {
    color     : #444444;
    font-size : rem-calc(12);
  }
}

.register-wrap {
  padding-top : rem-calc(50);

  .flex-container {
    margin-bottom : rem-calc(10);
  }
}

.video-container {
  position       : relative;
  padding-bottom : 56.25%;
  padding-top    : 30px;
  height         : 0;
  overflow       : hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

@each $size in 10, 20, 30, 40, 50, 60 {
  .spacer-#{$size} {
    height : #{$size/1.5}px;
  }
  @include breakpoint(medium up) {
    .spacer-#{$size} {
      height : #{$size}px;
    }
  }
}

.flex-container.direction-column {
  flex-direction : column;
}

.flex-container.flex-wrap {
  flex-wrap       : wrap;
  justify-content : space-between;
}

.flex-container.space-between {
  justify-content : space-between;
}

.skip-role {
  display       : inline-block;
  padding       : rem-calc(20 0 0);
  font-size     : rem-calc(18);
  border-bottom : rem-calc(1) dashed #444444;
}

// Возможно удалить
/*.register-social-wrap {
  width          : auto;
  display        : flex;
  flex-direction : column;
  margin         : rem-calc(0 -7);

  @include breakpoint(large up) {
    flex-direction : row;
  }

}

.btn-soc {
  padding : rem-calc(12);
  flex    : 1 0 auto;
  margin  : rem-calc(0 14 20);

}

*/