@import "__list/about-us__list";

.about-us {
  padding-top    : rem-calc(30);
  padding-bottom : rem-calc(30);
  @include breakpoint(medium up) {
    padding-top    : rem-calc(100);
    padding-bottom : rem-calc(50);
  }
}