.subscribe-banner {
  &__title {
    color          : #ffffff;

    font-size      : rem-calc(24);
    font-weight    : 300;
    padding-bottom : rem-calc(40);

    @include breakpoint(medium up) {
      font-size : rem-calc(45);
    }
  }
}