.accordion-large-wrap {
  padding-top : rem-calc(60);
}

.accordion-large {

  &--alt {
    .accordion-large {
      &__title {
        color          : #222222;
        font-size      : rem-calc(15);
        font-weight    : 700;
        line-height    : rem-calc(24);
        text-transform : none;
        border-bottom  : none;
        span {
          padding-right : rem-calc(60);
          @include breakpoint(medium up) {
            font-size     : rem-calc(18);
          }
        }
      }

      &__item {
        &.is-active {
          .accordion-large {
            &__title {
              span {
                &::before {
                  opacity : 0;
                  display : none;
                }
              }
            }
          }
        }
      }
    }

  }

  list-style  : none;
  margin-left : 0;

  &__item {

    margin-bottom : rem-calc(23);

    &.is-active {
      .accordion-large {
        &__title {

          .icon {

            &.plus {
              opacity : 0;
            }

            &.minus {
              opacity : 1;
            }
          }

          span {
            &::before {
              opacity : 1;
            }
          }
        }
      }
    }
  }

  &__title {
    display        : block;
    position       : relative;
    color          : #444444;
    font-size      : rem-calc(20);
    font-weight    : 300;
    text-transform : uppercase;
    border-bottom  : rem-calc(1) solid #dcdcdc;

    @include breakpoint(medium up) {
      font-size : rem-calc(25);
    }

    .icon {
      display  : inline-block;
      position : absolute;
      right    : 0;
      top      : rem-calc(5);
      width    : rem-calc(19);
      height   : rem-calc(19);
      fill     : #b4b4b4;

      &.plus {
        opacity : 1;
      }

      &.minus {
        opacity : 0;
      }
    }

    span {
      position       : relative;
      padding-bottom : rem-calc(10);
      display        : inline-block;

      &::before {
        content          : '';
        opacity          : 0;
        z-index          : 1;
        position         : absolute;
        display          : inline-block;
        width            : 100%;
        height           : rem-calc(1);
        bottom           : rem-calc(-1);
        left             : 0;
        background-color : $primary-color;
        transition       : opacity 0.2s;
      }
    }

    @include breakpoint(medium up) {
      font-size : rem-calc(30);
    }
  }

  &__content {
    padding-top : rem-calc(50);
  }

  .review-button {
    display   : none;
    z-index   : 2;
    position  : absolute;
    left      : rem-calc(210);
    cursor    : pointer;
    top       : rem-calc(12);
    color     : #444444;
    font-size : rem-calc(14);

    @include breakpoint(large up) {
      display : inline-block;
    }
  }
}