<div class="accordion-large-wrap">

    <ul class="accordion-large" data-accordion>

        <li class="accordion-large__item"  data-accordion-item>
            <a href="" class="accordion-large__title"><span>О курсе</span>
                <svg class="icon plus">
                    <use xlink:href="#images--svg--plus"></use>
                </svg>
                <svg class="icon miuns">
                    <use xlink:href="#images--svg--minus"></use>
                </svg>
            </a>
            <div class="accordion-large__content accordion-content" data-tab-content>
                <p>lore test</p>
            </div>
        </li>

        <li class="accordion-large__item"  data-accordion-item>
            <a href="" class="accordion-large__title"><span>Расписание и цены</span>
                <svg class="icon plus">
                    <use xlink:href="#images--svg--plus"></use>
                </svg>
                <svg class="icon miuns">
                    <use xlink:href="#images--svg--minus"></use>
                </svg>
            </a>
            <div class="accordion-large__content accordion-content" data-tab-content>
                <p>lore test</p>
            </div>
        </li>

    </ul>
</div>