.instructors {
  &__name {
    padding-top : rem-calc(20);
    color       : #222222;
    font-size   : rem-calc(16);
    font-weight : 700;
    line-height : rem-calc(22);

    a {
      color       : inherit;
      font-size   : inherit;
      font-weight : inherit;

      &:hover {
        opacity : .6;
      }

      &:active {
        opacity : .3;
      }
    }

    @include breakpoint(large up) {
      padding-right : rem-calc(20);
    }
  }
}