.rating-star {
  display         : flex;
  align-items     : center;
  justify-content : center;
  cursor          : pointer;
  width           : rem-calc(42);
  height          : rem-calc(42);
  border          : rem-calc(1) solid #d8d8d8;

  svg {
    stroke       : #737070;
    fill         : rgba(255, 255, 255, 0);
    stroke-width : rem-calc(5);
    width        : rem-calc(15);
    height       : rem-calc(15);
    transition   : 0.2s ease-in;
  }

  & + & {
    margin-right : rem-calc(-1);
  }

  &:hover {
    svg {
      fill   : $primary-color;
      stroke : $primary-color;
    }

    & ~ .rating-star {
      svg {
        fill   : $primary-color;
        stroke : $primary-color;
      }
    }
  }
}

.rating-star-wrap {
  display         : flex;
  direction       : rtl;
  justify-content : flex-end;

  .rating-star:first-child {
    border-radius : rem-calc(0 4 4 0);

  }

  .rating-star:last-child {
    border-radius : rem-calc(4 0 0 4);
  }
}