.found-list {
  &__top {
    display         : flex;
    justify-content : space-between;
    width           : auto;
    padding-right   : rem-calc(20);
    padding-left    : rem-calc(20);
    padding-bottom  : rem-calc(15);
    border-bottom   : rem-calc(1) solid #dcdcdc;
    margin-left     : rem-calc(-20);
    margin-right    : rem-calc(-20);

    @include breakpoint(medium up) {
      padding-right : 0;
      padding-left  : 0;
      margin-left   : 0;
      margin-right  : 0;
    }

  }
}