.discount-banner {
  &__price {
    display     : none;
    color       : #ffd74b;
    font-size   : rem-calc(40);
    font-weight : 400;
    line-height : rem-calc(77);

    @include breakpoint(1200 up) {
      display : block;
    }
  }
}