.pagination-select {
  display         : flex;
  justify-content : space-between;
  max-width       : rem-calc(235);
  height          : rem-calc(50);
  width           : 100%;
  align-items     : center;

  span {
    width       : 100%;
    max-width   : rem-calc(125);
    font-size   : rem-calc(14);
    font-weight : 400;
  }

  .b-select {
    border-radius : 0;
    margin-bottom : 0;

    &__container {
      & + .select2-container {
        .select2-selection.select2-selection--single {
          display     : flex;
          align-items : center;
          height      : rem-calc(50);
          width       : rem-calc(100);
        }

      }
    }

  }
}