@import "__title/callback-banner__title";
@import "__desc/callback-banner__desc";
@import "__button/callback-banner__button";
@import "__wrapper/callback-banner__wrapper";
@import "__input/callback-banner__input";
@import "__form/callback-banner__form";

.callback-banner {
  background      : url("/dist/images/callback-banner/bg.jpg") no-repeat left top;
  background-size : cover;
}