.section-contact {
  &__title {
    color          : #222222;
    font-size      : rem-calc(16);
    font-weight    : 700;
    line-height    : rem-calc(24);
    padding-bottom : rem-calc(20);

    @include breakpoint(medium up) {
      font-size      : rem-calc(21);
      padding-bottom : rem-calc(30);
    }
  }
}