.b-table {
  border-collapse : collapse;

  td {
    padding : rem-calc(10 5);
    border  : rem-calc(1) solid #e5e5e5;
  }

  sup {
    top   : -0.2em;
    font-size: 90%;
    color : #bababa;
  }

  .add-note {
    display : block;
    color   : #bababa;
  }

  .font-medium {
    font-size : rem-calc(17);
  }

  .font-large {
    font-size : rem-calc(22);
  }

  p {
    margin-bottom : rem-calc(7);
  }

  a {
    text-decoration : underline;
  }

  ol {
    font-size   : rem-calc(18);
    @include breakpoint(medium up) {
      font-size : rem-calc(22);
    }
    padding     : rem-calc(20 0);
    font-weight : 600;
    li {
      font-weight   : 400;
      font-size     : rem-calc(14);
      margin-bottom : rem-calc(5);
    }
  }

}