@import "__name/course-info__name";
@import "__cell/course-info__cell";
@import "__value/course-info__value";
@import "--course-page/course-info--course-page";
@import "__discount/course-info__discount";
@import "--basis-10/course-info--basis-10";

.course-info {
  color     : #444444;
  font-size : rem-calc(14);
  @include breakpoint(small only) {
    padding-top : rem-calc(30);
  }
}