.filter {

  &__title {
    padding-bottom : rem-calc(20);
    border-bottom  : rem-calc(1) solid #dcdcdc;
    margin-bottom  : rem-calc(30);

    & * {
      color          : #cb0f41;
      font-weight    : 300;
      margin-bottom  : 0;
      text-transform : uppercase;
    }

  }

}