.product-card {
  &__icons {
    @include breakpoint(1160 up) {
      display : block;
    }
    display       : none;
    padding-right : rem-calc(30);
    span {
      display : inline-block;
      padding : rem-calc(0 5);

      &:first-child {
        padding-left : 0;
      }
    }
  }
}