.expertise {
  &__button {
    position  : relative;
    display   : inline-block;
    color     : #444444;
    width     : 100%;
    font-size : rem-calc(14);
    padding   : rem-calc(15 20);

    &::after {
      position     : absolute;
      content      : "";
      display      : inline-block;
      right        : 0;
      width        : 0;
      height       : 0;
      border-style : solid;
      border-width : rem-calc(7px 0 7px 8px);
      border-color : transparent transparent transparent #cb0f41;

    }

    @include breakpoint(medium up) {
      font-size : rem-calc(16);

      &::after {
        left         : 0;
        width        : 0;
        height       : 0;
        border-style : solid;
        border-width : rem-calc(13px 0 13px 14px);
        border-color : transparent transparent transparent #cb0f41;
      }
    }

    @include breakpoint(large up) {
      max-width    : rem-calc(210);
      padding-left : 0;
      top          : rem-calc(-135);

      &::after {
        bottom : rem-calc(-50);
      }

    }
  }
}