.certificate-amount {
  &__result {
    display      : flex;
    margin-right : rem-calc(19);
    font-size    : rem-calc(15);
    font-weight  : 700;
    small {
      font-size   : rem-calc(14);
      font-weight : 400;
    }
  }
  &__result-icon {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : rem-calc(45);
    height          : rem-calc(45);
    border          : 1px solid #7dc933;
    border-radius   : 50%;
    margin          : rem-calc(2 19 0 1);
    .icon {
      width  : rem-calc(19);
      height : rem-calc(19);
      fill   : #7dc933;
    }
  }
}