.header-top {
  &__flag {
    display         : inline-block;
    width           : rem-calc(20);
    height          : rem-calc(13);
    background-size : 100%;
    vertical-align  : middle;
    margin-top      : rem-calc(-2);
    margin-right    : rem-calc(7);
    @include breakpoint(medium up) {
      width        : rem-calc(30);
      height       : rem-calc(20);
      margin-right : rem-calc(12);
    }
  }

  &__country {
    text-decoration : none !important;

    span:last-child {
      text-decoration : underline;
    }
  }
}