.advantages {
  &__icon {
    display             : inline-block;
    position            : relative;
    border-radius       : 50%;
    width               : rem-calc(68);
    height              : rem-calc(68);
    background-color    : #c61143;
    background-image    : url("../images/advantages/advantages__icon/check-icon.png");
    background-repeat   : no-repeat;
    background-position : center;
  }
}