.areas {
  &__card {
    position : relative;
    overflow : hidden;
    display  : block;
    width    : 100%;
    border   : rem-calc(1) solid #e5e5e5;
    left     : 0;

    &:hover {
      box-shadow : rem-calc(0 6px 9px) rgba(1, 1, 1, 0.1);

      .areas {
        &__img {
          .photo {
            span {
              transform : scale(1.2);
            }
          }
        }
      }
    }

    &:visited, &:active {
      box-shadow : 0 3px 5px rgba(1, 1, 1, 0.1);
      .areas {

        &__title {
          opacity : .3;
        }
      }
    }
  }

}