.feedback-header {
  &__photo {
    position      : absolute;
    right         : 0;
    top           : rem-calc(32);
    border-radius : 50%;
    width         : rem-calc(72);
    height        : rem-calc(72);
  }
}