.button-transparent {
  display          : inline-block;
  width            : 100%;
  text-align       : center;
  padding          : rem-calc(26 0);
  color            : #444444;
  font-size        : rem-calc(16);
  font-weight      : 700;
  line-height      : rem-calc(16);
  border           : rem-calc(1) solid #e5e5e5;
  background-color : transparent;
  cursor           : pointer;
  transition       : background-color 0.2s ease-in;

  &:hover {
    background-color : #f5f4f2;
  }
}